n8n-portfolio/02-Lavadero/Agente_de_reservas_lavadero.json
{"updatedAt":"2025-10-08T18:33:58.000Z","createdAt":"2025-07-26T16:46:17.965Z","id":"i7fgup4NkO2OcmW8","name":"Agente de reservas lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields4').item.json.key_mem }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[432,1344],"id":"99425f68-042b-4b88-8ca5-d46083540cb6","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QCoAcQcoqEoHVdww","name":"Lavadero mitre"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[544,1376],"id":"d603951b-8920-4291-a64f-19bc93a66ddc","name":"Think"},{"parameters":{"description":"LLama a esta tool para realizar las reservas del cliente.","workflowId":{"__rl":true,"value":"sbXOVP58zXsordtI","mode":"list","cachedResultName":"Reservar citas lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Sevicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sevicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Sevicio","displayName":"Sevicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1040,1248],"id":"5e358f57-0179-4848-bec2-ab1a44f81718","name":"reservar_cita"},{"parameters":{"description":"Herramienta encargada de comprobar las fechas ingresadas","workflowId":{"__rl":true,"value":"9GMRY1oO9EmtAip1","mode":"list","cachedResultName":"Comprobar fecha lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[944,1312],"id":"41aa33ad-b4a9-45e6-8583-69971f8a556a","name":"comprobar_fecha"},{"parameters":{"description":"LLama a esta herramienta para modificar citas.","workflowId":{"__rl":true,"value":"lUbLosM4QHjR9798","mode":"list","cachedResultName":"Modificar cita lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Fecha actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_actual', `Fecha actual de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}","Fecha nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-13T15:30:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha actual","displayName":"Fecha actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha nueva","displayName":"Fecha nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,1200],"id":"83298318-e1a9-4e19-8c97-06eda40fc494","name":"modificar_cita"},{"parameters":{"description":"LLama a esta herramienta cuando el cliente requiera atencion extra o quiere ser atendido por un humano.","workflowId":{"__rl":true,"value":"DoYK5W1XgZVtrrAO","mode":"list","cachedResultName":"Enviar asesor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_del_usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Asunto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Asunto', `Descripcion de en que necesita ayuda el usuario`, 'string') }}"},"matchingColumns":["numero_del_usuario"],"schema":[{"id":"numero_del_usuario","displayName":"numero_del_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Asunto","displayName":"Asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1376,1072],"id":"73001b41-99c9-48f7-9eea-495351d05e8a","name":"enviar_asesor"},{"parameters":{"description":"LLama a esta herramienta para cancelar la cita.","workflowId":{"__rl":true,"value":"btEV7GQDi0sVjebH","mode":"list","cachedResultName":"Cancelar cita lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha la cual quiere ser eliminada en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1264,1136],"id":"35787d1d-125e-445c-b2c5-d731c1637733","name":"cancelar_cita"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.response }}\nEl numero de telefono del usuario es:{{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres un **asistente de reservas** ARGENTINO llamado Beto para el **Lavadero Mitre**. \nTu rol es atender a los clientes respondiendo preguntas frecuentes, gestionando reservas, modificaciones y cancelaciones de citas y respondiendo mensajes a clientes.\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think** (IMPORTANTE)\n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta.\n\n- **conocimiento**  \n  Usar siempre para responder cualquier pregunta o duda que tenga el cliente respecto al negocio, horarios, servicios, etc.\n\n- **buscar_usuario** IMPORTANTE\nUsa esta herramienta para buscar al usuario en la base de datos para verificar si esta registrado en el crm.\n\n- **registrar_usuario**: si el usuario no existe en el CRM debes registrarlo\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **comprobar_fecha**:\n  Para comprobar la fecha antes de reservar.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n- **derivar_humano**  \n  Para derivar a asesor humano cuando se necesite ayuda extra o el cliente lo requiera.\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n- Lo primero de todo es verificar si el usuario existe en el CRM con \"buscar_usuario\". (OBLIGARORIO)\n- Si el usuario existe , llamalo por su nombre (sin apellido), que bueno verte de nuevo y preguntale que desea realizar.\n- Si el usuario no existe, preguntale su NOMBRE y APELLIDO y registralo en el CRM con tu herramienta \"registrar_usuario\", luego pregunta que desea realizar.\n-Los nombres y los apellidos pueden tener 2 letras o mas.\n\n- Para **reservar una cita**:\n  - Pregunta siempre al usuario la **fecha y hora** en que desea su cita y solicita el servicio y dale las opciones disponibles consultando en \"conocimiento\" y presentalos en fomato lista con numero.\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  - Es obligatorio usar `comprobar_fecha` antes de realizar la reserva y de solicitar el nombre y servicio.\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n- Usa `conocimiento` para responder cualquier duda sobre horarios, servicios, consultas o información general del negocio.\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Sé amable, claro y breve en tus respuestas.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n- Para **derivar atencion a un asesor**: deriva atencion a un asesor cuando el cliente necesite ayuda extra\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Si es un servicio oficial llama a \"conocimiento\" con el nombre exacto\n- Si es una pregunta llama a \"conocimiento\" con la frase textual del cliente\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n-Cuando se abra la conversacion siempre debes presentarte como Beto, el asistente del lavadero. Con una energia muy alegre, energico y calido.\n- Siempre cierra con una actitud cálida, profesional y empática\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Si el cliente no se acuerda del horario de su fecha, dale la opcion de derivar a un asesor para ser atendido.\n-Una misma persona te puede pedir que agendes mas de una cita para sus distintos vehiculos, organizate bien y dale instrucciones claras al usuario.\n-No todos los usuarios se comunican para agendar una cita, como es un lavadero, los vehiculos despues de dejarlos hay que retirarlos, entones puede ser que algun usuario te haga preguntas sobre eso. Ejemplo:\n      -\"A que hora lo puedo pasar a retirar?\"\"\nLo que tienes que responder: \"Aproximadamente una hora despues de tu cita, igual no te preocupes, alguien de nuestro equipo se comunicara con vos cuando este listo\"\n-Si recibes un comprobante de pago unicamente agradece y decile que lo esperamos de vuelta. (no ofrezcas una cita)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[608,944],"id":"e1d83f78-a723-4c29-93c3-d066de998917","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,1264],"id":"46df0560-1898-4074-bb75-290458d999bc","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a967ec0a-b568-4058-91ce-b32d03cc3522","name":"text","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,1280],"id":"50167034-aec3-48fb-be22-74738dba0b36","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[672,1712],"id":"da398576-4468-4194-ac68-e4e8e06e0141","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Herramienta para responder a preguntas especificas del usuario.","pineconeIndex":{"__rl":true,"value":"lavadero","mode":"list","cachedResultName":"lavadero"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[688,1568],"id":"6d3a06e7-412c-4538-8acc-e0d2e69f3461","name":"conocimiento1","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[688,1424],"id":"b5a180c5-ff19-4714-bf26-d89273e99d8f","name":"registrar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Se debe usar para ver si el numero del usuario esta registrado en la base de datos.","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefono","lookupValue":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[864,1424],"id":"55dcf1a8-a482-48fb-aaf0-7d307c11738c","name":"buscar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Webhook1').item.json.body.instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Webhook1').item.json.body.data.key.id }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1840,944],"id":"f818a936-0fe9-476c-9a28-d3a917f94df0","name":"Evolution bot","credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"5c91d254-848a-4f11-96d7-2f8a4df65fda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b379ce4d-5f51-4873-9412-87fc2289ed48","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd147d86-059e-48d9-b5e7-80bd8e457ce7","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2496,928],"id":"f2a1d987-feb3-47e6-99d6-f0d65bd6e380","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1968,656],"id":"d86a722a-1143-4312-a339-5b3994133984","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1760,656],"id":"e617630a-bf5e-40c9-ba5a-2508f7fea1ea","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1552,656],"id":"8e522d1a-6c8d-4b57-b36e-32e9ca046be4","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"9e25c9cd-a470-4705-9ac6-edeaef169c63","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1bb12fa-32e2-46fd-80da-8e600d6382d8","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"81273d1f-496a-4aab-84b1-ecf78d2a53d0","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"25db6808-d8f8-4e83-89f7-90c58bca0ced","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,944],"id":"312811aa-3fc8-41b6-a199-1f679ce70110","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"imagemessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,944],"id":"81323ba6-1172-4357-b277-f183072cc78f","name":"Edit Fields5"},{"parameters":{"operation":"toBinary","sourceProperty":"imagemessage_base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1904,944],"id":"0495e79a-39aa-4384-a83d-cd619981437b","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1696,944],"id":"ff96c3bd-db2c-419b-9774-6b67b491c070","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1696,1152],"id":"a16c9b75-dc5c-4f36-a60e-4176ec9dc569","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3088,1184],"id":"e5a6417e-b911-414d-83be-6c82975dded3","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0bff70e-a95a-4cd2-9a2b-bafb74e9bd9f","leftValue":"={{ $json.Telefono }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3632,960],"id":"5d6f324b-cca0-4341-af59-43bf2ac82be0","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8f207b36-fb8f-4506-ad50-9b8d3137fee3","leftValue":"={{ $json.Telefono }}","rightValue":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3808,960],"id":"e9dab078-5ec7-4727-b924-ab910050d679","name":"Filter","alwaysOutputData":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Telefono":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","Modo":"Bot"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3408,1088],"id":"1b928ac2-a277-45c5-a45b-1997e7c3615f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3984,960],"id":"994a8c02-8f0a-4032-b375-64c6f7602dbb","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,944],"id":"56969a2c-57a2-40b7-9af4-eb2cc664ac65","name":"Mercar mensajes como leidos","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid}}","messageText":"={{ $('AI Agent1').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,944],"id":"63913461-45ee-41c5-a46f-5756c27ca923","name":"Cerrar interaccion","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdffa525-49eb-4c99-9620-eeadae7c0b47","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"5492344475106","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4208,976],"id":"36b7cb3d-84c9-4ad3-bbe7-870ffb114d4b","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3984,1168],"id":"45509253-cacc-4abd-9b3c-8594cd8bc772","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,944],"id":"453c0dba-7d82-4d6d-9a0e-a4ca83c20456","name":"Redis","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis10').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,944],"id":"e0a3d539-09ec-42ef-afd2-d7d926de3532","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,1168],"id":"cc8e299f-60b5-4bd7-a21d-5ae1cdd8b38c","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,944],"id":"3a07bbe1-7f50-4e00-ae57-3f18ae8c8b23","name":"Wait","webhookId":"0a64e419-6904-4df8-a1c6-f00757e58bf3"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $json['telefono_del _usuario'] }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-416,944],"id":"f11a6e94-e33a-4a17-9e61-85533f051d42","name":"Redis10","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Edit Fields4').item.json.mensaje }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,944],"id":"6682a79a-01da-4b0c-a448-31f05b805160","name":"If3"},{"parameters":{"operation":"push","list":"={{ $json['telefono_del _usuario'] }}","messageData":"={{ $json.mensaje }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,944],"id":"1918e987-70d8-4158-bcc2-920efcbebc0f","name":"Redis8","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4400,976],"id":"11c2a9f9-723b-463b-b9b7-c7e51d057518","name":"Mercar mensajes como leidos1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cd86dc-b693-4467-99a4-31301750634c","leftValue":"={{ $json.Modo }}","rightValue":"Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3232,960],"id":"31f2b65d-3bb8-4b2d-b525-612039bded18","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM Lav.Mitre","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":612448841,"mode":"list","cachedResultName":"Mensaje de ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=612448841"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2992,944],"id":"b605dd9b-708b-4912-bc0f-4addf213e4a4","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29e97cf6-389b-4d81-afde-3255a0ed8189","leftValue":"={{ $json.Activo }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2816,944],"id":"dec3258f-7819-484b-95d8-9fef16f21759","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"CQ0pytqaJhbmoiFJ","mode":"list","cachedResultName":"Agente ausencia lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body_data_message_conversation":"={{ $('Webhook1').item.json.body.data.message.conversation }}","body_instance":"={{ $('Webhook1').item.json.body.instance }}","Mensaje":"={{ $('Get row(s) in sheet').item.json.Mensaje }}","body_data_key_remoteJid_split":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","ID":"={{ $('Webhook1').item.json.body.data.key.id }}"},"matchingColumns":["body_data_message_conversation","Mensaje","body_data_key_remoteJid_split","body_instance","body_data_key_remoteJid"],"schema":[{"id":"body_data_message_conversation","displayName":"body_data_message_conversation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_data_key_remoteJid_split","displayName":"body_data_key_remoteJid_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_instance","displayName":"body_instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,1184],"name":"Call Agente ausencia lavadero","id":"a7dd3af8-376b-4f07-8741-94d4f85056b9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"058581e6-358b-470f-ae9d-814a7ee89e56","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5492995010828@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4672,976],"id":"e8661d71-ef90-46bc-b2d5-0143dc461cbe","name":"If5"},{"parameters":{"workflowId":{"__rl":true,"value":"Vf5m966Qb2rJgD20","mode":"list","cachedResultName":"Consultas y modificaciones lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.mensaje }}","id":"={{ $json.body.data.key.id }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3344,560],"id":"78cd1f22-1e9d-4bca-bbe0-9a4fe2f346f2","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4080,672],"id":"fffe6966-0c1d-488c-aaf3-ded5d4bffe46","name":"Edit Fields6"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3904,672],"id":"bec3dccc-1f47-482f-b6c6-fbebd4cb0a02","name":"Convert to File2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3712,672],"id":"a691eab1-d80a-487f-b045-9a499b3e9b49","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"902fff40-e636-4060-86fb-8e28bec0687a","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4336,576],"id":"65ae078c-d7e4-4078-92d3-64e224f13cba","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"007bb66e-cc34-43e8-aae6-6e24a21c7225","name":"mensaje","value":"={{ $json.body.data.message.conversation }}{{ $json.text }}","type":"string"},{"id":"d4d314ea-94c3-4e0c-a183-e29075b2aed2","name":"body.data.key.id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3504,560],"id":"a45ee16e-b7b2-461f-8e23-8d6216e0d10d","name":"Edit Fields7"},{"parameters":{"httpMethod":"POST","path":"f41781b8-2107-4878-808e-22d453801ff5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4912,976],"id":"25fe5809-e23d-4829-802f-5e68b8747596","name":"Webhook1","webhookId":"f41781b8-2107-4878-808e-22d453801ff5"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"reservar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"comprobar_fecha":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"modificar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"enviar_asesor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"cancelar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Mercar mensajes como leidos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"conocimiento1","type":"ai_embedding","index":0}]]},"conocimiento1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"buscar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Mercar mensajes como leidos":{"main":[[{"node":"Cerrar interaccion","type":"main","index":0}]]},"Cerrar interaccion":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis10","type":"main","index":0}]]},"Redis10":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Mercar mensajes como leidos1":{"main":[[{"node":"If2","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"If":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Call Agente ausencia lavadero","type":"main","index":0}]]},"If5":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Mercar mensajes como leidos1","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"apps-n8n.q9w1i5.easypanel.host","user-agent":"axios/1.7.9","content-length":"5439","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"apps-n8n.q9w1i5.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d9e71cc81665","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Juanma Lavadero","data":{"key":{"remoteJid":"5492344501235@s.whatsapp.net","fromMe":false,"id":"AC2881F68C66E0F07AE6C6D4409E2211"},"pushName":"nico","status":"DELIVERY_ACK","message":{"contactMessage":{"displayName":"Mariano","vcard":"BEGIN:VCARD\nVERSION:3.0\nN:;;;;\nFN:Mariano\nitem1.TEL;waid=5492345667127:+54 9 2345 66-7127\nitem1.X-ABLabel:Celular\nPHOTO;BASE64:/9j/4AAQSkZJRgABAQAAAQABAAD/4gHYSUNDX1BST0ZJTEUAAQEAAAHIAAAAAAQwAABtbnRyUkdCIFhZWiAH4AABAAEAAAAAAABhY3NwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAACRyWFlaAAABFAAAABRnWFlaAAABKAAAABRiWFlaAAABPAAAABR3dHB0AAABUAAAABRyVFJDAAABZAAAAChnVFJDAAABZAAAAChiVFJDAAABZAAAAChjcHJ0AAABjAAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAAgAAAAcAHMAUgBHAEJYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9YWVogAAAAAAAA9tYAAQAAAADTLXBhcmEAAAAAAAQAAAACZmYAAPKnAAANWQAAE9AAAApbAAAAAAAAAABtbHVjAAAAAAAAAAEAAAAMZW5VUwAAACAAAAAcAEcAbwBvAGcAbABlACAASQBuAGMALgAgADIAMAAxADb/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCABgAGADASIAAhEBAxEB/8QAHAAAAgMBAQEBAAAAAAAAAAAABQYDBAcBAgAI/8QAQhAAAgEDAwEFBQQGBgsAAAAAAQIDAAQRBRIhMQYTQVFhInGBkaEyQrHBFCNSctHhFSViY/DxByQzNUNEZIKiwtL/xAAZAQADAQEBAAAAAAAAAAAAAAACAwQBAAX/xAAjEQACAwACAgMAAwEAAAAAAAABAgADERIhMUEEE1EiIzKR/9oADAMBAAIRAxEAPwBGvr6S1WMqgbe23k4xVSbWLjuwFMUZznKtnPp0rutLItqC20gSA8D30NE1rt/2GTjjr/GuRQRsNyQYRg7SXMMQV4lkI+8WwT9KuQ9rps4FnGT++f4UtMUwNqsPUtn8qM6HpEWpQzPIJSUYD2GA6+8Uwog7IgcmPQjjo1++p2C3JjCEsV2g56URkuI7S2eedtsaDk0E7II50ZlVgAs7LyM+VTdqzNHYQRIwBeQtgDrgfzqbiC+RwJzZe03VpL5mkNjLHbjJ7zrgeZ44o0o9KU+zc+vRrBJY7JQZGjeNkXgAA8+/J+VOEVrKihWZQVGOmaxhjZGMuKCNnNmRVO5XGKING4H2v/Gh90rblyfh502rzEP4huCMNbxcHlRVae1zd24PG6QLx60bsbfdbQsASdi/hUd3b7NUsFKkgzrkjw54pqMQYDDRMc1qylk0+bYjOwwQFGSeRS89tc7Dts5wScH9Sf8A5rShEhP2QakFvGRnbU62FRHMoMzKOCdYSrafOxBJ3GM8cD0qWw0qXUnK24HHXc2K0a6ss6dc92rd40LBQPE4OKQtFuJbWVJYsey65BP2hnp5UZtJUkTq61LgHxHPsdaS2mnXNvMu2SO4IYeXsrRHtBpgvtIeReJrdTJGfdyR8QPwqn/SNvolxKjCSV2VV2kAZfwJPu/Cq9xrGp6pGscMaw28g6IfteYJ/KlprnlDsXgxSVOzMzIY1jDCYyg5A8MEc/OtFEW3qMYOOnjS12e023hkRnUmZRu25IFOZ1KdFRYUQpglkxwVAyTjx/nTPrJbZhs1AsoMnBNC7sYdffTk1lDfaebmCLu51G50HQjAJ48OD4Uq3yDvkH9quA4tFHsR00uAf0fbcf8ACX8Kg1GIDUNP4/5lPxojpCltJtWHH6tR8hVbURnU9PH/AFCn61o8wDMySEFuvuqwkIJHFfRqSUHnVzuJYwDJGyg9CVxmkZHTwEVEZ2wFQFifICk+DsjcajbXeqWM6sC7y/oxjIOA2Rjz48PSifafWGsDb2CLj9KDd5IT0XyHvNNH+j5kFkqkjJYjBPXmiHU4H3Mqub+4vpLppwqumwKqjG0KMUydmpcwNFkhThip6EjxHrULWciXtzLbD/W7VpFZQudxjby8eBn3ZqDs5IzrG8Rbehwdo5+R60dbddQrASdPuNqEpfIhUqMEhhzxjqKc9PtYprRnYqwPOcfZOOopZs+7kmtv0i1eFwcJIoKKfn09PL3cU5WNqsFsUGcj7ORjj8/fTgYqUOzF8LiZ0YY3Ivsn0GD+dB9btTa6iYiCNsnGfLw+lV7mO90SG3uoSVjbKsy9VOen+PWiF0janNZM0h3Sjl3JJ4H+VIe4AgGNNJ48xG/Qx/Ulr+5+dVr4f1xpw/v1q3oIxoVpn9j8zUF4M63p4/vc0QMRMye5mtincW7SyEnw4XGOvzpoWYy6ExuY1SUoCUBzhvQ0B029huJrXvYpEa552DBKjwJ/lRLUcQXaQmF1ywRTvyrgjO7Hh4j4VOpIJMusUfWqlcPnf2IXbzS3MMOpICdqiKTyAySp+ZI+VVOx2pCLUNrk7WAzmtHbTrbU7eawuhmKVShHiPIj1B5+FY9HIunai8MUglWKRl34wJFz5eo5o7F5oQIumzg4Jmr6dpdrZatNf3G/mRpgRyOfH3daVLa0t4r7ULizMf6M104hGNyhc8f506aZq1mnZ0TXEgQFCEJJ5wpOPkKTdLikXSoZrYB027nVCGwR4/x8vrS6SeGxl4/sIjZozmO4Qdy8HTPduXjkHuP408REdwAMjHgOgpE0pYpO7kjcQyNkvC52kHzXPBB8v5U4RXDG1cm3clFySrqMjzxk1Yp6khHcE9s5e50GGFes0qj4Dk/XFDHMi2Fm4YqU4BBwRmua5eLf6lY6b3gdoAxbLDJYsQB8AB86vaxALW2hiX7pA48TUjfyfZTvCrPZjjoS40O0HkmPqaguedesB/bJqzov+5bX9z8zQzU1Mmu2YJO1SCMee5adJJnnZ+7sZJY7zcRcbBGyFiChHUAfnUmu65I/aK0ght3l2qCqjALn2unpjPyrPrXWmjuhMmmXHsk4wSDyMfdwaISa/ePqltqC6ZcyzW/CAqQuMHrxz9o+NTjc4kS1jyO7uCGL/tg0Utz3IERWEgL1bvCOMH0OMikKGB5faQjPgD48UU1d3u45r1rCaCSVy7+0diknngjzIrmiossiMygtk4J6ZxVfxl5bsk+W+ZnoRk0G7S87K6hbyKDJbxO6g9R7JBx8CR8aVtJvriwdprWRo2VA3s+hGPxpo7NJbr2uv8oNogBwfAnAP4/WlGSOO0ub22WTeELRI4+9hxz8hmkgcHar87jmJetbT7Gf8jvpfaLUJLGZkmtETKhg6FVLHOMgHnoeaL22uald2pgE6RccpBwOnvJ9etIGmTxppN2zN7fexAKenR8n8PnTV2cKTyArJCW/YJzkentcUNhYCbXhMZdF0WG4v1vjZySNCAdqkLz1GckZ6dKJa9ITGjSoYsNyGIPHwzXBrN1psaWtvZqysN4ycHJODkfCu6zi7ZI5V2+yGkB+7kZP+PWpjctdekxzVtbb4jBoetWTW1tZb27/ABtUbDhhycg+VcuW3a7Av7IDZ97gflUHZu3jaOS82KrxjuYwB0XqTn1zj4VbZQdVVhyQQvyKN/7VRU5ZATJbVVXIE/Kn6TcLAJGuT7RIVQOTjx9KkSXUGAIEjZ5zkVBKvtXEaoPYBOR6GipjfuYDCxyyg4OPSjOZ4mjdzZAr6i42FJGB8N45+tEdIkKXAU4wHGfnU2nxyjabhZVKk8ooO7nj6VFoUYnvERxuUNuI8wCKd8Y63UR8n/IJhu/gn0mBtWtpmSaZu7Ix1GM/TApTjOEFN3ai4JttNg2hV2Oxx1JyMZHhxSlMhilXPCsOBTL1HLkIFLMVCkyzbwTyRSvGhZEXe+PAZAz9abOyOJXxjCrwTtz+VVdFtzLoN3sk2Aja7Djg5zUXZm9Ww1NY5ATubGRjj6VC781I/JclfBwP2aRNYW73kN5JdhHRAAG+z48/WppJGWZe8VnWZj+syMdeM+/NDbudbu7jLF3tLYAhGH3yeB+HwHrXobprpJriVdoYM2QABjofhXj3DkfPiW/ctWcvZjZ2aM0MUscz71kUNGxwCQODkDxzn5VbiYteh84LTSgf9rqv4LQaxv5LWdVeIOsZcjYcZBx7Jz455z/gyxX7sbV3hZWTcX2vnLMQT8OTXoVfIQVjTPPvxbDs/9k=\nEND:VCARD"},"messageContextInfo":{"deviceListMetadata":{"recipientKeyHash":"GSEuQgIUlvn7Ww==","recipientTimestamp":"1759529525"},"deviceListMetadataVersion":2,"messageSecret":"+UCsQO2SUVvB+nClRW/EG6IeMCUFXAyQXuYWNES8Ue8="}},"contextInfo":null,"messageType":"contactMessage","messageTimestamp":1759925988,"instanceId":"4762d893-5caf-4f95-84c0-ab52ad9fbf22","source":"android"},"destination":"https://apps-n8n.q9w1i5.easypanel.host/webhook/f41781b8-2107-4878-808e-22d453801ff5","date_time":"2025-10-08T09:19:49.055Z","sender":"5492344475106@s.whatsapp.net","server_url":"https://apps-evolution-api.q9w1i5.easypanel.host","apikey":"FE44C3AB6D46-4AC6-8D6A-9E17884DB433"},"webhookUrl":"https://apps-n8n.q9w1i5.easypanel.host/webhook/f41781b8-2107-4878-808e-22d453801ff5","executionMode":"production"}}]},"versionId":"91cc34d5-befa-490f-8bed-b2427ad578f9","activeVersionId":"91cc34d5-befa-490f-8bed-b2427ad578f9","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2025-07-26T16:46:17.970Z","createdAt":"2025-07-26T16:46:17.970Z","role":"workflow:owner","workflowId":"i7fgup4NkO2OcmW8","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"91cc34d5-befa-490f-8bed-b2427ad578f9","workflowId":"i7fgup4NkO2OcmW8","nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields4').item.json.key_mem }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[432,1344],"id":"99425f68-042b-4b88-8ca5-d46083540cb6","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"QCoAcQcoqEoHVdww","name":"Lavadero mitre"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[544,1376],"id":"d603951b-8920-4291-a64f-19bc93a66ddc","name":"Think"},{"parameters":{"description":"LLama a esta tool para realizar las reservas del cliente.","workflowId":{"__rl":true,"value":"sbXOVP58zXsordtI","mode":"list","cachedResultName":"Reservar citas lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Sevicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sevicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Sevicio","displayName":"Sevicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1040,1248],"id":"5e358f57-0179-4848-bec2-ab1a44f81718","name":"reservar_cita"},{"parameters":{"description":"Herramienta encargada de comprobar las fechas ingresadas","workflowId":{"__rl":true,"value":"9GMRY1oO9EmtAip1","mode":"list","cachedResultName":"Comprobar fecha lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[944,1312],"id":"41aa33ad-b4a9-45e6-8583-69971f8a556a","name":"comprobar_fecha"},{"parameters":{"description":"LLama a esta herramienta para modificar citas.","workflowId":{"__rl":true,"value":"lUbLosM4QHjR9798","mode":"list","cachedResultName":"Modificar cita lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Fecha actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_actual', `Fecha actual de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}","Fecha nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-13T15:30:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha actual","displayName":"Fecha actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha nueva","displayName":"Fecha nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,1200],"id":"83298318-e1a9-4e19-8c97-06eda40fc494","name":"modificar_cita"},{"parameters":{"description":"LLama a esta herramienta cuando el cliente requiera atencion extra o quiere ser atendido por un humano.","workflowId":{"__rl":true,"value":"DoYK5W1XgZVtrrAO","mode":"list","cachedResultName":"Enviar asesor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_del_usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Asunto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Asunto', `Descripcion de en que necesita ayuda el usuario`, 'string') }}"},"matchingColumns":["numero_del_usuario"],"schema":[{"id":"numero_del_usuario","displayName":"numero_del_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Asunto","displayName":"Asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1376,1072],"id":"73001b41-99c9-48f7-9eea-495351d05e8a","name":"enviar_asesor"},{"parameters":{"description":"LLama a esta herramienta para cancelar la cita.","workflowId":{"__rl":true,"value":"btEV7GQDi0sVjebH","mode":"list","cachedResultName":"Cancelar cita lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha la cual quiere ser eliminada en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1264,1136],"id":"35787d1d-125e-445c-b2c5-d731c1637733","name":"cancelar_cita"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.response }}\nEl numero de telefono del usuario es:{{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres un **asistente de reservas** ARGENTINO llamado Beto para el **Lavadero Mitre**. \nTu rol es atender a los clientes respondiendo preguntas frecuentes, gestionando reservas, modificaciones y cancelaciones de citas y respondiendo mensajes a clientes.\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think** (IMPORTANTE)\n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta.\n\n- **conocimiento**  \n  Usar siempre para responder cualquier pregunta o duda que tenga el cliente respecto al negocio, horarios, servicios, etc.\n\n- **buscar_usuario** IMPORTANTE\nUsa esta herramienta para buscar al usuario en la base de datos para verificar si esta registrado en el crm.\n\n- **registrar_usuario**: si el usuario no existe en el CRM debes registrarlo\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **comprobar_fecha**:\n  Para comprobar la fecha antes de reservar.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n- **derivar_humano**  \n  Para derivar a asesor humano cuando se necesite ayuda extra o el cliente lo requiera.\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n- Lo primero de todo es verificar si el usuario existe en el CRM con \"buscar_usuario\". (OBLIGARORIO)\n- Si el usuario existe , llamalo por su nombre (sin apellido), que bueno verte de nuevo y preguntale que desea realizar.\n- Si el usuario no existe, preguntale su NOMBRE y APELLIDO y registralo en el CRM con tu herramienta \"registrar_usuario\", luego pregunta que desea realizar.\n-Los nombres y los apellidos pueden tener 2 letras o mas.\n\n- Para **reservar una cita**:\n  - Pregunta siempre al usuario la **fecha y hora** en que desea su cita y solicita el servicio y dale las opciones disponibles consultando en \"conocimiento\" y presentalos en fomato lista con numero.\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  - Es obligatorio usar `comprobar_fecha` antes de realizar la reserva y de solicitar el nombre y servicio.\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n- Usa `conocimiento` para responder cualquier duda sobre horarios, servicios, consultas o información general del negocio.\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Sé amable, claro y breve en tus respuestas.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n- Para **derivar atencion a un asesor**: deriva atencion a un asesor cuando el cliente necesite ayuda extra\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Si es un servicio oficial llama a \"conocimiento\" con el nombre exacto\n- Si es una pregunta llama a \"conocimiento\" con la frase textual del cliente\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n-Cuando se abra la conversacion siempre debes presentarte como Beto, el asistente del lavadero. Con una energia muy alegre, energico y calido.\n- Siempre cierra con una actitud cálida, profesional y empática\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Si el cliente no se acuerda del horario de su fecha, dale la opcion de derivar a un asesor para ser atendido.\n-Una misma persona te puede pedir que agendes mas de una cita para sus distintos vehiculos, organizate bien y dale instrucciones claras al usuario.\n-No todos los usuarios se comunican para agendar una cita, como es un lavadero, los vehiculos despues de dejarlos hay que retirarlos, entones puede ser que algun usuario te haga preguntas sobre eso. Ejemplo:\n      -\"A que hora lo puedo pasar a retirar?\"\"\nLo que tienes que responder: \"Aproximadamente una hora despues de tu cita, igual no te preocupes, alguien de nuestro equipo se comunicara con vos cuando este listo\"\n-Si recibes un comprobante de pago unicamente agradece y decile que lo esperamos de vuelta. (no ofrezcas una cita)"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[608,944],"id":"e1d83f78-a723-4c29-93c3-d066de998917","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,1264],"id":"46df0560-1898-4074-bb75-290458d999bc","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a967ec0a-b568-4058-91ce-b32d03cc3522","name":"text","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1760,1280],"id":"50167034-aec3-48fb-be22-74738dba0b36","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[672,1712],"id":"da398576-4468-4194-ac68-e4e8e06e0141","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Herramienta para responder a preguntas especificas del usuario.","pineconeIndex":{"__rl":true,"value":"lavadero","mode":"list","cachedResultName":"lavadero"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[688,1568],"id":"6d3a06e7-412c-4538-8acc-e0d2e69f3461","name":"conocimiento1","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[688,1424],"id":"b5a180c5-ff19-4714-bf26-d89273e99d8f","name":"registrar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Se debe usar para ver si el numero del usuario esta registrado en la base de datos.","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefono","lookupValue":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[864,1424],"id":"55dcf1a8-a482-48fb-aaf0-7d307c11738c","name":"buscar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Webhook1').item.json.body.instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Webhook1').item.json.body.data.key.id }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1840,944],"id":"f818a936-0fe9-476c-9a28-d3a917f94df0","name":"Evolution bot","credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"5c91d254-848a-4f11-96d7-2f8a4df65fda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b379ce4d-5f51-4873-9412-87fc2289ed48","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd147d86-059e-48d9-b5e7-80bd8e457ce7","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2496,928],"id":"f2a1d987-feb3-47e6-99d6-f0d65bd6e380","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1968,656],"id":"d86a722a-1143-4312-a339-5b3994133984","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1760,656],"id":"e617630a-bf5e-40c9-ba5a-2508f7fea1ea","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1552,656],"id":"8e522d1a-6c8d-4b57-b36e-32e9ca046be4","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"9e25c9cd-a470-4705-9ac6-edeaef169c63","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1bb12fa-32e2-46fd-80da-8e600d6382d8","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"81273d1f-496a-4aab-84b1-ecf78d2a53d0","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"25db6808-d8f8-4e83-89f7-90c58bca0ced","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1136,944],"id":"312811aa-3fc8-41b6-a199-1f679ce70110","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"imagemessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,944],"id":"81323ba6-1172-4357-b277-f183072cc78f","name":"Edit Fields5"},{"parameters":{"operation":"toBinary","sourceProperty":"imagemessage_base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1904,944],"id":"0495e79a-39aa-4384-a83d-cd619981437b","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-1696,944],"id":"ff96c3bd-db2c-419b-9774-6b67b491c070","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1696,1152],"id":"a16c9b75-dc5c-4f36-a60e-4176ec9dc569","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3088,1184],"id":"e5a6417e-b911-414d-83be-6c82975dded3","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0bff70e-a95a-4cd2-9a2b-bafb74e9bd9f","leftValue":"={{ $json.Telefono }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3632,960],"id":"5d6f324b-cca0-4341-af59-43bf2ac82be0","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8f207b36-fb8f-4506-ad50-9b8d3137fee3","leftValue":"={{ $json.Telefono }}","rightValue":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3808,960],"id":"e9dab078-5ec7-4727-b924-ab910050d679","name":"Filter","alwaysOutputData":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Telefono":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","Modo":"Bot"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3408,1088],"id":"1b928ac2-a277-45c5-a45b-1997e7c3615f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"options":{"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3984,960],"id":"994a8c02-8f0a-4032-b375-64c6f7602dbb","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1504,944],"id":"56969a2c-57a2-40b7-9af4-eb2cc664ac65","name":"Mercar mensajes como leidos","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid}}","messageText":"={{ $('AI Agent1').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1680,944],"id":"63913461-45ee-41c5-a46f-5756c27ca923","name":"Cerrar interaccion","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdffa525-49eb-4c99-9620-eeadae7c0b47","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"5492344475106","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4208,976],"id":"36b7cb3d-84c9-4ad3-bbe7-870ffb114d4b","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3984,1168],"id":"45509253-cacc-4abd-9b3c-8594cd8bc772","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[240,944],"id":"453c0dba-7d82-4d6d-9a0e-a4ca83c20456","name":"Redis","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis10').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,944],"id":"e0a3d539-09ec-42ef-afd2-d7d926de3532","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,1168],"id":"cc8e299f-60b5-4bd7-a21d-5ae1cdd8b38c","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,944],"id":"3a07bbe1-7f50-4e00-ae57-3f18ae8c8b23","name":"Wait","webhookId":"0a64e419-6904-4df8-a1c6-f00757e58bf3"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $json['telefono_del _usuario'] }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-416,944],"id":"f11a6e94-e33a-4a17-9e61-85533f051d42","name":"Redis10","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Edit Fields4').item.json.mensaje }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,944],"id":"6682a79a-01da-4b0c-a448-31f05b805160","name":"If3"},{"parameters":{"operation":"push","list":"={{ $json['telefono_del _usuario'] }}","messageData":"={{ $json.mensaje }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-896,944],"id":"1918e987-70d8-4158-bcc2-920efcbebc0f","name":"Redis8","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4400,976],"id":"11c2a9f9-723b-463b-b9b7-c7e51d057518","name":"Mercar mensajes como leidos1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cd86dc-b693-4467-99a4-31301750634c","leftValue":"={{ $json.Modo }}","rightValue":"Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3232,960],"id":"31f2b65d-3bb8-4b2d-b525-612039bded18","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM Lav.Mitre","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":612448841,"mode":"list","cachedResultName":"Mensaje de ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=612448841"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2992,944],"id":"b605dd9b-708b-4912-bc0f-4addf213e4a4","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29e97cf6-389b-4d81-afde-3255a0ed8189","leftValue":"={{ $json.Activo }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2816,944],"id":"dec3258f-7819-484b-95d8-9fef16f21759","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"CQ0pytqaJhbmoiFJ","mode":"list","cachedResultName":"Agente ausencia lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body_data_message_conversation":"={{ $('Webhook1').item.json.body.data.message.conversation }}","body_instance":"={{ $('Webhook1').item.json.body.instance }}","Mensaje":"={{ $('Get row(s) in sheet').item.json.Mensaje }}","body_data_key_remoteJid_split":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","ID":"={{ $('Webhook1').item.json.body.data.key.id }}"},"matchingColumns":["body_data_message_conversation","Mensaje","body_data_key_remoteJid_split","body_instance","body_data_key_remoteJid"],"schema":[{"id":"body_data_message_conversation","displayName":"body_data_message_conversation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_data_key_remoteJid_split","displayName":"body_data_key_remoteJid_split","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_instance","displayName":"body_instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,1184],"name":"Call Agente ausencia lavadero","id":"a7dd3af8-376b-4f07-8741-94d4f85056b9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"058581e6-358b-470f-ae9d-814a7ee89e56","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5492995010828@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4672,976],"id":"e8661d71-ef90-46bc-b2d5-0143dc461cbe","name":"If5"},{"parameters":{"workflowId":{"__rl":true,"value":"Vf5m966Qb2rJgD20","mode":"list","cachedResultName":"Consultas y modificaciones lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.mensaje }}","id":"={{ $json.body.data.key.id }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3344,560],"id":"78cd1f22-1e9d-4bca-bbe0-9a4fe2f346f2","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4080,672],"id":"fffe6966-0c1d-488c-aaf3-ded5d4bffe46","name":"Edit Fields6"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3904,672],"id":"bec3dccc-1f47-482f-b6c6-fbebd4cb0a02","name":"Convert to File2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3712,672],"id":"a691eab1-d80a-487f-b045-9a499b3e9b49","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"902fff40-e636-4060-86fb-8e28bec0687a","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4336,576],"id":"65ae078c-d7e4-4078-92d3-64e224f13cba","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"007bb66e-cc34-43e8-aae6-6e24a21c7225","name":"mensaje","value":"={{ $json.body.data.message.conversation }}{{ $json.text }}","type":"string"},{"id":"d4d314ea-94c3-4e0c-a183-e29075b2aed2","name":"body.data.key.id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3504,560],"id":"a45ee16e-b7b2-461f-8e23-8d6216e0d10d","name":"Edit Fields7"},{"parameters":{"httpMethod":"POST","path":"f41781b8-2107-4878-808e-22d453801ff5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-4912,976],"id":"25fe5809-e23d-4829-802f-5e68b8747596","name":"Webhook1","webhookId":"f41781b8-2107-4878-808e-22d453801ff5"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"reservar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"comprobar_fecha":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"modificar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"enviar_asesor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"cancelar_cita":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Mercar mensajes como leidos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"conocimiento1","type":"ai_embedding","index":0}]]},"conocimiento1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"buscar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Mercar mensajes como leidos":{"main":[[{"node":"Cerrar interaccion","type":"main","index":0}]]},"Cerrar interaccion":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis10","type":"main","index":0}]]},"Redis10":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Mercar mensajes como leidos1":{"main":[[{"node":"If2","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]},"If":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Switch","type":"main","index":0}],[{"node":"Call Agente ausencia lavadero","type":"main","index":0}]]},"If5":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Mercar mensajes como leidos1","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If5","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-10-08T18:33:58.000Z","id":7,"workflowId":"i7fgup4NkO2OcmW8","versionId":"91cc34d5-befa-490f-8bed-b2427ad578f9","event":"activated","userId":null}]}}