n8n-portfolio/02-Lavadero/Agente_ausencia_lavadero.json
{"updatedAt":"2025-09-05T02:32:08.000Z","createdAt":"2025-08-26T16:49:31.213Z","id":"CQ0pytqaJhbmoiFJ","name":"Agente ausencia lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2688,1696],"id":"a7e690e6-3fa9-4287-b522-15f440517bf4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Start').item.json.body_instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Start').item.json.ID }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid_split }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2048,1536],"id":"843f83ae-d1da-4cdb-9129-9e1905fda8c8","name":"Evolution bot1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $('Start').item.json.body_data_message_conversation }}","options":{"systemMessage":"=Eres Beto, asistente argentino del Lavadero Mitre.\nSaluda si te saludan, despídete si se despiden.\nInforma siempre que el lavadero no estará en servicio en las fechas: {{ $json.Mensaje }}.\nSi preguntan otra cosa, recuerda amablemente que el lavadero está cerrado hasta después de esas fechas.\n\nReglas:\n-NO OFREZCAS CITAS. Decile al usuario que por favor se comunique despues de la fecha mencionada.\n-No ofrezcas ayuda en nada mas, tu UNICA tarea es comunicar que el negocio esta inactivo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2624,1504],"id":"201c97f4-6415-458b-b6db-ea4b2b4a4c3d","name":"AI Agent"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Start').item.json.body_instance }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid_split }}","messageText":"={{ $json.output }}","options_message":{"delay":"={{ 5000 }}"}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2224,1504],"id":"257dcbdc-a7b1-4b51-86a8-c739d518cc76","name":"Cerrar interaccion1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"body_data_message_conversation","type":"any"},{"name":"Mensaje","type":"any"},{"name":"body_data_key_remoteJid_split","type":"any"},{"name":"body_instance","type":"any"},{"name":"ID"}]}},"id":"95576667-c611-4d10-9b08-19796900bae2","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2832,1504]}],"connections":{"AI Agent":{"main":[[{"node":"Cerrar interaccion1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Cerrar interaccion1":{"main":[[{"node":"Evolution bot1","type":"main","index":0}]]},"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"body_data_message_conversation":"Mi nombre es alejandro leonel sosa de polvaredas","Mensaje":"Hasta nuevo aviso el lavadero no abrira de lunes a miércoles, disculpe las molestias y muchas gracias! 🚗🚙✨","body_data_key_remoteJid_split":"260614387671246@lid","body_instance":"Juanma Lavadero","ID":"F2C062FEEC35F4EE8F23D807924B1D5F"}}]},"versionId":"550e9293-f327-4bea-93ec-7de8bc824d57","activeVersionId":"550e9293-f327-4bea-93ec-7de8bc824d57","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-26T16:49:31.219Z","createdAt":"2025-08-26T16:49:31.219Z","role":"workflow:owner","workflowId":"CQ0pytqaJhbmoiFJ","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"550e9293-f327-4bea-93ec-7de8bc824d57","workflowId":"CQ0pytqaJhbmoiFJ","nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2688,1696],"id":"a7e690e6-3fa9-4287-b522-15f440517bf4","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Start').item.json.body_instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Start').item.json.ID }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid_split }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2048,1536],"id":"843f83ae-d1da-4cdb-9129-9e1905fda8c8","name":"Evolution bot1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $('Start').item.json.body_data_message_conversation }}","options":{"systemMessage":"=Eres Beto, asistente argentino del Lavadero Mitre.\nSaluda si te saludan, despídete si se despiden.\nInforma siempre que el lavadero no estará en servicio en las fechas: {{ $json.Mensaje }}.\nSi preguntan otra cosa, recuerda amablemente que el lavadero está cerrado hasta después de esas fechas.\n\nReglas:\n-NO OFREZCAS CITAS. Decile al usuario que por favor se comunique despues de la fecha mencionada.\n-No ofrezcas ayuda en nada mas, tu UNICA tarea es comunicar que el negocio esta inactivo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2624,1504],"id":"201c97f4-6415-458b-b6db-ea4b2b4a4c3d","name":"AI Agent"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Start').item.json.body_instance }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid_split }}","messageText":"={{ $json.output }}","options_message":{"delay":"={{ 5000 }}"}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2224,1504],"id":"257dcbdc-a7b1-4b51-86a8-c739d518cc76","name":"Cerrar interaccion1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"k41QSIjRMkctMzrO","name":"Lavadero Mitre"}},"onError":"continueRegularOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"body_data_message_conversation","type":"any"},{"name":"Mensaje","type":"any"},{"name":"body_data_key_remoteJid_split","type":"any"},{"name":"body_instance","type":"any"},{"name":"ID"}]}},"id":"95576667-c611-4d10-9b08-19796900bae2","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2832,1504]}],"connections":{"AI Agent":{"main":[[{"node":"Cerrar interaccion1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Cerrar interaccion1":{"main":[[{"node":"Evolution bot1","type":"main","index":0}]]},"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-05T02:32:08.000Z","id":28,"workflowId":"CQ0pytqaJhbmoiFJ","versionId":"550e9293-f327-4bea-93ec-7de8bc824d57","event":"activated","userId":null}]}}