n8n-portfolio/02-Lavadero/Agente_citas.json
{"updatedAt":"2025-09-15T19:10:15.000Z","createdAt":"2025-09-11T18:30:24.101Z","id":"dz6a6IanALLgCMbA","name":"Agente citas","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefono del usuario","type":"any"},{"name":"Nombre del usuario","type":"any"},{"name":"Fecha","type":"any"},{"name":"Servicio","type":"any"},{"name":"Accion","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,-96],"id":"23a89482-36e0-46c8-aefa-84f25c8322e4","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Telefono del usuario:  {{ $json['Telefono del usuario'] }}\nNombre del usuario: {{ $json['Nombre del usuario'] }}\nFecha: {{ $json.Fecha }}\nServicio: {{ $json.Servicio }}\nAccion con la cita: {{ $json.Accion }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres un **asistente de reservas** llamado \"Mau\". \nTu rol es gestionar reservas, modificaciones y cancelaciones de citas.\nEres un asistente de reservas general que se adapta a cualquier negocio\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. OBLIGATORIO USARLA SIEMPRE SIN EXCEPCIONES\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n\n- Para **reservar una cita**:\n\n  - Es sumamente importante que recibas siempre el dia. \n\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Los horarios en lo que se da cita son estos: (\"Horarios\")\nLunes y miercoles: 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Martes, jueves y viernes: 8:00, 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Sabados: 8:00, 9:30, 11:00, 13:00\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,-96],"id":"7f0ecfd7-695b-4c50-89b0-1762562c2876","name":"AI Agent"},{"parameters":{"description":"LLama a esta tool para realizar las reservas del cliente.","workflowId":{"__rl":true,"value":"9GvylJm5gxIqOvPM","mode":"list","cachedResultName":"Reservar citas muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Sevicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sevicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Sevicio","displayName":"Sevicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[464,256],"id":"2163b770-f13e-4230-960e-154c34302d52","name":"reservar_cita"},{"parameters":{"description":"LLama a esta herramienta para modificar citas.","workflowId":{"__rl":true,"value":"EtaSxGR37EiS1nZh","mode":"list","cachedResultName":"Modificar cita lavadero muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}","Fecha actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_actual', `Fecha actual de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}","Fecha nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-13T15:30:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha actual","displayName":"Fecha actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha nueva","displayName":"Fecha nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[592,192],"id":"dbe081b5-cf8b-4098-bde4-b25b2faeb5f2","name":"modificar_cita"},{"parameters":{"description":"LLama a esta herramienta para cancelar la cita.","workflowId":{"__rl":true,"value":"pZCTuf3q1OUP4eaN","mode":"list","cachedResultName":"Cancelar cita lavadero muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha la cual quiere ser eliminada en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,112],"id":"8a7adf34-62dc-4129-8e09-fafe5a45e4ca","name":"cancelar_cita"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,192],"id":"0f9de9f0-6dd7-4b51-b419-2d65f559f243","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[192,240],"id":"9c841adf-cbde-410d-943d-c7aa00fcdbf0","name":"Think"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"reservar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"modificar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Telefono del usuario":"5214461111255","Nombre del usuario":"Matias","Fecha":"2025-09-17T17:00:00","Servicio":"lavado de auto","Accion":"modificar"}}]},"versionId":"6a6315cd-87c9-4a30-be06-2dffe3169665","activeVersionId":"6a6315cd-87c9-4a30-be06-2dffe3169665","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-09-11T18:30:24.106Z","createdAt":"2025-09-11T18:30:24.106Z","role":"workflow:owner","workflowId":"dz6a6IanALLgCMbA","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"6a6315cd-87c9-4a30-be06-2dffe3169665","workflowId":"dz6a6IanALLgCMbA","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefono del usuario","type":"any"},{"name":"Nombre del usuario","type":"any"},{"name":"Fecha","type":"any"},{"name":"Servicio","type":"any"},{"name":"Accion","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,-96],"id":"23a89482-36e0-46c8-aefa-84f25c8322e4","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Telefono del usuario:  {{ $json['Telefono del usuario'] }}\nNombre del usuario: {{ $json['Nombre del usuario'] }}\nFecha: {{ $json.Fecha }}\nServicio: {{ $json.Servicio }}\nAccion con la cita: {{ $json.Accion }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres un **asistente de reservas** llamado \"Mau\". \nTu rol es gestionar reservas, modificaciones y cancelaciones de citas.\nEres un asistente de reservas general que se adapta a cualquier negocio\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. OBLIGATORIO USARLA SIEMPRE SIN EXCEPCIONES\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n\n- Para **reservar una cita**:\n\n  - Es sumamente importante que recibas siempre el dia. \n\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Los horarios en lo que se da cita son estos: (\"Horarios\")\nLunes y miercoles: 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Martes, jueves y viernes: 8:00, 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Sabados: 8:00, 9:30, 11:00, 13:00\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[80,-96],"id":"7f0ecfd7-695b-4c50-89b0-1762562c2876","name":"AI Agent"},{"parameters":{"description":"LLama a esta tool para realizar las reservas del cliente.","workflowId":{"__rl":true,"value":"9GvylJm5gxIqOvPM","mode":"list","cachedResultName":"Reservar citas muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}","Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Sevicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sevicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Sevicio","displayName":"Sevicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[464,256],"id":"2163b770-f13e-4230-960e-154c34302d52","name":"reservar_cita"},{"parameters":{"description":"LLama a esta herramienta para modificar citas.","workflowId":{"__rl":true,"value":"EtaSxGR37EiS1nZh","mode":"list","cachedResultName":"Modificar cita lavadero muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}","Fecha actual":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_actual', `Fecha actual de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}","Fecha nueva":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_nueva', `Fecha nueva de la cita en formato ISO sin zona horaria, ejemplo:\n2025-07-13T15:30:00`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Fecha actual","displayName":"Fecha actual","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Fecha nueva","displayName":"Fecha nueva","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[592,192],"id":"dbe081b5-cf8b-4098-bde4-b25b2faeb5f2","name":"modificar_cita"},{"parameters":{"description":"LLama a esta herramienta para cancelar la cita.","workflowId":{"__rl":true,"value":"pZCTuf3q1OUP4eaN","mode":"list","cachedResultName":"Cancelar cita lavadero muestra"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha la cual quiere ser eliminada en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Telefono":"={{ $json['Telefono del usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,112],"id":"8a7adf34-62dc-4129-8e09-fafe5a45e4ca","name":"cancelar_cita"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,192],"id":"0f9de9f0-6dd7-4b51-b419-2d65f559f243","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[192,240],"id":"9c841adf-cbde-410d-943d-c7aa00fcdbf0","name":"Think"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"reservar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"modificar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-15T19:10:15.000Z","id":43,"workflowId":"dz6a6IanALLgCMbA","versionId":"6a6315cd-87c9-4a30-be06-2dffe3169665","event":"activated","userId":null}]}}