n8n-portfolio/02-Lavadero/Cancelar_cita_lavadero.json
{"updatedAt":"2025-08-15T16:43:52.000Z","createdAt":"2025-07-26T17:55:57.458Z","id":"btEV7GQDi0sVjebH","name":"Cancelar cita lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T16:00:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"8373773d-d637-4903-a878-9a13e9604073","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"14cf0c9e-c056-4a1e-9e38-4b5f7c85f3ce","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"01e38a9d-0fd4-44f1-9c8f-7f8a5931ec75","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,272],"id":"93cdf9ed-5dd2-43e0-a659-1af73d64f203","name":"buscar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[672,240],"id":"649df696-c6ff-4fbf-8939-14c3a0209723","name":"eliminar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"266611de-36dc-4ddb-8636-4af220e11344","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f6fc2267-e06e-46a1-9884-c3e0b672d5f3","activeVersionId":"f6fc2267-e06e-46a1-9884-c3e0b672d5f3","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:55:57.462Z","createdAt":"2025-07-26T17:55:57.462Z","role":"workflow:owner","workflowId":"btEV7GQDi0sVjebH","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"f6fc2267-e06e-46a1-9884-c3e0b672d5f3","workflowId":"btEV7GQDi0sVjebH","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T16:00:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"8373773d-d637-4903-a878-9a13e9604073","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"14cf0c9e-c056-4a1e-9e38-4b5f7c85f3ce","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"01e38a9d-0fd4-44f1-9c8f-7f8a5931ec75","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,272],"id":"93cdf9ed-5dd2-43e0-a659-1af73d64f203","name":"buscar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[672,240],"id":"649df696-c6ff-4fbf-8939-14c3a0209723","name":"eliminar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"266611de-36dc-4ddb-8636-4af220e11344","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-08-15T16:43:52.000Z","id":12,"workflowId":"btEV7GQDi0sVjebH","versionId":"f6fc2267-e06e-46a1-9884-c3e0b672d5f3","event":"activated","userId":null}]}}