n8n-portfolio/02-Lavadero/Comprobar_fecha_lavadero.json
{"updatedAt":"2025-09-03T16:27:24.000Z","createdAt":"2025-07-26T17:39:43.189Z","id":"9GMRY1oO9EmtAip1","name":"Comprobar fecha lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,208],"id":"0f08d97d-3925-41e3-830c-28343104d78d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,240],"id":"16ccf03d-51b3-4786-a3c5-2a87ec344918","name":"Edit Fields1"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  // Convierte \"HH:MM\" a minutos totales (ej: \"11:30\" → 690 minutos)\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora || item.json.hora; // Compatible con \"hora\" o \"hora\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // ---- CONFIGURACIÓN PARA TU NEGOCIO ----\n  const inicioAtencion = convertirAHorasMinutos(\"11:00\"); // 660 minutos\n  const finAtencion = convertirAHorasMinutos(\"14:00\");   // 840 minutos\n  // --------------------------------------\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  // Validación principal\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Fuera del horario de atención (11:00 - 14:00)\";\n  }\n\n  // Guardamos resultados\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,240],"id":"a1ede5ee-c747-4f5c-a2cf-bb73f3ed344b","name":"Verificacion hora, cambiar codigo si necesita cambiar horarios"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,48],"id":"0c7f45fe-9295-4968-b2ca-3ed52f803f2b","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"d31283d5-aa5a-432d-a457-9a071ee666f6","name":"mensaje enviado","value":"La fecha ingresada es pasada, porfavor ingrese una fecha valida","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"80dbefc7-3ff5-4d60-91a6-fdeec358e695","name":"Edit Fields3"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Formatear ambas fechas a YYYY-MM-DD\nconst formatoFecha = (fecha) => fecha.toISOString().substring(0, 10);\n\nconst fechaInputStr = formatoFecha(fechaInput);\nconst fechaActualStr = formatoFecha(fechaActual);\n\nif (fechaInputStr < fechaActualStr) {\n  return [\n    {\n      json: {\n        valida: false,\n        mensaje: \"Fecha inválida. Es una fecha pasada.\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        valida: true,\n        mensaje: \"La fecha es válida (hoy o en el futuro).\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,208],"id":"59d65976-08db-4e25-9162-8c323f6e258c","name":"Fecha pasada o futura?"},{"parameters":{"jsCode":"const raw = $('When Executed by Another Workflow').first().json.Fecha;\n\n// Convertir a objeto Date\nconst date = new Date(raw);\n\n// Formatear componentes\nconst dd = String(date.getDate()).padStart(2, '0');\nconst mm = String(date.getMonth() + 1).padStart(2, '0'); // getMonth() es base 0\nconst yyyy = date.getFullYear();\nconst HH = String(date.getHours()).padStart(2, '0');\nconst min = String(date.getMinutes()).padStart(2, '0');\n\n// Resultado final\nconst formatted = `${dd}/${mm}/${yyyy} ${HH}:${min}`;\n\nreturn [{ json: { formato_final: formatted } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,224],"id":"499cc88b-8a3f-4510-b44c-b0bff0f59eaa","name":"Formatear fecha"},{"parameters":{"jsCode":"const input = $input.first().json.formato_final; // \"17/04/2025 08:00\"\n\nconst [fechaRaw, hora] = input.split(\" \");\nconst [dia, mes, año] = fechaRaw.split(\"/\");\n\nconst fechaISO = `${año}-${mes}-${dia}T00:00:00Z`;\nconst fechaDate = new Date(fechaISO);\n\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaDate.getUTCDay()];\n\nreturn [{\n  json: {\n    query: input,\n    fecha: fechaRaw,\n    hora: hora,\n    diaSemana: diaSemana\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,224],"id":"fb1f67d3-cd60-43b4-9731-9f0bd7a454bb","name":"Obtener hora y dia de la semana"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa43dfb1-0038-4295-ba3b-775630ef858f","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,224],"id":"1d08061d-7c0c-4e00-a9ed-1f3fa3f86bb1","name":"Es domingo?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5fbe098-7ea1-4cda-abc8-ec9b060131c3","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,208],"id":"d59c13e5-5481-4677-85f7-fa8a780a1ae1","name":"valida?"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Rangos de atención (9:00 a 18:00)\n  const inicioAtencion = convertirAHorasMinutos(\"9:00\");\n  const finAtencion = convertirAHorasMinutos(\"18:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  // Solo verifica si está fuera del horario de atención\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención (9:00 - 18:00)\";\n  }\n\n  // Agrega los resultados al objeto\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,64],"id":"6e9eef0a-c89f-4a55-9e9d-de198549c051","name":"Verificar horarios lunes-sabado"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Fecha pasada o futura?","type":"main","index":0}]]},"Verificacion hora, cambiar codigo si necesita cambiar horarios":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Fecha pasada o futura?":{"main":[[{"node":"valida?","type":"main","index":0}]]},"Formatear fecha":{"main":[[{"node":"Obtener hora y dia de la semana","type":"main","index":0}]]},"Obtener hora y dia de la semana":{"main":[[{"node":"Es domingo?","type":"main","index":0}]]},"Es domingo?":{"main":[[{"node":"Verificar horarios lunes-sabado","type":"main","index":0}],[{"node":"Verificacion hora, cambiar codigo si necesita cambiar horarios","type":"main","index":0}]]},"valida?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Formatear fecha","type":"main","index":0}]]},"Verificar horarios lunes-sabado":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-09-03T16:00:00"}}]},"versionId":"ac31f78b-735f-4600-ae66-b3921eb2e1bc","activeVersionId":"ac31f78b-735f-4600-ae66-b3921eb2e1bc","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:39:43.196Z","createdAt":"2025-07-26T17:39:43.196Z","role":"workflow:owner","workflowId":"9GMRY1oO9EmtAip1","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"ac31f78b-735f-4600-ae66-b3921eb2e1bc","workflowId":"9GMRY1oO9EmtAip1","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-768,208],"id":"0f08d97d-3925-41e3-830c-28343104d78d","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,240],"id":"16ccf03d-51b3-4786-a3c5-2a87ec344918","name":"Edit Fields1"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  // Convierte \"HH:MM\" a minutos totales (ej: \"11:30\" → 690 minutos)\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora || item.json.hora; // Compatible con \"hora\" o \"hora\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // ---- CONFIGURACIÓN PARA TU NEGOCIO ----\n  const inicioAtencion = convertirAHorasMinutos(\"11:00\"); // 660 minutos\n  const finAtencion = convertirAHorasMinutos(\"14:00\");   // 840 minutos\n  // --------------------------------------\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  // Validación principal\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Fuera del horario de atención (11:00 - 14:00)\";\n  }\n\n  // Guardamos resultados\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,240],"id":"a1ede5ee-c747-4f5c-a2cf-bb73f3ed344b","name":"Verificacion hora, cambiar codigo si necesita cambiar horarios"},{"parameters":{"assignments":{"assignments":[{"id":"35618fe3-477f-430e-91cd-60c46a5c8d9b","name":"Fecha valida?","value":"=Estado:{{ $json.horaEstado }}\nJustificacion:{{ $json.horaJustificacion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,48],"id":"0c7f45fe-9295-4968-b2ca-3ed52f803f2b","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"d31283d5-aa5a-432d-a457-9a071ee666f6","name":"mensaje enviado","value":"La fecha ingresada es pasada, porfavor ingrese una fecha valida","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"80dbefc7-3ff5-4d60-91a6-fdeec358e695","name":"Edit Fields3"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Formatear ambas fechas a YYYY-MM-DD\nconst formatoFecha = (fecha) => fecha.toISOString().substring(0, 10);\n\nconst fechaInputStr = formatoFecha(fechaInput);\nconst fechaActualStr = formatoFecha(fechaActual);\n\nif (fechaInputStr < fechaActualStr) {\n  return [\n    {\n      json: {\n        valida: false,\n        mensaje: \"Fecha inválida. Es una fecha pasada.\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        valida: true,\n        mensaje: \"La fecha es válida (hoy o en el futuro).\",\n        fecha: fechaInputStr\n      }\n    }\n  ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,208],"id":"59d65976-08db-4e25-9162-8c323f6e258c","name":"Fecha pasada o futura?"},{"parameters":{"jsCode":"const raw = $('When Executed by Another Workflow').first().json.Fecha;\n\n// Convertir a objeto Date\nconst date = new Date(raw);\n\n// Formatear componentes\nconst dd = String(date.getDate()).padStart(2, '0');\nconst mm = String(date.getMonth() + 1).padStart(2, '0'); // getMonth() es base 0\nconst yyyy = date.getFullYear();\nconst HH = String(date.getHours()).padStart(2, '0');\nconst min = String(date.getMinutes()).padStart(2, '0');\n\n// Resultado final\nconst formatted = `${dd}/${mm}/${yyyy} ${HH}:${min}`;\n\nreturn [{ json: { formato_final: formatted } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,224],"id":"499cc88b-8a3f-4510-b44c-b0bff0f59eaa","name":"Formatear fecha"},{"parameters":{"jsCode":"const input = $input.first().json.formato_final; // \"17/04/2025 08:00\"\n\nconst [fechaRaw, hora] = input.split(\" \");\nconst [dia, mes, año] = fechaRaw.split(\"/\");\n\nconst fechaISO = `${año}-${mes}-${dia}T00:00:00Z`;\nconst fechaDate = new Date(fechaISO);\n\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaDate.getUTCDay()];\n\nreturn [{\n  json: {\n    query: input,\n    fecha: fechaRaw,\n    hora: hora,\n    diaSemana: diaSemana\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,224],"id":"fb1f67d3-cd60-43b4-9731-9f0bd7a454bb","name":"Obtener hora y dia de la semana"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa43dfb1-0038-4295-ba3b-775630ef858f","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,224],"id":"1d08061d-7c0c-4e00-a9ed-1f3fa3f86bb1","name":"Es domingo?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5fbe098-7ea1-4cda-abc8-ec9b060131c3","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,208],"id":"d59c13e5-5481-4677-85f7-fa8a780a1ae1","name":"valida?"},{"parameters":{"jsCode":"function convertirAHorasMinutos(horaStr) {\n  const [hh, mm] = horaStr.split(':').map(Number);\n  return hh * 60 + mm;\n}\n\nfor (const item of $input.all()) {\n  const horaInput = item.json.hora; // Ej: \"11:30\"\n  const minutosInput = convertirAHorasMinutos(horaInput);\n\n  // Rangos de atención (9:00 a 18:00)\n  const inicioAtencion = convertirAHorasMinutos(\"9:00\");\n  const finAtencion = convertirAHorasMinutos(\"18:00\");\n\n  let estado = \"válido\";\n  let justificacion = \"\";\n\n  // Solo verifica si está fuera del horario de atención\n  if (minutosInput < inicioAtencion || minutosInput >= finAtencion) {\n    estado = \"inválido\";\n    justificacion = \"Hora fuera de horario de atención (9:00 - 18:00)\";\n  }\n\n  // Agrega los resultados al objeto\n  item.json.horaEstado = estado;\n  item.json.horaJustificacion = justificacion;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,64],"id":"6e9eef0a-c89f-4a55-9e9d-de198549c051","name":"Verificar horarios lunes-sabado"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Fecha pasada o futura?","type":"main","index":0}]]},"Verificacion hora, cambiar codigo si necesita cambiar horarios":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Fecha pasada o futura?":{"main":[[{"node":"valida?","type":"main","index":0}]]},"Formatear fecha":{"main":[[{"node":"Obtener hora y dia de la semana","type":"main","index":0}]]},"Obtener hora y dia de la semana":{"main":[[{"node":"Es domingo?","type":"main","index":0}]]},"Es domingo?":{"main":[[{"node":"Verificar horarios lunes-sabado","type":"main","index":0}],[{"node":"Verificacion hora, cambiar codigo si necesita cambiar horarios","type":"main","index":0}]]},"valida?":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Formatear fecha","type":"main","index":0}]]},"Verificar horarios lunes-sabado":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-03T16:27:24.000Z","id":8,"workflowId":"9GMRY1oO9EmtAip1","versionId":"ac31f78b-735f-4600-ae66-b3921eb2e1bc","event":"activated","userId":null}]}}