n8n-portfolio/02-Lavadero/Embedding_lavadero.json
{"updatedAt":"2025-07-24T14:16:11.000Z","createdAt":"2025-07-24T14:08:36.213Z","id":"TGF1I5CtgnDX1erq","name":"Embedding lavadero","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"12EDqvu3hv7zpM4d7xki-Dzhs3QVeMyOK","mode":"list","cachedResultName":"Base vectorial lavadero","cachedResultUrl":"https://drive.google.com/drive/folders/12EDqvu3hv7zpM4d7xki-Dzhs3QVeMyOK"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"f9879ae6-7d6e-46cd-ab6e-2533329bc200","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"tKu400QvEJDpqEoy","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"lavadero","mode":"list","cachedResultName":"lavadero"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[432,0],"id":"454a9aec-738f-4d65-b2e0-bbb0822c20fd","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $('Google Drive Trigger').item.json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[592,208],"id":"d1c110c1-0428-4d33-ad40-797f01ab2e71","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,272],"id":"041c5fcf-a3da-43f9-b2dd-85af512e6bf6","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[640,384],"id":"e93f728b-bd62-411c-8093-17ad30b41e32","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"cc4bb37e-68a3-40ac-9903-1afae129ae0c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"tKu400QvEJDpqEoy","name":"Google Drive account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-24T14:15:58Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60ef60db-2040-4b6e-9357-0000565fed21","activeVersionId":null,"versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2025-07-24T14:08:36.218Z","createdAt":"2025-07-24T14:08:36.218Z","role":"workflow:owner","workflowId":"TGF1I5CtgnDX1erq","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}