n8n-portfolio/02-Lavadero/Entregar_horarios_lavadero.json
{"updatedAt":"2025-08-15T16:37:36.000Z","createdAt":"2025-07-26T17:44:26.914Z","id":"jEdJ46HziOPkgBzm","name":"Entregar horarios lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"c59d561f-78c9-47d8-8395-fad475c3d001","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,96]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32],"id":"33d96014-d5a3-4cad-8c26-6f5e52ff1acd","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-32],"id":"f0528699-2130-45b1-9988-e20b4002d9c1","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 11:00 a 14:00\nconst horaInicio = 11;\nconst horaFin = 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-32],"id":"ac4c1a8f-9a15-4069-b112-7354ea58f880","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,96],"id":"af41a89f-7a61-4746-a4ae-aa2e0d618680","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,288],"id":"134ed0f7-f9ad-40ab-b842-87c6ff262e46","name":"Code3"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,288],"id":"834376ed-6039-4056-b37d-c83c0c83840d","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 9:00 a 18:00\nconst horaInicio = 9;\nconst horaFin = 18;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,288],"id":"3d39e954-e4d4-49ca-9056-48176914dd15","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,96],"id":"ceee95d2-06fa-4829-b4e9-7ea52bf9ce76","name":"diaSemana"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"4c083ea2888ea7b3da92fb689e6f641b657fdd8ce2d41a43dd415cc0ee2f216a@group.calendar.google.com","mode":"list","cachedResultName":"Muestra Chatbot"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,288],"id":"5c7a3044-5ba2-4232-bd0d-860c9f5cb814","name":"Get many events1","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"4c083ea2888ea7b3da92fb689e6f641b657fdd8ce2d41a43dd415cc0ee2f216a@group.calendar.google.com","mode":"list","cachedResultName":"Muestra Chatbot"},"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,-32],"id":"f58d6183-8838-4c1d-b2f7-972e97801322","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"62ee9f59-4ddd-440a-a6db-ca969a20cada","activeVersionId":"62ee9f59-4ddd-440a-a6db-ca969a20cada","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:44:26.918Z","createdAt":"2025-07-26T17:44:26.918Z","role":"workflow:owner","workflowId":"jEdJ46HziOPkgBzm","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"62ee9f59-4ddd-440a-a6db-ca969a20cada","workflowId":"jEdJ46HziOPkgBzm","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"c59d561f-78c9-47d8-8395-fad475c3d001","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,96]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32],"id":"33d96014-d5a3-4cad-8c26-6f5e52ff1acd","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-32],"id":"f0528699-2130-45b1-9988-e20b4002d9c1","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 11:00 a 14:00\nconst horaInicio = 11;\nconst horaFin = 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-32],"id":"ac4c1a8f-9a15-4069-b112-7354ea58f880","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,96],"id":"af41a89f-7a61-4746-a4ae-aa2e0d618680","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,288],"id":"134ed0f7-f9ad-40ab-b842-87c6ff262e46","name":"Code3"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,288],"id":"834376ed-6039-4056-b37d-c83c0c83840d","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 9:00 a 18:00\nconst horaInicio = 9;\nconst horaFin = 18;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,288],"id":"3d39e954-e4d4-49ca-9056-48176914dd15","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,96],"id":"ceee95d2-06fa-4829-b4e9-7ea52bf9ce76","name":"diaSemana"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"4c083ea2888ea7b3da92fb689e6f641b657fdd8ce2d41a43dd415cc0ee2f216a@group.calendar.google.com","mode":"list","cachedResultName":"Muestra Chatbot"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,288],"id":"5c7a3044-5ba2-4232-bd0d-860c9f5cb814","name":"Get many events1","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"4c083ea2888ea7b3da92fb689e6f641b657fdd8ce2d41a43dd415cc0ee2f216a@group.calendar.google.com","mode":"list","cachedResultName":"Muestra Chatbot"},"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,-32],"id":"f58d6183-8838-4c1d-b2f7-972e97801322","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-08-15T16:37:36.000Z","id":9,"workflowId":"jEdJ46HziOPkgBzm","versionId":"62ee9f59-4ddd-440a-a6db-ca969a20cada","event":"activated","userId":null}]}}