n8n-portfolio/02-Lavadero/Enviar_asesor_lavadero.json
{"updatedAt":"2025-07-26T17:57:01.000Z","createdAt":"2025-07-26T17:57:01.081Z","id":"kzQEOqlFo4VI7yvT","name":"Enviar asesor lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## CUANDO APAGAMOS EL BOT?\n- CUANDO EL USUARIO QUIERE HABLAR CON UN HUMANO O HAY ALGUN PROBLEMA CON ALGUNA HERRAMIENTA SE ACTIVA ESTE WORKFLOW, ASIGNAMOS LA ETIQUETA AL CONTACTO Y LUEGO LE ASIGNAMOS LA ETIQUETA BOT OFF PARA QUE EL AGENTE DEJE DE RESPONDERLE AL USUARIO.","height":600,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"46d66598-04e7-42be-86f1-cd8ebc02b215","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"conversation id\": \"5\",\n  \"contact id\": \"17\"\n}"},"id":"0aed8bf3-3afe-441b-ac39-62bbf7525b5e","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-384,272]},{"parameters":{"method":"POST","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/conversations/{{ $('When Executed by Another Workflow').item.json['conversation id'] }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\"asistencia_ia\"]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,272],"id":"5c7afe05-e685-48ee-82ae-d9e895fadef4","name":"etiqueta_asistencia_ia"},{"parameters":{"method":"PUT","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/contacts/{{ $('When Executed by Another Workflow').item.json['contact id'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"bot_off\": \"bot off\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,272],"id":"b4fead58-4efc-4822-a92a-b953fdae669a","name":"apagar bot1"},{"parameters":{"assignments":{"assignments":[{"id":"3db5a7b3-8437-4425-87af-0e4826d3fae5","name":"mensaje enviado","value":"Perfecto, te voy a transferir con el equipo correspondiente para que puedan ayudarte directamente. Muchas gracias por tu paciencia, en breve te atenderán.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,272],"id":"00c3f3bf-a94b-415a-86b3-d0654d1f50ac","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"etiqueta_asistencia_ia","type":"main","index":0}]]},"etiqueta_asistencia_ia":{"main":[[{"node":"apagar bot1","type":"main","index":0}]]},"apagar bot1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"conversation id":3,"contact id":3}}]},"versionId":"16ad8958-4cc5-43d0-a33d-82c72ed81f0c","activeVersionId":"16ad8958-4cc5-43d0-a33d-82c72ed81f0c","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:57:01.086Z","createdAt":"2025-07-26T17:57:01.086Z","role":"workflow:owner","workflowId":"kzQEOqlFo4VI7yvT","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"16ad8958-4cc5-43d0-a33d-82c72ed81f0c","workflowId":"kzQEOqlFo4VI7yvT","nodes":[{"parameters":{"content":"## CUANDO APAGAMOS EL BOT?\n- CUANDO EL USUARIO QUIERE HABLAR CON UN HUMANO O HAY ALGUN PROBLEMA CON ALGUNA HERRAMIENTA SE ACTIVA ESTE WORKFLOW, ASIGNAMOS LA ETIQUETA AL CONTACTO Y LUEGO LE ASIGNAMOS LA ETIQUETA BOT OFF PARA QUE EL AGENTE DEJE DE RESPONDERLE AL USUARIO.","height":600,"width":540,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"46d66598-04e7-42be-86f1-cd8ebc02b215","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"conversation id\": \"5\",\n  \"contact id\": \"17\"\n}"},"id":"0aed8bf3-3afe-441b-ac39-62bbf7525b5e","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-384,272]},{"parameters":{"method":"POST","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/conversations/{{ $('When Executed by Another Workflow').item.json['conversation id'] }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"labels\": [\"asistencia_ia\"]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-128,272],"id":"5c7afe05-e685-48ee-82ae-d9e895fadef4","name":"etiqueta_asistencia_ia"},{"parameters":{"method":"PUT","url":"=https://devchatwoot.iacondiego.es/api/v1/accounts/1/contacts/{{ $('When Executed by Another Workflow').item.json['contact id'] }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"gCwFAc6nj7kGQMMbfGM1c1rD"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"custom_attributes\": {\n    \"bot_off\": \"bot off\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,272],"id":"b4fead58-4efc-4822-a92a-b953fdae669a","name":"apagar bot1"},{"parameters":{"assignments":{"assignments":[{"id":"3db5a7b3-8437-4425-87af-0e4826d3fae5","name":"mensaje enviado","value":"Perfecto, te voy a transferir con el equipo correspondiente para que puedan ayudarte directamente. Muchas gracias por tu paciencia, en breve te atenderán.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,272],"id":"00c3f3bf-a94b-415a-86b3-d0654d1f50ac","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"etiqueta_asistencia_ia","type":"main","index":0}]]},"etiqueta_asistencia_ia":{"main":[[{"node":"apagar bot1","type":"main","index":0}]]},"apagar bot1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-07-26T17:57:01.000Z","id":13,"workflowId":"kzQEOqlFo4VI7yvT","versionId":"16ad8958-4cc5-43d0-a33d-82c72ed81f0c","event":"activated","userId":null}]}}