n8n-portfolio/02-Lavadero/Modificar_cita_lavadero.json
{"updatedAt":"2025-08-15T16:43:13.000Z","createdAt":"2025-07-26T17:52:33.582Z","id":"lUbLosM4QHjR9798","name":"Modificar cita lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"4e9a5e68-0f92-436d-a449-8692f8727ccb","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"0cab283a-da7e-461d-9de2-edcfaecfaf5c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,352],"id":"d3540e07-7b80-400f-94d7-318dfd08fd7a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"9GMRY1oO9EmtAip1","mode":"list","cachedResultName":"Comprobar fecha lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,384],"id":"02902f94-b823-44c4-bd25-d81904dcd595","name":"comprobar_nueva_fecha"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,432],"id":"44a73051-639c-499f-a9d1-3f3ff2869273","name":"buscar_id","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"timeMin":"={{ $json['Fecha nueva original'] }}-03:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-03:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[768,432],"id":"db56a578-72af-40f2-a6b7-c8eacbb197aa","name":"comprobar_disponibilidad_nueva_fecha","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"jEdJ46HziOPkgBzm","mode":"list","cachedResultName":"Entregar horarios lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"a3c5ebae-ce30-475d-a875-50ff9098f1c5","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,384],"id":"5df806f1-0562-45df-8d37-c79ae805cd6f","name":"crear_cita_nueva","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,304],"id":"65e705ed-5f21-4f1a-9a94-c1466239cdab","name":"eliminar_cita_actual","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"4463e75c-272b-438b-a6bc-f9143f06ee90","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a56940f-aac5-428d-b0ad-d6eb498106d7","activeVersionId":"4a56940f-aac5-428d-b0ad-d6eb498106d7","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:52:33.587Z","createdAt":"2025-07-26T17:52:33.587Z","role":"workflow:owner","workflowId":"lUbLosM4QHjR9798","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"4a56940f-aac5-428d-b0ad-d6eb498106d7","workflowId":"lUbLosM4QHjR9798","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"4e9a5e68-0f92-436d-a449-8692f8727ccb","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"0cab283a-da7e-461d-9de2-edcfaecfaf5c","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,352],"id":"d3540e07-7b80-400f-94d7-318dfd08fd7a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"9GMRY1oO9EmtAip1","mode":"list","cachedResultName":"Comprobar fecha lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,384],"id":"02902f94-b823-44c4-bd25-d81904dcd595","name":"comprobar_nueva_fecha"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,432],"id":"44a73051-639c-499f-a9d1-3f3ff2869273","name":"buscar_id","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"timeMin":"={{ $json['Fecha nueva original'] }}-03:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-03:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[768,432],"id":"db56a578-72af-40f2-a6b7-c8eacbb197aa","name":"comprobar_disponibilidad_nueva_fecha","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"jEdJ46HziOPkgBzm","mode":"list","cachedResultName":"Entregar horarios lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"a3c5ebae-ce30-475d-a875-50ff9098f1c5","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,384],"id":"5df806f1-0562-45df-8d37-c79ae805cd6f","name":"crear_cita_nueva","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,304],"id":"65e705ed-5f21-4f1a-9a94-c1466239cdab","name":"eliminar_cita_actual","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"4463e75c-272b-438b-a6bc-f9143f06ee90","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-08-15T16:43:13.000Z","id":11,"workflowId":"lUbLosM4QHjR9798","versionId":"4a56940f-aac5-428d-b0ad-d6eb498106d7","event":"activated","userId":null}]}}