n8n-portfolio/02-Lavadero/Reservar_citas_lavadero.json
{"updatedAt":"2025-08-15T16:42:28.000Z","createdAt":"2025-07-26T17:48:06.737Z","id":"sbXOVP58zXsordtI","name":"Reservar citas lavadero","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Diego Vasquez\",\n  \"Telefono\":\"5491155968711\",\n  \"Sevicio\": \"Lavado de moto\"\n}"},"id":"79b279a1-e1f5-4ee2-b35d-437620f75308","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,288],"id":"9040d3bd-2a24-4df4-8e6c-dce1f1223dea","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"timeMin":"={{ $json.FechaOriginal }}-03:00","timeMax":"={{ $json.FechaMasUnaHora }}-03:00","options":{"outputFormat":"availability"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[544,336],"id":"315692b5-a564-459e-8a41-80d0478ce44e","name":"comprobar_disponibilidad","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"entregar_horarios","description":"Eres la herramienta encargada de entregar horarios disponibles cuando no hay disponibilidad","workflowId":{"__rl":true,"value":"jEdJ46HziOPkgBzm","mode":"list","cachedResultName":"Entregar horarios lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.FechaOriginal }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[720,352],"id":"47977987-b1d5-49fc-8a91-f7d10557ab0f","name":"entregar_horarios"},{"parameters":{"calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"start":"={{ $json.FechaOriginal }}","end":"={{ $json.FechaMasUnaHora }}","additionalFields":{"description":"=Servicio: {{ $('When Executed by Another Workflow').item.json.Sevicio }}","summary":"={{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[880,304],"id":"0eac829e-bb03-41d0-8715-981746132f35","name":"crear_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"=Fecha reserva:{{ $('When Executed by Another Workflow').item.json.Fecha }}\nNombre usuario: {{ $('When Executed by Another Workflow').item.json.Nombre }}\nNumero de telefono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\nServicio: {{ $('When Executed by Another Workflow').item.json.Sevicio }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD  \nEres un **asistente automatizado encargado de todo el procedimiento para reservar citas de atención al cliente**.\n\n## 2. HERRAMIENTAS DISPONIBLES  \n- `comprobar_disponibilidad`: Confirma si hay disponibilidad en la fecha indicada.  \n- `entregar_horarios`: Proporciona horarios alternativos si no hay disponibilidad.  \n- `crear_cita`: Crea la cita en el calendario\n-\"registrar_cita\": registra la cita en el CRM\n\n\n## 3. OBJETIVO PRINCIPAL  \nEl agente tiene como propósito **verificar y gestionar automáticamente la reserva de citas de los clientes**, asegurando que las fechas sean válidas, haya disponibilidad y se complete todo el proceso de creación y registro de la cita.\n\n## 4. INSTRUCCIONES ESPECÍFICAS  \n\n1. Usar `comprobar_disponibilidad`.  \n3. Si hay disponibilidad, continuar con:\n   - `crear_cita\"\n   \n4. Si no hay disponibilidad, usar `entregar_horarios` para ofrecer alternativas al cliente.\n\nFORMATO RESPUESTA:\n{\n  \"Respuesta\": \"Su cita ha sido reservada exitosamente para el {}. Aquí tienes los detalles de la reserva:\\n- Nombre: {{ $('When Executed by Another Workflow').item.json.Nombre }}\\n Servicio:{{ $('When Executed by Another Workflow').item.json.Sevicio }}\\n- Teléfono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\\n- Fecha: {fecha en dd/MM/yyyy hh:mm}\\n- Link: {link de la cita}\n\"Respuesta 2\": \"No hay cita para la fecha solicitada, estos son las horas disponibles:\n}\n\nIMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en formato ISO sin zona horaria\n- Entrega las horas ordenadamente\n\n- No utilices asteriscos ni ningún formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin símbolos especiales.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[464,0],"id":"4a6a83e4-0c63-46bb-a9a5-e675004385b8","name":"Agente reservar"},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"f3daebb0-5298-4f3b-9c52-e711a87cadb1","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":322084408,"mode":"list","cachedResultName":"Turnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=322084408"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.Nombre }}","Fecha cita":"={{ $('When Executed by Another Workflow').item.json.Fecha }}","Telefono":"={{ $('When Executed by Another Workflow').item.json.Telefono }}","Servicio":"={{ $('When Executed by Another Workflow').item.json.Sevicio }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha cita","displayName":"Fecha cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1040,256],"id":"4f10c7d4-8a39-4a51-a842-bb6a7126b939","name":"registrar_cita","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente reservar","type":"ai_languageModel","index":0}]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"entregar_horarios":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"crear_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Agente reservar","type":"main","index":0}]]},"registrar_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b93aebd-15e2-4076-a0e3-6b617d29ada9","activeVersionId":"9b93aebd-15e2-4076-a0e3-6b617d29ada9","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-07-26T17:48:06.742Z","createdAt":"2025-07-26T17:48:06.742Z","role":"workflow:owner","workflowId":"sbXOVP58zXsordtI","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"9b93aebd-15e2-4076-a0e3-6b617d29ada9","workflowId":"sbXOVP58zXsordtI","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-09T15:30:00\",\n  \"Nombre\":\"Diego Vasquez\",\n  \"Telefono\":\"5491155968711\",\n  \"Sevicio\": \"Lavado de moto\"\n}"},"id":"79b279a1-e1f5-4ee2-b35d-437620f75308","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,288],"id":"9040d3bd-2a24-4df4-8e6c-dce1f1223dea","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"timeMin":"={{ $json.FechaOriginal }}-03:00","timeMax":"={{ $json.FechaMasUnaHora }}-03:00","options":{"outputFormat":"availability"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[544,336],"id":"315692b5-a564-459e-8a41-80d0478ce44e","name":"comprobar_disponibilidad","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"entregar_horarios","description":"Eres la herramienta encargada de entregar horarios disponibles cuando no hay disponibilidad","workflowId":{"__rl":true,"value":"jEdJ46HziOPkgBzm","mode":"list","cachedResultName":"Entregar horarios lavadero"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.FechaOriginal }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[720,352],"id":"47977987-b1d5-49fc-8a91-f7d10557ab0f","name":"entregar_horarios"},{"parameters":{"calendar":{"__rl":true,"value":"7558382a3ebcbe46cec902b70f1dd2e9415631a75ae4bcefba3dfc52c976e54e@group.calendar.google.com","mode":"list","cachedResultName":"Lavadero Mitre"},"start":"={{ $json.FechaOriginal }}","end":"={{ $json.FechaMasUnaHora }}","additionalFields":{"description":"=Servicio: {{ $('When Executed by Another Workflow').item.json.Sevicio }}","summary":"={{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[880,304],"id":"0eac829e-bb03-41d0-8715-981746132f35","name":"crear_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"=Fecha reserva:{{ $('When Executed by Another Workflow').item.json.Fecha }}\nNombre usuario: {{ $('When Executed by Another Workflow').item.json.Nombre }}\nNumero de telefono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\nServicio: {{ $('When Executed by Another Workflow').item.json.Sevicio }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD  \nEres un **asistente automatizado encargado de todo el procedimiento para reservar citas de atención al cliente**.\n\n## 2. HERRAMIENTAS DISPONIBLES  \n- `comprobar_disponibilidad`: Confirma si hay disponibilidad en la fecha indicada.  \n- `entregar_horarios`: Proporciona horarios alternativos si no hay disponibilidad.  \n- `crear_cita`: Crea la cita en el calendario\n-\"registrar_cita\": registra la cita en el CRM\n\n\n## 3. OBJETIVO PRINCIPAL  \nEl agente tiene como propósito **verificar y gestionar automáticamente la reserva de citas de los clientes**, asegurando que las fechas sean válidas, haya disponibilidad y se complete todo el proceso de creación y registro de la cita.\n\n## 4. INSTRUCCIONES ESPECÍFICAS  \n\n1. Usar `comprobar_disponibilidad`.  \n3. Si hay disponibilidad, continuar con:\n   - `crear_cita\"\n   \n4. Si no hay disponibilidad, usar `entregar_horarios` para ofrecer alternativas al cliente.\n\nFORMATO RESPUESTA:\n{\n  \"Respuesta\": \"Su cita ha sido reservada exitosamente para el {}. Aquí tienes los detalles de la reserva:\\n- Nombre: {{ $('When Executed by Another Workflow').item.json.Nombre }}\\n Servicio:{{ $('When Executed by Another Workflow').item.json.Sevicio }}\\n- Teléfono: {{ $('When Executed by Another Workflow').item.json.Telefono }}\\n- Fecha: {fecha en dd/MM/yyyy hh:mm}\\n- Link: {link de la cita}\n\"Respuesta 2\": \"No hay cita para la fecha solicitada, estos son las horas disponibles:\n}\n\nIMPORTANTE:\n- La fecha de hoy es {{ $now }}\n- Maneja las fechas en formato ISO sin zona horaria\n- Entrega las horas ordenadamente\n\n- No utilices asteriscos ni ningún formato de texto (como negritas o cursivas) en las respuestas. El texto debe presentarse de forma simple, sin símbolos especiales.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[464,0],"id":"4a6a83e4-0c63-46bb-a9a5-e675004385b8","name":"Agente reservar"},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"f3daebb0-5298-4f3b-9c52-e711a87cadb1","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8","mode":"list","cachedResultName":"CRM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":322084408,"mode":"list","cachedResultName":"Turnos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=322084408"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ $('When Executed by Another Workflow').item.json.Nombre }}","Fecha cita":"={{ $('When Executed by Another Workflow').item.json.Fecha }}","Telefono":"={{ $('When Executed by Another Workflow').item.json.Telefono }}","Servicio":"={{ $('When Executed by Another Workflow').item.json.Sevicio }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha cita","displayName":"Fecha cita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1040,256],"id":"4f10c7d4-8a39-4a51-a842-bb6a7126b939","name":"registrar_cita","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Agente reservar","type":"ai_languageModel","index":0}]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"entregar_horarios":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"crear_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Agente reservar","type":"main","index":0}]]},"registrar_cita":{"ai_tool":[[{"node":"Agente reservar","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-08-15T16:42:28.000Z","id":10,"workflowId":"sbXOVP58zXsordtI","versionId":"9b93aebd-15e2-4076-a0e3-6b617d29ada9","event":"activated","userId":null}]}}