n8n-portfolio/04-Advanced Chatbot/WF_07_Automated_Reminders.json
{"updatedAt":"2026-05-05T14:58:27.930Z","createdAt":"2026-04-30T20:52:12.670Z","id":"ywI1MjqRMjsvWl0q6bFXa","name":"WF-07 · Automated Reminders","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"7b45c8f1-e143-4dbd-a9a7-bbe931588a32","name":"Every 30 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-224,352]},{"parameters":{"operation":"getAll","tableId":"appointments","limit":1000,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmed"},{"keyName":"reminder_24h_sent","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,160],"id":"f46ebd9e-5fb7-4e4d-b55b-c427798f42ac","name":"Buscar cita para recordatorio de 24 hs","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"efaaf244-c6df-4c84-9f65-3965c25f5055","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,160],"id":"d46f3764-b454-4aca-819f-ac852d824f11","name":"If"},{"parameters":{"operation":"get","tableId":"customers","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.customer_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,64],"id":"6029de2c-0fbe-458c-810a-e699eb257c9d","name":"Obtener whaid del cliente","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('Obtener whaid del cliente').item.json.whatsapp_id }}","textBody":"=Hola! 👋 Te recordamos que mañana tienes una cita en el salón. ¡Te esperamos! 💕","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[880,64],"id":"e4af3da9-fafb-4b5e-a733-8167653016f1","name":"Send message","webhookId":"5aa1126a-8df0-482e-a813-9166b37d79ac","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"jsCode":"const now = new Date();\nconst windowStart = new Date(now.getTime() + 23 * 60 * 60 * 1000);\nconst windowEnd = new Date(now.getTime() + 25 * 60 * 60 * 1000);\n\nreturn $input.all().filter(item => {\n  const startAt = new Date(item.json.start_at);\n  return startAt >= windowStart && startAt <= windowEnd;\n});;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,160],"id":"1a18b9b0-4842-4a1e-9550-b7ceff9f1bda","name":"Code 24h","alwaysOutputData":true},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Code 24h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reminder_24h_sent","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,64],"id":"b0f83104-3cb5-413a-9395-0e51796a81c3","name":"marcar reminder sent","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"appointments","limit":1000,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmed"},{"keyName":"reminder_3h_sent","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,544],"id":"864073a7-6efa-479d-b265-733960c96b36","name":"Buscar citas para recordatorio 3h","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"2c4d8c39-10e5-4290-b02e-9fcd17230712","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,544],"id":"f5c48920-5bc7-4279-b3a3-e9dccdcb9efe","name":"If1"},{"parameters":{"operation":"get","tableId":"customers","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.customer_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[688,448],"id":"e1b3a80d-edc8-4331-a072-991a202fae5a","name":"Obtener wha_id del cliente","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('Obtener wha_id del cliente').item.json.whatsapp_id }}","textBody":"=Hola!! ⏰ En unas horas tienes tu cita en el salón. ¡Ya casi! 🌟","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[880,448],"id":"4bdaea6b-6ae5-41f4-89b4-4422a0d5bb3a","name":"Send message1","webhookId":"5aa1126a-8df0-482e-a813-9166b37d79ac","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"jsCode":"const now = new Date();\nconst windowStart = new Date(now.getTime() + 2.5 * 60 * 60 * 1000);\nconst windowEnd = new Date(now.getTime() + 3.5 * 60 * 60 * 1000);\n\nreturn $input.all().filter(item => {\n  const startAt = new Date(item.json.start_at);\n  return startAt >= windowStart && startAt <= windowEnd;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,544],"id":"1e1edcca-963b-4c5a-b1e1-2d07b39cc102","name":"Code 3h","alwaysOutputData":true},{"parameters":{"tableId":"notifications","fieldsUi":{"fieldValues":[{"fieldId":"customer_id","fieldValue":"={{ $('Code 24h').item.json.customer_id }}"},{"fieldId":"appointment_id","fieldValue":"={{ $('Code 24h').item.json.id }}"},{"fieldId":"type","fieldValue":"reminder_24h"},{"fieldId":"sent_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"status","fieldValue":"sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,64],"id":"0bea76dd-7437-4237-9084-60f610835d1d","name":"Insertar en notifications","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"tableId":"notifications","fieldsUi":{"fieldValues":[{"fieldId":"customer_id","fieldValue":"={{ $('Code 3h').item.json.customer_id }}"},{"fieldId":"appointment_id","fieldValue":"={{ $('Code 3h').item.json.id }}"},{"fieldId":"type","fieldValue":"reminder_3h"},{"fieldId":"sent_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"status","fieldValue":"sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1296,448],"id":"c1f0e3e1-8dae-4b72-b323-cbec3458fab4","name":"Insertar en notifications1","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Code 3h').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reminder_3h_sent","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,448],"id":"f31ad595-85c5-4607-bb7f-00bdfa717672","name":"Marcar sent reminder","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[784,304],"id":"26808d49-0ee5-4977-a59a-90e138f78533","name":"No Operation, do nothing"}],"connections":{"Every 30 Minutes":{"main":[[{"node":"Buscar cita para recordatorio de 24 hs","type":"main","index":0},{"node":"Buscar citas para recordatorio 3h","type":"main","index":0}]]},"Buscar cita para recordatorio de 24 hs":{"main":[[{"node":"Code 24h","type":"main","index":0}]]},"If":{"main":[[{"node":"Obtener whaid del cliente","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Obtener whaid del cliente":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Send message":{"main":[[{"node":"marcar reminder sent","type":"main","index":0}]]},"Code 24h":{"main":[[{"node":"If","type":"main","index":0}]]},"marcar reminder sent":{"main":[[{"node":"Insertar en notifications","type":"main","index":0}]]},"Buscar citas para recordatorio 3h":{"main":[[{"node":"Code 3h","type":"main","index":0}]]},"If1":{"main":[[{"node":"Obtener wha_id del cliente","type":"main","index":0}],[]]},"Obtener wha_id del cliente":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"Code 3h":{"main":[[{"node":"If1","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"Marcar sent reminder","type":"main","index":0}]]},"Marcar sent reminder":{"main":[[{"node":"Insertar en notifications1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82096ff3-4342-42fa-8f54-bfffe04a2e76","activeVersionId":null,"versionCounter":125,"triggerCount":0,"shared":[{"updatedAt":"2026-04-30T20:52:12.681Z","createdAt":"2026-04-30T20:52:12.681Z","role":"workflow:owner","workflowId":"ywI1MjqRMjsvWl0q6bFXa","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}