n8n-portfolio/04-Advanced Chatbot/WF_08_Post_Service_Followup.json
{"updatedAt":"2026-05-05T15:17:08.059Z","createdAt":"2026-05-05T14:59:18.799Z","id":"yhWMrjwrB8LU-uBhdVnL3","name":"WF-08 Post-Service Follow-up","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"0605beaa-762d-4eff-9c95-44489fae7993","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"appointments","limit":1000,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmed"},{"keyName":"review_sent","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"bf85e7f1-55fe-40ec-9c07-96842e10232b","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"04133421-f9db-4724-bba5-bd2cc6fd11a3","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[624,0],"id":"d2ca6e08-5f22-4771-9fa4-788c59c95f2c","name":"¿Hay citas en ventana?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,96],"id":"f8067849-4fc7-4846-a3a6-66127301e82b","name":"No Operation, do nothing"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"completed"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,-96],"id":"74bbf5cd-290d-454c-b98f-e080214868ac","name":"Marcar como completada","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"customers","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.customer_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1040,-96],"id":"35c5e83b-993a-4862-8ee7-ba42efc4256c","name":"obtener datos del cliente","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"jsCode":"const now = new Date();\nconst windowStart = new Date(now.getTime() - 65 * 60 * 1000);\nconst windowEnd = new Date(now.getTime() - 55 * 60 * 1000);\n\nreturn $input.all().filter(item => {\n  const endAt = new Date(item.json.end_at);\n  return endAt >= windowStart && endAt <= windowEnd;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"9e6399c0-d706-472b-b4e5-ed40e191966b","name":"Code","alwaysOutputData":true},{"parameters":{"operation":"send","recipientPhoneNumber":"={{ $('obtener datos del cliente').item.json.whatsapp_id }}","textBody":"=¡Hola! 🌟 Esperamos que hayas disfrutado tu visita. ¿Nos regalas una reseña? Nos ayuda muchísimo 💕 [LINK DE GOOGLE REVIEW]","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1248,-96],"id":"dc641958-999f-4ece-a564-6a4a26c1e608","name":"Send message","webhookId":"6229c3fb-3315-4e93-8bb0-917dcbcff39c","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"content":"## Falta link","height":192,"width":192},"type":"n8n-nodes-base.stickyNote","position":[1200,-144],"typeVersion":1,"id":"a3e782f2-c3dc-4959-a307-8de475e17826","name":"Sticky Note"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"review_sent","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1424,-96],"id":"bcadfff7-8464-4326-8cd9-a4822cc639f6","name":"marcar review sent","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"tableId":"notifications","fieldsUi":{"fieldValues":[{"fieldId":"customer_id","fieldValue":"={{ $('Code').item.json.customer_id }}"},{"fieldId":"appointment_id","fieldValue":"={{ $json.id }}"},{"fieldId":"type","fieldValue":"review"},{"fieldId":"sent_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"status","fieldValue":"sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,-96],"id":"ca7a3d33-c3e8-4a59-8590-d597a471035e","name":"insert notificaciones","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"customers","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_seen_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1776,-96],"id":"28063bb4-5dcd-4277-b40e-8a465967b19a","name":"Actualizar last_seen_at","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Code","type":"main","index":0}]]},"¿Hay citas en ventana?":{"main":[[{"node":"Marcar como completada","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Marcar como completada":{"main":[[{"node":"obtener datos del cliente","type":"main","index":0}]]},"Code":{"main":[[{"node":"¿Hay citas en ventana?","type":"main","index":0}]]},"obtener datos del cliente":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Send message":{"main":[[{"node":"marcar review sent","type":"main","index":0}]]},"marcar review sent":{"main":[[{"node":"insert notificaciones","type":"main","index":0}]]},"insert notificaciones":{"main":[[{"node":"Actualizar last_seen_at","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e5e5fbf-3927-427c-9234-e2cd1823641d","activeVersionId":null,"versionCounter":104,"triggerCount":0,"shared":[{"updatedAt":"2026-05-05T14:59:18.805Z","createdAt":"2026-05-05T14:59:18.805Z","role":"workflow:owner","workflowId":"yhWMrjwrB8LU-uBhdVnL3","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}