n8n-portfolio/04-Advanced Chatbot/WF_1.json
{"updatedAt":"2026-04-28T01:26:03.227Z","createdAt":"2026-04-08T18:25:26.985Z","id":"lMEt3Blq6h7OX9J3r8rf6","name":"WF_1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-112,-96],"id":"b6cf1d1e-2c05-485c-a432-8febbe1aadf5","name":"WhatsApp Trigger","webhookId":"d4fbfb00-8c7a-4a39-8d82-ae865d441cf5","credentials":{"whatsAppTriggerApi":{"id":"tAZDUnV4qdd2W4hm","name":"WhatsApp OAuth account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.messages[0].type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"},"id":"84bc21b5-3014-4402-9b9a-491ac3eb2186"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5386a56a-727d-419a-a68b-8fdb305601cd","leftValue":"={{ $json.messages[0].type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0d2acc8e-e053-4079-bcc9-876897e9fa8d","leftValue":"={{ $json.messages[0].type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[80,-112],"id":"aaf7d509-c80d-4a1f-a7c8-60523a6e9478","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"5ddeb12f-138c-4c03-8b36-e0c1fa60cbe2","name":"text","value":"={{ $json.messages[0].text.body }}","type":"string"},{"id":"3ff26990-d28f-4db8-bb82-8b01fbc106af","name":"message_id","value":"={{ $json.messages[0].id }}","type":"string"},{"id":"275558d7-e96d-492b-97c6-f564d6e89a65","name":"message_from","value":"={{ $json.contacts[0].wa_id }}","type":"string"},{"id":"a94d87ad-f3b5-4d01-88cb-19c8d82412f5","name":"timestamp","value":"={{ $json.messages[0].timestamp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-96],"id":"4a495a7f-f81f-4cae-aae3-b393495b2b04","name":"Edit Fields"},{"parameters":{"operation":"getAll","tableId":"messages","filters":{"conditions":[{"keyName":"wa_message_id","condition":"eq","keyValue":"={{ $json.message_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,-96],"id":"6f6afba1-5529-4d84-80fe-0cd58a02099c","name":"mensaj_repetido","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"getAll","tableId":"customers","filters":{"conditions":[{"keyName":"whatsapp_id","condition":"eq","keyValue":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,320],"id":"10893b5d-9c9d-4955-b383-f4aeaf7fc7b0","name":"Cliente_en_crm","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e22d8ec0-5780-42d2-880c-953187877744","leftValue":"={{ $json.wa_message_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1056,16],"id":"2c737d27-b52a-4d67-9c82-3a4a6eeb4bc2","name":"Check"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f7e23fa2-461e-41f0-b0ea-268af38657c5","leftValue":"={{ $json.whatsapp_id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[272,320],"id":"e44f2e4b-9f51-4dd9-8592-57ca90c0f4ba","name":"Check1"},{"parameters":{"tableId":"customers","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_id","fieldValue":"={{ $json.message_from }}"},{"fieldId":"last_seen_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,224],"id":"19a246bc-7337-424f-8414-841a510b96ca","name":"registrar_cliente","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"wa_message_id","fieldValue":"={{ $('Edit Fields').item.json.message_id }}"},{"fieldId":"content","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"fieldId":"direction","fieldValue":"inbound"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,432],"id":"d0f9c91c-fbd9-413d-b202-c13811bc67d9","name":"registrar_mensaje","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"tlbX-ebQD4NvbghZc7Gx_","mode":"list","cachedResultUrl":"/workflow/tlbX-ebQD4NvbghZc7Gx_","cachedResultName":"WF_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1088,288],"id":"fc0f8d1f-b69e-4a1c-9407-f5c0f0cd90dc","name":"Call 'WF_2'"},{"parameters":{"operation":"update","tableId":"customers","matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp_id","condition":"eq","keyValue":"={{ $('Edit Fields').item.json.message_from }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_seen_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,432],"id":"33a601a4-e715-4776-a213-477b81c88ac7","name":"update_lastseen","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fb6ad79e-f49d-40cd-8d87-49420dc156df","name":"customer_id","value":"={{ $('registrar_cliente').item.json.id }}","type":"string"},{"id":"95a7da7f-ee14-4c3f-a74f-082fcd61c890","name":"texto_mensaje","value":"={{ $('Edit Fields').item.json.text }}","type":"string"},{"id":"ae5a7f86-c204-461f-ac38-2c5363c6ecb2","name":"message_id","value":"={{ $('Edit Fields').item.json.message_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,224],"id":"d33159e4-c044-49e4-8d81-71ffea5a5076","name":"customer_id"},{"parameters":{"assignments":{"assignments":[{"id":"f4a7d6fa-cbcf-4adf-80f0-e8de8f9355f1","name":"customer_id","value":"={{ $('Cliente_en_crm').item.json.id }}","type":"string"},{"id":"35ffc965-8399-4692-bfab-385aeadf718e","name":"texto_mensaje","value":"={{ $('Edit Fields').item.json.text }}","type":"string"},{"id":"0c128875-08d5-4a19-a949-e773eff9508e","name":"message_id","value":"={{ $('Edit Fields').item.json.message_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,432],"id":"2bc13f9a-4e35-4f2f-b930-98b83b6f20dd","name":"Customer_id"},{"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"wa_message_id","fieldValue":"={{ $('Edit Fields').item.json.message_id }}"},{"fieldId":"content","fieldValue":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"},{"fieldId":"direction","fieldValue":"inbound"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,224],"id":"45a18ce9-e59b-40ea-a7cd-45d504392d33","name":"registrar_mensaje1","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"content":"## Existente","height":192,"width":448},"type":"n8n-nodes-base.stickyNote","position":[464,384],"typeVersion":1,"id":"50e875da-35bd-455b-83de-d88a0bcf16b6","name":"Sticky Note"},{"parameters":{"content":"## Nuevo","height":192,"width":448},"type":"n8n-nodes-base.stickyNote","position":[464,176],"typeVersion":1,"id":"b9ff9f85-4cb3-4002-8e34-6ec272ab96c0","name":"Sticky Note1"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"mensaj_repetido","type":"main","index":0}]]},"mensaj_repetido":{"main":[[{"node":"Check","type":"main","index":0}]]},"Cliente_en_crm":{"main":[[{"node":"Check1","type":"main","index":0}]]},"Check":{"main":[[{"node":"Cliente_en_crm","type":"main","index":0}]]},"Check1":{"main":[[{"node":"registrar_cliente","type":"main","index":0}],[{"node":"update_lastseen","type":"main","index":0}]]},"registrar_cliente":{"main":[[{"node":"registrar_mensaje1","type":"main","index":0}]]},"registrar_mensaje":{"main":[[{"node":"Customer_id","type":"main","index":0}]]},"update_lastseen":{"main":[[{"node":"registrar_mensaje","type":"main","index":0}]]},"customer_id":{"main":[[{"node":"Call 'WF_2'","type":"main","index":0}]]},"Customer_id":{"main":[[{"node":"Call 'WF_2'","type":"main","index":0}]]},"registrar_mensaje1":{"main":[[{"node":"customer_id","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff67a6d9-b409-4920-87da-4cfecf5889a2","activeVersionId":null,"versionCounter":492,"triggerCount":0,"shared":[{"updatedAt":"2026-04-08T18:25:26.992Z","createdAt":"2026-04-08T18:25:26.992Z","role":"workflow:owner","workflowId":"lMEt3Blq6h7OX9J3r8rf6","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}