n8n-portfolio/04-Advanced Chatbot/WF_2_Orquestador.json
{"updatedAt":"2026-05-04T21:27:11.708Z","createdAt":"2026-04-27T14:12:49.056Z","id":"tlbX-ebQD4NvbghZc7Gx_","name":"WF_2 Orquestador","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"customer_id\": \"43343253234\",\n  \"texto_mensaje\": \"Hola\",\n  \"message_id\": \"2348392rew324324\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"2d07a30d-12ad-4da1-9e32-2d39f6106595","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","tableId":"sessions","limit":5000,"filters":{"conditions":[{"keyName":"customer_id","condition":"eq","keyValue":"={{ $json.customer_id }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,0],"id":"648ad056-ea05-4cdb-8623-36c48af5a724","name":"Get many rows","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b7af61e9-ab96-4cad-af87-39e5f6546bef","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[336,0],"id":"a54b942e-5e47-4c81-9932-0c663f550f97","name":"If"},{"parameters":{"tableId":"sessions","fieldsUi":{"fieldValues":[{"fieldId":"customer_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.customer_id }}"},{"fieldId":"active","fieldValue":"true"},{"fieldId":"intent","fieldValue":"idle"},{"fieldId":"state","fieldValue":"idle"},{"fieldId":"context","fieldValue":"{}"},{"fieldId":"history","fieldValue":"[]"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[544,96],"id":"22100068-9aa6-4e59-95bc-f9075fc43ff1","name":"crear_sesion","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6c290bfd-bf7b-4558-8a39-24ecb5edeee2","name":"sesion_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[544,-96],"id":"151f9de0-b3a8-4850-b9e4-b1cb5ab21b0f","name":"Tomar sesión"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"Eres un clasificador de intenciones para un salón de belleza.\nAnaliza el mensaje del cliente y responde ÚNICAMENTE con una de estas palabras:\nbooking, cancel, faq, human, idle\n\n- booking: quiere agendar una cita\n- cancel: quiere cancelar una cita\n- faq: pregunta sobre servicios, precios, horarios, políticas\n- human: pide hablar con una persona, está molesto, usa palabras como urgente, queja, enojada, problema\n- idle: saludo genérico, mensaje sin intención clara\n\nNo escribas nada más. Solo la palabra."},{"content":"={{ $('When Executed by Another Workflow').item.json.texto_mensaje }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,0],"id":"9691a1e9-e32f-4cad-8a4d-f32a171d6841","name":"Clasificar","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c6ded750-c7ce-4f21-8893-4e0bf46ea51d","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"=booking","operator":{"type":"string","operation":"equals"}},{"id":"ad396932-8efa-4d99-81fa-5a08f0762774","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"cancel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"df7d8952-0442-49b3-b875-844040705952","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"faq","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"3fcd7f8e-176f-4fb5-9079-f2b8add017fd","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"human","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a963ab36-2a94-4e4f-8d31-2f7231a5d3de","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"idle","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1376,0],"id":"1f6bff27-6132-44b0-b413-13ec9bdd4b04","name":"If1","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"6b87f1ea-386e-4f65-b0cc-75d19399b4b1","name":"text","value":"faq","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,144],"id":"7900e8b9-8cb8-496b-8d14-1bace18792db","name":"Edit Fields"},{"parameters":{"operation":"update","tableId":"sessions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('unificar').item.json.sesion_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"intent","fieldValue":"={{ $json.output[0].content[0].text }}"},{"fieldId":"updated_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1744,128],"id":"8f0d18a6-c885-48c6-b7a1-f9eb7ba375f3","name":"Update a row","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"deb599f5-a292-4da6-a70a-eecb6088c901","name":"sesion_id","value":"={{ $json.sesion_id ?? $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,0],"id":"b8c225d5-f800-47d5-a3aa-b379855ceeb0","name":"unificar"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $('Update a row').item.json.intent }}","rightValue":"booking","operator":{"type":"string","operation":"equals"},"id":"31f83774-5a6a-42d3-af82-0ac85fd19283"}],"combinator":"and"},"renameOutput":true,"outputKey":"booking"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"11135f57-c751-4f20-ba95-ef0b2c34e1b8","leftValue":"={{ $('Update a row').item.json.intent }}","rightValue":"cancel","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f26b11ca-acad-4306-af52-a469997db994","leftValue":"={{ $('Update a row').item.json.intent }}","rightValue":"faq","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"faq"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"566497ff-db14-483a-9a0f-1ce459811541","leftValue":"={{ $('Update a row').item.json.intent }}","rightValue":"human","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"human"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4832e66f-35e0-4c28-a4ca-0164c105faf6","leftValue":"={{ $('Update a row').item.json.intent }}","rightValue":"idle","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"idle"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[336,624],"id":"b5d9304c-cb56-4414-aadd-8e89e69136bb","name":"Switch"},{"parameters":{"operation":"update","tableId":"customers","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.customer_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_seen_at","fieldValue":"={{ new Date().toISOString() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,464],"id":"5d7233d3-8405-4119-aa1d-4ae9e1ec8ff1","name":"Update customers.last_seen_at","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"yLlTzKbIf6ldLRcfoO3DN","mode":"list","cachedResultUrl":"/workflow/yLlTzKbIf6ldLRcfoO3DN","cachedResultName":"WF_3"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,336],"id":"06e256b2-52a9-43c8-a2fb-c34bdc12e7e8","name":"Call 'WF_3'"},{"parameters":{"workflowId":{"__rl":true,"value":"N8f8kZtxUn8FXOnGoRVC2","mode":"list","cachedResultUrl":"/workflow/N8f8kZtxUn8FXOnGoRVC2","cachedResultName":"WF_5"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,496],"id":"4f313fa8-bd1c-43e1-8a11-3551ecaac809","name":"Call 'WF_5'"},{"parameters":{"workflowId":{"__rl":true,"value":"SUJ07-N1PSGksWz38Zw4X","mode":"list","cachedResultUrl":"/workflow/SUJ07-N1PSGksWz38Zw4X","cachedResultName":"WF_4"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,656],"id":"14eac8c8-940a-43f4-aca4-7ba9508a96a8","name":"Call 'WF_4'"},{"parameters":{"workflowId":{"__rl":true,"value":"ia3qnJ65gshddxUBe91rh","mode":"list","cachedResultUrl":"/workflow/ia3qnJ65gshddxUBe91rh","cachedResultName":"WF_6"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,816],"id":"8bce15bc-778b-42bb-a900-fbd63e9163fa","name":"Call 'WF_6'"},{"parameters":{"workflowId":{"__rl":true,"value":"SUJ07-N1PSGksWz38Zw4X","mode":"list","cachedResultUrl":"/workflow/SUJ07-N1PSGksWz38Zw4X","cachedResultName":"WF_4"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[592,976],"id":"59aa4fbe-c5a9-44af-81dc-abf3c1beaab7","name":"Call 'WF_4'1"},{"parameters":{"assignments":{"assignments":[{"id":"6afc31c1-e9eb-4dbf-97f7-356365557670","name":"session_id","value":"={{ $('unificar').item.json.sesion_id }}","type":"string"},{"id":"390baf83-7116-4a92-87bc-35854738a641","name":"texto_mensaje","value":"={{ $('When Executed by Another Workflow').item.json.texto_mensaje }}","type":"string"},{"id":"7afa2124-6fe0-4f02-91ad-2e07925264dd","name":"customer_id","value":"={{ $('When Executed by Another Workflow').item.json.customer_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,672],"id":"2e9dbd77-6e3b-48e8-8edb-218448a6caa5","name":"valores_subworkflows"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Tomar sesión","type":"main","index":0}],[{"node":"crear_sesion","type":"main","index":0}]]},"Tomar sesión":{"main":[[{"node":"unificar","type":"main","index":0}]]},"crear_sesion":{"main":[[{"node":"unificar","type":"main","index":0}]]},"Clasificar":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update a row","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"unificar":{"main":[[{"node":"Clasificar","type":"main","index":0}]]},"Update a row":{"main":[[{"node":"Update customers.last_seen_at","type":"main","index":0}]]},"Update customers.last_seen_at":{"main":[[{"node":"valores_subworkflows","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call 'WF_3'","type":"main","index":0}],[{"node":"Call 'WF_5'","type":"main","index":0}],[{"node":"Call 'WF_4'","type":"main","index":0}],[{"node":"Call 'WF_6'","type":"main","index":0}],[{"node":"Call 'WF_4'1","type":"main","index":0}]]},"valores_subworkflows":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"customer_id":"c551f51d-d8af-4320-939a-e7762fbb7e18","texto_mensaje":"Hola","message_id":"wamid.HBgNNTIxNDQ2MTExMTI1NRUCABIYFDNBODc3NDZEM0NFQkUzODAzRTY4AA=="},"pairedItem":{"item":0}}]},"versionId":"16d1b811-9771-4fc4-9c94-8bc717a03eb3","activeVersionId":null,"versionCounter":222,"triggerCount":0,"shared":[{"updatedAt":"2026-04-27T14:12:49.062Z","createdAt":"2026-04-27T14:12:49.062Z","role":"workflow:owner","workflowId":"tlbX-ebQD4NvbghZc7Gx_","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}