n8n-portfolio/04-Advanced Chatbot/WF_5.json
{"updatedAt":"2026-05-02T04:45:26.246Z","createdAt":"2026-04-28T01:13:25.639Z","id":"N8f8kZtxUn8FXOnGoRVC2","name":"WF_5","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"customer_id\": \"43343253234\",\n  \"texto_mensaje\": \"Hola\",\n  \"session_id\": \"2348392rew324324\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,-64],"id":"9ac1018e-7ade-413c-830a-43704cf60d70","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","tableId":"appointments","limit":10000,"filters":{"conditions":[{"keyName":"customer_id","condition":"eq","keyValue":"={{ $json.customer_id }}"},{"keyName":"status","condition":"eq","keyValue":"confirmed"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[208,0],"id":"bef2f4cd-2144-412a-a4fd-43e20d151a94","name":"Buscar cita","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ee29aa88-7352-4f5e-9fd7-dcf8fe01e021","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"fab25e5f-58ee-43af-88f3-30fa55bb7d05","name":"If"},{"parameters":{"operation":"get","tableId":"customers","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('When Executed by Another Workflow').item.json.customer_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,96],"id":"87f3c799-93cd-48e9-b302-bc1c78dcd7a8","name":"Get a row","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"=","textBody":"No tenemos citas activas registradas para ti. ¿Hay algo más en lo que pueda ayudarte? 😊","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[832,96],"id":"72650705-2c36-42e3-9d27-c9df1713adb0","name":"Send message","webhookId":"dc6140f8-1df1-49fc-b4e9-e4044ea1f5bc","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"Eres un asistente de un salón de belleza.\nEl cliente quiere cancelar una cita.\nAquí están sus citas activas en formato JSON: Aquí están sus citas activas en formato JSON, las recibirás en el mensaje del usuario. Redacta un mensaje corto y amable preguntando cuál cita desea cancelar.\nLista cada cita con número, fecha, hora y estilista.\nSi solo hay una cita, pregunta directamente si desea cancelar esa.\nResponde solo el mensaje, sin explicaciones adicionales."},{"content":"={{ JSON.stringify($('Buscar cita').all()) }}"}]},"builtInTools":{},"options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[640,-96],"id":"356f63e4-23de-4193-a721-9a2f82373d8a","name":"Message a model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"=","textBody":"={{ $('Message a model').item.json.output[0].content[0].text }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[960,-96],"id":"9cbbc1a4-d362-4f75-af4c-62bb82d5061d","name":"Send message1","webhookId":"dc6140f8-1df1-49fc-b4e9-e4044ea1f5bc","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"operation":"update","tableId":"sessions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"state","fieldValue":"waiting_cancel_confirmation"},{"fieldId":"context","fieldValue":"={{ JSON.stringify({citas: $('Buscar cita').all()}) }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,-96],"id":"39cf078c-18af-433c-8fc0-3ace81e01f65","name":"Update a row","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"},{"fieldId":"content","fieldValue":"={{ $('Message a model').item.json.output[0].content[0].text }}"},{"fieldId":"direction","fieldValue":"outbound"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1328,-96],"id":"ee4db40f-414e-4b9d-aa3c-e5e0ffc6475d","name":"Create a row","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"sessions","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.session_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-208,-64],"id":"e6209fcc-7909-49aa-bf95-97734d896505","name":"obtener sesion","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c68574b1-d7e4-441c-93f0-7c21e27eeff9","leftValue":"={{ $json.state }}","rightValue":"waiting_cancel_confirmation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-16,-64],"id":"648a39a8-1df7-41bb-ab77-b3e12b7318b8","name":"ronda 1 o 2?"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"responses":{"values":[{"role":"system","content":"Tienes una lista de citas activas del cliente en formato JSON.\nEl cliente acaba de responder indicando qué cita quiere cancelar.\nAnaliza su respuesta y responde ÚNICAMENTE con el UUID de la cita a cancelar.\nSi no puedes identificarlo claramente responde exactamente: UNCLEAR\nNo escribas nada más."},{"content":"=Citas disponibles: {{ $('obtener sesion').item.json.context }}\nRespuesta del cliente: {{ $('When Executed by Another Workflow').item.json.texto_mensaje }}"}]},"builtInTools":{},"options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[240,-320],"id":"f0004da4-8ba7-4104-a8ee-4e9dfd43a146","name":"Message a model1","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5b48f992-8996-47de-99fc-9d0c8c74ea63","leftValue":"={{ $json.output[0].content[0].text }}","rightValue":"=UNCLEAR","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,-320],"id":"093ea3fc-dfcd-42bd-9387-ae25de7bed7a","name":"If1"},{"parameters":{"operation":"send","recipientPhoneNumber":"=","textBody":"=No pude identificar qué cita deseas cancelar. ¿Puedes indicarme el número de la cita o la fecha?","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[816,-256],"id":"d560f6e2-b2f2-42e6-91d1-eeb53a05c141","name":"Send message2","webhookId":"dc6140f8-1df1-49fc-b4e9-e4044ea1f5bc","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e3f18674-605f-4b4e-b8db-2ed75edae81e","leftValue":"={{ new Date($('cancelar').item.json.start_at) < new Date(Date.now() + 2*60*60*1000) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1024,-416],"id":"1cfc3f15-da5f-47b0-ae51-fc292109a5e9","name":"If2"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.output[0].content[0].text }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"cancelled"},{"fieldId":"cancelled_at","fieldValue":"={{ new Date().toISOString() }}"},{"fieldId":"cancel_reason","fieldValue":"={{ $('When Executed by Another Workflow').item.json.texto_mensaje }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,-416],"id":"b8910a01-c38f-497f-b124-f851791b94d1","name":"cancelar","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"=","textBody":"=Te acaban de cancelar una cita pronta","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1280,-480],"id":"4b97f1fc-a40b-49d7-9f8b-84cfc5316c13","name":"Alertar a itzel","webhookId":"dc6140f8-1df1-49fc-b4e9-e4044ea1f5bc","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"=","textBody":"=Tu cita ha sido cancelada exitosamente. ¡Cuando quieras reagendar, aquí estamos esperandote! 💕","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1280,-304],"id":"f67241be-271a-46fa-9406-79c170f6c0c8","name":"Confirmar cancelacion","webhookId":"dc6140f8-1df1-49fc-b4e9-e4044ea1f5bc","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"operation":"update","tableId":"sessions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"state","fieldValue":"idle"},{"fieldId":"context","fieldValue":"{}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1488,-304],"id":"5909e247-6484-4c6a-b241-a085fcbcf2cc","name":"limpiar sesion","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"content","fieldValue":"Tu cita ha sido cancelada exitosamente. ¡Cuando quieras reagendar, aquí estamos esperandote! 💕"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,-304],"id":"240ae82c-248e-4b78-9fc7-19dcebfb0958","name":"Registrar mensaje","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"obtener sesion","type":"main","index":0}]]},"Buscar cita":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Message a model","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}]]},"Get a row":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send message1","type":"main","index":0}]]},"Send message1":{"main":[[{"node":"Update a row","type":"main","index":0}]]},"Send message":{"main":[[]]},"Update a row":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"obtener sesion":{"main":[[{"node":"ronda 1 o 2?","type":"main","index":0}]]},"ronda 1 o 2?":{"main":[[{"node":"Message a model1","type":"main","index":0}],[{"node":"Buscar cita","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"cancelar","type":"main","index":0}],[{"node":"Send message2","type":"main","index":0}]]},"cancelar":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Alertar a itzel","type":"main","index":0}],[{"node":"Confirmar cancelacion","type":"main","index":0}]]},"Create a row":{"main":[[]]},"Confirmar cancelacion":{"main":[[{"node":"limpiar sesion","type":"main","index":0}]]},"limpiar sesion":{"main":[[{"node":"Registrar mensaje","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"America/Mexico_City","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cec62733-ec40-4134-aa9c-1408301cee27","activeVersionId":null,"versionCounter":185,"triggerCount":0,"shared":[{"updatedAt":"2026-04-28T01:13:25.643Z","createdAt":"2026-04-28T01:13:25.643Z","role":"workflow:owner","workflowId":"N8f8kZtxUn8FXOnGoRVC2","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}