n8n-portfolio/04-Advanced Chatbot/WF_6.json
{"updatedAt":"2026-05-04T21:45:23.260Z","createdAt":"2026-04-28T01:13:26.512Z","id":"ia3qnJ65gshddxUBe91rh","name":"WF_6","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"customer_id\": \"43343253234\",\n  \"texto_mensaje\": \"Hola\",\n  \"session_id\": \"2348392rew324324\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"8268311d-0b13-41c5-9cad-8f74d0c4b09a","name":"When Executed by Another Workflow"},{"parameters":{"tableId":"handoffs","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $json.session_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,0],"id":"dee652fc-07ea-43af-8c7b-ef55efb2299d","name":"Registrar handoff","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"sessions","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"intent","fieldValue":"human"},{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[352,0],"id":"82092ea7-0de4-4277-893a-6736d899e3e3","name":"Desactivar sesión","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"customers","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('When Executed by Another Workflow').item.json.customer_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[528,0],"id":"ef4ec487-9530-48fb-ad1a-017d3caf1809","name":"Obtener datos del cliente","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","textBody":"Entiendo tu situación y lo tomamos muy en serio. Una de nuestras especialistas te contactará en los próximos minutos ✨","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[720,0],"id":"7152c10a-4cff-438e-9d7e-23e1b50f86aa","name":"Responder al cliente","webhookId":"45d67d40-e991-4461-b295-c4ed07f500c3","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"(Numero itzel)","textBody":"=⚠️ Ayuda solicitada\nCliente: {{ $('Obtener datos del cliente').item.json.whatsapp_id }}\nÚltimo mensaje: {{ $('When Executed by Another Workflow').item.json.texto_mensaje }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1120,0],"id":"6618aed8-aff6-4c11-b422-a341d42e39ae","name":"Contactar a itzel","webhookId":"45d67d40-e991-4461-b295-c4ed07f500c3","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b0618c6d-8f49-45d7-ab7b-21dd6a45f9ea","leftValue":"={{ $json.resolved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,320],"id":"c25d63fa-5dc2-4b06-89cd-4b873f076a20","name":"If"},{"parameters":{"operation":"get","tableId":"handoffs","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[336,320],"id":"d291dcd0-30e1-4e99-be04-2c2ea885e5a3","name":"Verificar si el handoff fue resuelto","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}},{"parameters":{"operation":"send","recipientPhoneNumber":"(Numero itzel)","textBody":"=⚠️ Recordatorio: el cliente {{ $('Obtener datos del cliente').item.json.whatsapp_id }} aún no ha sido atendido. Lleva 30 minutos esperando.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[688,400],"id":"7a9d058a-bf8d-4343-a050-9034a7c2abce","name":"Recordatorio a itzel","webhookId":"54cd19db-c3bb-4875-9844-e0ccfb3a3200","credentials":{"whatsAppApi":{"id":"HOSf5PToUPKXwM6I","name":"WhatsApp account"}}},{"parameters":{"amount":40,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,320],"id":"9a9fc57c-97a7-40dc-8e0b-3e774f3cfdf3","name":"Wait","webhookId":"cff46c44-ef04-4db0-80cf-d7dce305ae4e"},{"parameters":{"content":"## PENDIENTE PARA MEJORAR","height":272,"width":768},"type":"n8n-nodes-base.stickyNote","position":[112,272],"typeVersion":1,"id":"148a9783-f7db-45ab-b508-3ac6e8d22e50","name":"Sticky Note"},{"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('When Executed by Another Workflow').item.json.session_id }}"},{"fieldId":"direction","fieldValue":"outbound"},{"fieldId":"content","fieldValue":"Entiendo tu situación y lo tomamos muy en serio. Una de nuestras especialistas te contactará en los próximos minutos ✨"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[928,0],"id":"82cbd935-66f2-481a-ab8e-ae919d47ad74","name":"Registrar mensaje outbound","credentials":{"supabaseApi":{"id":"hXpLoipPWQopB7q2","name":"Supabase account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Registrar handoff","type":"main","index":0}]]},"Registrar handoff":{"main":[[{"node":"Desactivar sesión","type":"main","index":0}]]},"Desactivar sesión":{"main":[[{"node":"Obtener datos del cliente","type":"main","index":0}]]},"Obtener datos del cliente":{"main":[[{"node":"Responder al cliente","type":"main","index":0}]]},"Responder al cliente":{"main":[[{"node":"Registrar mensaje outbound","type":"main","index":0}]]},"Contactar a itzel":{"main":[[]]},"Verificar si el handoff fue resuelto":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Recordatorio a itzel","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Verificar si el handoff fue resuelto","type":"main","index":0}]]},"Registrar mensaje outbound":{"main":[[{"node":"Contactar a itzel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"419329c0-275e-4096-b238-a5d0bd709fba","activeVersionId":null,"versionCounter":109,"triggerCount":0,"shared":[{"updatedAt":"2026-04-28T01:13:26.516Z","createdAt":"2026-04-28T01:13:26.516Z","role":"workflow:owner","workflowId":"ia3qnJ65gshddxUBe91rh","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}