n8n-portfolio/01-Masajes/Agente_de_reservas_Masajes.json
{"updatedAt":"2025-09-13T20:05:27.000Z","createdAt":"2025-08-28T20:00:48.833Z","id":"4HQJjLlvs0a9YRqR","name":"Agente de reservas Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.key_mem }}{{ $('Edit Fields4').item.json.key_mem }}","contextWindowLength":7},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1968,-80],"id":"2b799441-ff82-4220-8c22-79a7b8da73d3","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"LQ2ORxHNSidnx5eR","name":"Masajes saludables"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1856,-48],"id":"6f77fd51-e6ea-4b63-8712-36d11c7d6704","name":"Think"},{"parameters":{"description":"Herramienta encargada de comprobar las fechas ingresadas","workflowId":{"__rl":true,"value":"VPehvHsKU7AMGTSC","mode":"list","cachedResultName":"Comprobar fecha Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1264,-176],"id":"5795c230-7fb9-43d6-ac5c-cc251bd4730c","name":"comprobar_fecha"},{"parameters":{"description":"LLama a esta herramienta cuando el cliente requiera atencion extra o quiere ser atendido por un humano.","workflowId":{"__rl":true,"value":"jeXy0zIobtU19wkC","mode":"list","cachedResultName":"Enviar asesor Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_del_usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Asunto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Asunto', `Descripcion de en que necesita ayuda el usuario`, 'string') }}","Instancia":"={{ $('Webhook1').item.json.body.instance }}"},"matchingColumns":["numero_del_usuario"],"schema":[{"id":"numero_del_usuario","displayName":"numero_del_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Asunto","displayName":"Asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Instancia","displayName":"Instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1056,-256],"id":"1d8a609f-dc91-453c-824b-378f9bcbe215","name":"enviar_asesor"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.response }}\nEl numero de telefono del usuario es:{{ $json['telefono_del _usuario'] }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres una **asistente de reservas** ARGENTINA llamada Luz para **Masajes Saludables**. \nTu rol es atender a los clientes respondiendo preguntas frecuentes, gestionando reservas, modificaciones y cancelaciones de citas y respondiendo mensajes a clientes.\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. OBLIGATORIO USARLA SIEMPRE SIN EXCEPCIONES\n\n- **conocimiento**  \n  Usar siempre para responder cualquier pregunta o duda que tenga el cliente respecto al negocio, horarios, servicios, etc.\n\n- **buscar_usuario**:busca al usuario en la base de datos para verificar si esta registrado en el crm.\n\n- **registrar_usuario**: si el usuario no existe en el CRM debes registrarlo\n\n- **consultar_disponibilidad**: usar esta herramienta antes de ofrecer horarios para consultar la disponibilidad del dia que te solicita el usuario y omitir los ocupados.\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **comprobar_fecha**:\n  Para comprobar la fecha antes de reservar.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n- **derivar_humano**  \n  Para derivar a asesor humano cuando se necesite ayuda extra o el cliente lo requiera.\n\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n- Verificar si el usuario existe en el CRM con \"buscar_usuario\".\n- Si el usuario existe , llamalo por su nombre (sin apellido), que bueno verte de nuevo y preguntale que desea realizar.\n- Si el usuario NO existe, preguntale su NOMBRE y APELLIDO y registralo en el CRM con tu herramienta \"registrar_usuario\", luego pregunta que desea realizar.\n-Los nombres y los apellidos pueden tener 2 letras o mas.\n\n- Para **reservar una cita**:\n  - Pregunta siempre al usuario unicamente el dia en que desea su cita y y dale las opciones de servicios disponibles consultando en \"conocimiento\" y presentalos en fomato lista con numero.\n  - Es sumamente importante que recibas siempre el dia. \n  - Es obligatorio usar `comprobar_fecha` antes de realizar la reserva y de solicitar el nombre y servicio.\n  -La herramienta `comprobar_fecha` es solo para ver si la fecha solicitada es valida.\n-NO LE CONFIRMES AL USUARIO QUE LA FECHA ES VALIDA.\n-OBLIGATORIO USAR la herramienta `consultar_disponibilidad` para obtener los horarios disponibles que no estan reservados y ofrecerlos al usuario.\n-Una vez que recibiste el dia ofrecele al usuario los horarios disponibles usando la herramienta `consultar_disponibilidad`\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n- Usa `conocimiento` para responder cualquier duda sobre horarios, servicios, consultas o información general del negocio.\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Sé amable, clara y breve en tus respuestas.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n- Para **derivar atencion a un asesor**: deriva atencion a un asesor cuando el cliente necesite ayuda extra\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Si es un servicio oficial llama a \"conocimiento\" con el nombre exacto\n- Si es una pregunta llama a \"conocimiento\" con la frase textual del cliente\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n-Cuando se abra la conversacion siempre debes presentarte como Luz, la asistente de Masajes Saludables. Con una energia muy alegre, energica y calida.\n- Siempre cierra con una actitud cálida, profesional y empática\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Si el cliente no se acuerda del horario de su fecha, dale la opcion de derivar a un asesor para ser atendido.\n-DEBES de usar emojis para hacer mas calida la conversación.\n  -Siempre debes de comprobar si los horarios que vas a ofrecer estan disponibles. Una vez que lo revises ya puedes ofrecer los disponibles y excluye los que no lo estan.\n-Siempre debes de darle la lista con los servicios al usuario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1792,-480],"id":"7330eac2-3fbf-4319-9f93-45635dd9498c","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":4000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2112,-160],"id":"5eb04d45-55ec-473f-93fd-a981286543e2","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a967ec0a-b568-4058-91ce-b32d03cc3522","name":"text","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4160,-144],"id":"5a946df2-c626-4b19-8a09-3b59447f47aa","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1728,304],"id":"db845392-82a8-41d1-a096-6ce8fc6a0c43","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1712,0],"id":"b51300dc-6e32-4fe5-b808-16a8b1ee948a","name":"registrar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefono","lookupValue":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1536,0],"id":"8a0755a3-ea5f-4430-9d16-d9d897cd3f29","name":"buscar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Webhook1').item.json.body.instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Webhook1').item.json.body.data.key.id }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-656,-480],"id":"72fae17f-6cf7-4796-884f-990779ccf3da","name":"Evolution bot","credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"5c91d254-848a-4f11-96d7-2f8a4df65fda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b379ce4d-5f51-4873-9412-87fc2289ed48","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd147d86-059e-48d9-b5e7-80bd8e457ce7","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4816,-496],"id":"daadd553-369f-4f85-bcdd-ceed4354a716","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4368,-768],"id":"ee55e2b5-bb08-44fb-94d4-0dd2b790ae10","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4160,-768],"id":"7477ae89-c61f-43f0-8ad1-d08c305a1fc9","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3952,-768],"id":"810614c9-f554-44cb-a193-24d56a8ddae9","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"9e25c9cd-a470-4705-9ac6-edeaef169c63","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1bb12fa-32e2-46fd-80da-8e600d6382d8","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"81273d1f-496a-4aab-84b1-ecf78d2a53d0","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"25db6808-d8f8-4e83-89f7-90c58bca0ced","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3648,-480],"id":"6ae57c7e-6d8b-431b-9278-a23a4b41d8c6","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"imagemessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4480,-480],"id":"bb4a30a0-c23b-49af-9ca2-d2b6ecf66303","name":"Edit Fields5"},{"parameters":{"operation":"toBinary","sourceProperty":"imagemessage_base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4304,-480],"id":"14deaa36-1cb2-4291-9beb-8252ec74a35f","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4112,-480],"id":"baffda88-babc-4998-884b-7a3a67bf5fe4","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4096,-272],"id":"c3b15b08-8ad6-4a93-9f79-43f8d14dea3e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5392,-288],"id":"933f1a39-0150-45d3-91b6-763dabdd4a7c","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0bff70e-a95a-4cd2-9a2b-bafb74e9bd9f","leftValue":"={{ $json.Telefono }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6032,-464],"id":"347cd7a7-b415-480d-bf37-ba1a2c7a04c0","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8f207b36-fb8f-4506-ad50-9b8d3137fee3","leftValue":"={{ $json.Telefono }}","rightValue":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-6208,-464],"id":"1b1ccf05-1ea5-4741-a8e4-1de5cb547f5f","name":"Filter","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=1669694889"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-6384,-464],"id":"9f8a0fbc-c969-4529-881b-ba040355d79a","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageText":"={{ $('AI Agent1').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-816,-480],"id":"65403f66-31b3-4569-a85f-f2e9a9944429","name":"Cerrar interaccion","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdffa525-49eb-4c99-9620-eeadae7c0b47","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"5492344475106","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6608,-448],"id":"efcd364f-9eff-48a9-8dc4-c82de518cd16","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6384,-256],"id":"4ae36ebe-bb22-494d-a9db-28cfb7886ee3","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2320,-480],"id":"bd163b84-6a81-4047-acd4-cf3246d6c90f","name":"Redis","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis10').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-480],"id":"43853202-446a-445d-8bf0-c8e90b44f2d1","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2496,-240],"id":"d55030c3-4412-4114-8780-cfda7b0b5572","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3168,-480],"id":"2c25c5a4-66b9-49a6-824f-d22f3d55368e","name":"Wait","webhookId":"0a64e419-6904-4df8-a1c6-f00757e58bf3"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $json['telefono_del _usuario'] }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2944,-480],"id":"f8af0670-1474-4d3b-a980-299f63cbeec0","name":"Redis10","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Edit Fields4').item.json.mensaje }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2704,-480],"id":"3e90b688-ca01-4aaf-aaf1-0c527968608f","name":"If3"},{"parameters":{"operation":"push","list":"={{ $json['telefono_del _usuario'] }}","messageData":"={{ $json.mensaje }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3408,-480],"id":"f595f2bc-074c-4ce8-aa28-d06097a83ac9","name":"Redis8","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cd86dc-b693-4467-99a4-31301750634c","leftValue":"={{ $json.Modo }}","rightValue":"Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5664,-464],"id":"882f114c-e1eb-4338-9c48-70b22cfad64e","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":612448841,"mode":"list","cachedResultName":"Modo ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=612448841"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5392,-480],"id":"95a0af94-0018-4a20-88f1-ea945b73545a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29e97cf6-389b-4d81-afde-3255a0ed8189","leftValue":"={{ $json.Activo }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5216,-480],"id":"a4ce8dc2-51a2-41b8-b42c-9bf6b5fc6404","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"aypPYrQTz74SVZ3Q","mode":"list","cachedResultName":"Agente ausencia Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body_data_message_conversation":"={{ $('Webhook1').item.json.body.data.message.conversation }}","body_instance":"={{ $('Webhook1').item.json.body.instance }}","body_data_key_remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","id":"={{ $('Webhook1').item.json.body.data.key.id }}"},"matchingColumns":["body_data_message_conversation","Mensaje","body_data_key_remoteJid_split","body_instance","body_data_key_remoteJid"],"schema":[{"id":"body_data_message_conversation","displayName":"body_data_message_conversation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_instance","displayName":"body_instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_data_key_remoteJid","displayName":"body_data_key_remoteJid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5056,-304],"name":"Call Agente ausencia lavadero","id":"08538649-0b44-4066-a947-b4639deb451d"},{"parameters":{"assignments":{"assignments":[{"id":"51fe4181-a754-4380-aa3b-a13fb5624925","name":"Mensaje","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5008,-480],"id":"cd6f77f9-9eef-4702-9cd0-dd8cae7f379b","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"WrZgbQDNnObH5KqN","mode":"list","cachedResultName":"Consultas y modificaciones Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.mensaje }}","id":"={{ $json.body.data.key.id }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5712,-864],"id":"c9e343af-5f1e-4e10-bcbd-caf1d05f69e1","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6480,-752],"id":"dc501c2c-23f1-4804-b51a-900b257662de","name":"Edit Fields6"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-6304,-752],"id":"a0ec24bf-f084-4200-99ab-737194569393","name":"Convert to File2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6112,-752],"id":"dee457a0-120a-48d2-8356-f31e47ed7cbf","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"902fff40-e636-4060-86fb-8e28bec0687a","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6736,-848],"id":"84d4f9cb-1068-4672-a3b7-e163b2cb7d5b","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"007bb66e-cc34-43e8-aae6-6e24a21c7225","name":"mensaje","value":"={{ $json.body.data.message.conversation }}{{ $json.text }}","type":"string"},{"id":"d4d314ea-94c3-4e0c-a183-e29075b2aed2","name":"body.data.key.id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5904,-864],"id":"88de4a58-8c56-4bb8-ba84-089d0bffb24a","name":"Edit Fields7"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-992,-480],"id":"8e013d54-f06d-4759-8054-b1724fb802f3","name":"Mercar mensajes como leidos","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6800,-448],"id":"5c842594-5882-4402-b028-719122f197d1","name":"Mercar mensajes como leidos2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"058581e6-358b-470f-ae9d-814a7ee89e56","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5492344421918@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7088,-448],"id":"579fcbb1-9a8c-48c2-81e6-750b13a6c871","name":"If7"},{"parameters":{"httpMethod":"POST","path":"fa4003ff-b3de-4cde-a095-69b9aa205ac6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7312,-448],"id":"f3d40be3-e119-468b-bdaa-3b869a8840b0","name":"Webhook1","webhookId":"fa4003ff-b3de-4cde-a095-69b9aa205ac6"},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"response","value":"={{ $json.text }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3136,-784],"id":"999a0e3f-37c0-4487-934b-163e185197ba","name":"Edit Fields9"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Herramienta para responder a preguntas especificas del usuario.","pineconeIndex":{"__rl":true,"value":"masajessaludables","mode":"list","cachedResultName":"masajessaludables"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1712,160],"id":"eccf1a1f-c452-420e-9dff-449328dbfea1","name":"conocimiento","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"assignments":{"assignments":[{"id":"69ff679c-773a-4e82-b3c6-9bd684ba4892","name":"response","value":"={{ $json.response }}","type":"string"},{"id":"f4cdc99a-6e14-4a73-ad93-88452127b414","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"c787649b-4ee5-47de-8aba-3776d44599ba","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1971b9a-85b3-489e-8f9a-7be11261e7a3","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"ca2c5a83-f023-49db-8286-b272ae83191f","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-544],"id":"fc765c45-774d-4128-8705-c44acb795723","name":"Edit Fields8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Modo":"Bot","Telefono":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}"},"matchingColumns":["Telefono"],"schema":[{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5840,-336],"id":"7ba9b515-6f2a-47e3-a0ee-5a097c9eec49","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"G9LXGDAJ0Hdc1ivX","mode":"list","cachedResultName":"Comprobar disponibilidad masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dia_solicitado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_solicitado', ``, 'string') }}"},"matchingColumns":["dia_solicitado"],"schema":[{"id":"dia_solicitado","displayName":"dia_solicitado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1392,-128],"id":"f2848745-95d8-4766-9cd2-9ce16e712d08","name":"comprobar_disponibilidad"},{"parameters":{"workflowId":{"__rl":true,"value":"E5DSBZkCmAZoDKgC","mode":"list","cachedResultName":"Agente citas Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefono del usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Nombre del usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_del_usuario', `Nombre del usuario`, 'string') }}","Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefono del usuario","displayName":"Telefono del usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Nombre del usuario","displayName":"Nombre del usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1168,-224],"id":"548ce0ed-6fdd-4281-b0b6-44e8d32cdb9a","name":"citas"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"comprobar_fecha":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"enviar_asesor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Mercar mensajes como leidos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"conocimiento","type":"ai_embedding","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"buscar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Cerrar interaccion":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis10","type":"main","index":0}]]},"Redis10":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Call Agente ausencia lavadero","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Mercar mensajes como leidos":{"main":[[{"node":"Cerrar interaccion","type":"main","index":0}]]},"Mercar mensajes como leidos2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If7":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Mercar mensajes como leidos2","type":"main","index":0}]]},"Webhook1":{"main":[[]]},"Edit Fields9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"conocimiento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"citas":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"headers":{"host":"apps-n8n.q9w1i5.easypanel.host","user-agent":"axios/1.7.9","content-length":"958","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"apps-n8n.q9w1i5.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"d9e71cc81665","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Masajes saludables","data":{"key":{"remoteJid":"5214461111255@s.whatsapp.net","fromMe":false,"id":"3AAEA4DB17115497888D"},"pushName":"Matias Dibe","status":"DELIVERY_ACK","message":{"conversation":"Que tenes libre mañana?","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"hmwCxH/9tZBhjg==","senderTimestamp":"1757533058","recipientKeyHash":"raxuig6ukTeu3g==","recipientTimestamp":"1757038675"},"deviceListMetadataVersion":2,"messageSecret":"Mj8cgZOgpMrkTPxdZw2V9/n2fgbyLfplxIBlZtUbdGo="}},"messageType":"conversation","messageTimestamp":1757559817,"instanceId":"0d135bf2-b4e0-4ff3-b8a3-f013174abb37","source":"ios"},"destination":"https://apps-n8n.q9w1i5.easypanel.host/webhook/fa4003ff-b3de-4cde-a095-69b9aa205ac6","date_time":"2025-09-11T00:03:37.991Z","sender":"5492344401011@s.whatsapp.net","server_url":"https://apps-evolution-api.q9w1i5.easypanel.host","apikey":"9E411B2AB818-49AD-A916-2A6FF13CEC4B"},"webhookUrl":"https://apps-n8n.q9w1i5.easypanel.host/webhook/fa4003ff-b3de-4cde-a095-69b9aa205ac6","executionMode":"production"}}]},"versionId":"efa55f52-aa63-4b12-83c8-f632609a3f1b","activeVersionId":"efa55f52-aa63-4b12-83c8-f632609a3f1b","versionCounter":6,"triggerCount":1,"shared":[{"updatedAt":"2025-08-28T20:00:48.838Z","createdAt":"2025-08-28T20:00:48.838Z","role":"workflow:owner","workflowId":"4HQJjLlvs0a9YRqR","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"efa55f52-aa63-4b12-83c8-f632609a3f1b","workflowId":"4HQJjLlvs0a9YRqR","nodes":[{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.key_mem }}{{ $('Edit Fields4').item.json.key_mem }}","contextWindowLength":7},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1968,-80],"id":"2b799441-ff82-4220-8c22-79a7b8da73d3","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"LQ2ORxHNSidnx5eR","name":"Masajes saludables"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-1856,-48],"id":"6f77fd51-e6ea-4b63-8712-36d11c7d6704","name":"Think"},{"parameters":{"description":"Herramienta encargada de comprobar las fechas ingresadas","workflowId":{"__rl":true,"value":"VPehvHsKU7AMGTSC","mode":"list","cachedResultName":"Comprobar fecha Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00\n`, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1264,-176],"id":"5795c230-7fb9-43d6-ac5c-cc251bd4730c","name":"comprobar_fecha"},{"parameters":{"description":"LLama a esta herramienta cuando el cliente requiera atencion extra o quiere ser atendido por un humano.","workflowId":{"__rl":true,"value":"jeXy0zIobtU19wkC","mode":"list","cachedResultName":"Enviar asesor Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_del_usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Asunto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Asunto', `Descripcion de en que necesita ayuda el usuario`, 'string') }}","Instancia":"={{ $('Webhook1').item.json.body.instance }}"},"matchingColumns":["numero_del_usuario"],"schema":[{"id":"numero_del_usuario","displayName":"numero_del_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Asunto","displayName":"Asunto","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Instancia","displayName":"Instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1056,-256],"id":"1d8a609f-dc91-453c-824b-378f9bcbe215","name":"enviar_asesor"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.response }}\nEl numero de telefono del usuario es:{{ $json['telefono_del _usuario'] }}","options":{"systemMessage":"=## 1. DEFINICIÓN DE IDENTIDAD\nEres una **asistente de reservas** ARGENTINA llamada Luz para **Masajes Saludables**. \nTu rol es atender a los clientes respondiendo preguntas frecuentes, gestionando reservas, modificaciones y cancelaciones de citas y respondiendo mensajes a clientes.\n\n---\n\n## 2. HERRAMIENTAS DISPONIBLES\n\n- **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. OBLIGATORIO USARLA SIEMPRE SIN EXCEPCIONES\n\n- **conocimiento**  \n  Usar siempre para responder cualquier pregunta o duda que tenga el cliente respecto al negocio, horarios, servicios, etc.\n\n- **buscar_usuario**:busca al usuario en la base de datos para verificar si esta registrado en el crm.\n\n- **registrar_usuario**: si el usuario no existe en el CRM debes registrarlo\n\n- **consultar_disponibilidad**: usar esta herramienta antes de ofrecer horarios para consultar la disponibilidad del dia que te solicita el usuario y omitir los ocupados.\n\n- **reservar_cita**  \n  Para reservar la cita una vez validada la fecha y hora.\n\n- **comprobar_fecha**:\n  Para comprobar la fecha antes de reservar.\n\n- **modificar_cita**  \n  Para modificar citas agendadas.\n\n- **cancelar_cita**  \n  Para cancelar citas agendadas.\n\n- **derivar_humano**  \n  Para derivar a asesor humano cuando se necesite ayuda extra o el cliente lo requiera.\n\n\n---\n\n## 3. OBJETIVO PRINCIPAL\nEl propósito principal del agente es **realizar las reservas de manera efectiva**, liberando tiempo a los empleados y asegurando una atención rápida y precisa a los clientes.\n\n---\n\n## 4. INSTRUCCIONES ESPECÍFICAS\n\n- Verificar si el usuario existe en el CRM con \"buscar_usuario\".\n- Si el usuario existe , llamalo por su nombre (sin apellido), que bueno verte de nuevo y preguntale que desea realizar.\n- Si el usuario NO existe, preguntale su NOMBRE y APELLIDO y registralo en el CRM con tu herramienta \"registrar_usuario\", luego pregunta que desea realizar.\n-Los nombres y los apellidos pueden tener 2 letras o mas.\n\n- Para **reservar una cita**:\n  - Pregunta siempre al usuario unicamente el dia en que desea su cita y y dale las opciones de servicios disponibles consultando en \"conocimiento\" y presentalos en fomato lista con numero.\n  - Es sumamente importante que recibas siempre el dia. \n  - Es obligatorio usar `comprobar_fecha` antes de realizar la reserva y de solicitar el nombre y servicio.\n  -La herramienta `comprobar_fecha` es solo para ver si la fecha solicitada es valida.\n-NO LE CONFIRMES AL USUARIO QUE LA FECHA ES VALIDA.\n-OBLIGATORIO USAR la herramienta `consultar_disponibilidad` para obtener los horarios disponibles que no estan reservados y ofrecerlos al usuario.\n-Una vez que recibiste el dia ofrecele al usuario los horarios disponibles usando la herramienta `consultar_disponibilidad`\n- Si la fecha es válida, utiliza `reservar_cita` para agendarla.\n \n- Entrega los datos de la cita agendada,incluir emojis:\n\n     -📅 Fecha: (colocar fecha) (formato dd/mm/yyyy)\n     -📍 Link meet:(colocar link)\n\n- Para **modificar una cita**:\n  - Pregunta al usuario la **fecha y hora actual de su cita**.\n  - Pregunta para cuándo desea **cambiar su cita** (nueva fecha y hora).\n  - Es sumamente importante que recibas siempre la FECHA y HORA. Si solo recibes la fecha, pregunta por la hora.\n  -Utiliza `modificar_cita` para proceder con la modificacion. \n\n  - Entrega los datos de la cita modificada,incluir emojis:\n\n     -📅 Fecha nueva cita: (colocar fecha nueva cita)\n     -📍 Link meet:(colocar link)\n\n- Para **cancelar una cita**:\n  - Pregunta al usuario la **fecha y hora actual** de la cita que desea cancelar.\n  - Utiliza `cancelar_cita` para proceder con la cancelación.\n\n- Usa `conocimiento` para responder cualquier duda sobre horarios, servicios, consultas o información general del negocio.\n\n- Antes de responder o ejecutar cualquier acción, utiliza `think` para organizar y planificar tu respuesta.\n\n- Sé amable, clara y breve en tus respuestas.\n\n- Para las fechas siempre utilizar el formato ISO sin zona horaria\n\n- Para **derivar atencion a un asesor**: deriva atencion a un asesor cuando el cliente necesite ayuda extra\n\n## 5. NOTAS IMPORTANTES PARA TI.\n\n- Usa \"think\" siempre antes de actuar\n- Si es un servicio oficial llama a \"conocimiento\" con el nombre exacto\n- Si es una pregunta llama a \"conocimiento\" con la frase textual del cliente\n- Nunca agendes nada sin verificar antes la fecha\n- Nunca agendes sin antes recibir la fecha y hora\n-Cuando se abra la conversacion siempre debes presentarte como Luz, la asistente de Masajes Saludables. Con una energia muy alegre, energica y calida.\n- Siempre cierra con una actitud cálida, profesional y empática\n- Por favor evita usar ni incluir asteriscos ni comillas.\n- Asegúrate de que tu mensaje sea breve y directo, sin usar saltos de línea.\n- La fecha de hoy es {{ $now }}\n- Es importante manejar las fechas en formato ISO sin zona horaria\n- Para hacer las reservas siempre debes recibir la fecha y hora soliticada. Si recibes solo la fecha pregunta porfavor que te digan la hora.\n-Si el cliente no se acuerda del horario de su fecha, dale la opcion de derivar a un asesor para ser atendido.\n-DEBES de usar emojis para hacer mas calida la conversación.\n  -Siempre debes de comprobar si los horarios que vas a ofrecer estan disponibles. Una vez que lo revises ya puedes ofrecer los disponibles y excluye los que no lo estan.\n-Siempre debes de darle la lista con los servicios al usuario."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1792,-480],"id":"7330eac2-3fbf-4319-9f93-45635dd9498c","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{"maxTokens":4000}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2112,-160],"id":"5eb04d45-55ec-473f-93fd-a981286543e2","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a967ec0a-b568-4058-91ce-b32d03cc3522","name":"text","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4160,-144],"id":"5a946df2-c626-4b19-8a09-3b59447f47aa","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1728,304],"id":"db845392-82a8-41d1-a096-6ce8fc6a0c43","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', `Nombre del usuario`, 'string') }}","Telefono":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"matchingColumns":[],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1712,0],"id":"b51300dc-6e32-4fe5-b808-16a8b1ee948a","name":"registrar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefono","lookupValue":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1536,0],"id":"8a0755a3-ea5f-4430-9d16-d9d897cd3f29","name":"buscar_usuario","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Webhook1').item.json.body.instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Webhook1').item.json.body.data.key.id }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-656,-480],"id":"72fae17f-6cf7-4796-884f-990779ccf3da","name":"Evolution bot","credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"5c91d254-848a-4f11-96d7-2f8a4df65fda"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b379ce4d-5f51-4873-9412-87fc2289ed48","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd147d86-059e-48d9-b5e7-80bd8e457ce7","leftValue":"={{ $('Webhook1').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4816,-496],"id":"daadd553-369f-4f85-bcdd-ceed4354a716","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4368,-768],"id":"ee55e2b5-bb08-44fb-94d4-0dd2b790ae10","name":"Edit Fields3"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4160,-768],"id":"7477ae89-c61f-43f0-8ad1-d08c305a1fc9","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3952,-768],"id":"810614c9-f554-44cb-a193-24d56a8ddae9","name":"Transcribe a recording1","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"mensaje","value":"={{ $json.text }}","type":"string"},{"id":"9e25c9cd-a470-4705-9ac6-edeaef169c63","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1bb12fa-32e2-46fd-80da-8e600d6382d8","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"81273d1f-496a-4aab-84b1-ecf78d2a53d0","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"25db6808-d8f8-4e83-89f7-90c58bca0ced","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3648,-480],"id":"6ae57c7e-6d8b-431b-9278-a23a4b41d8c6","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"imagemessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4480,-480],"id":"bb4a30a0-c23b-49af-9ca2-d2b6ecf66303","name":"Edit Fields5"},{"parameters":{"operation":"toBinary","sourceProperty":"imagemessage_base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4304,-480],"id":"14deaa36-1cb2-4291-9beb-8252ec74a35f","name":"Convert to File1"},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-4112,-480],"id":"baffda88-babc-4998-884b-7a3a67bf5fe4","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4096,-272],"id":"c3b15b08-8ad6-4a93-9f79-43f8d14dea3e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-5392,-288],"id":"933f1a39-0150-45d3-91b6-763dabdd4a7c","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0bff70e-a95a-4cd2-9a2b-bafb74e9bd9f","leftValue":"={{ $json.Telefono }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6032,-464],"id":"347cd7a7-b415-480d-bf37-ba1a2c7a04c0","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"8f207b36-fb8f-4506-ad50-9b8d3137fee3","leftValue":"={{ $json.Telefono }}","rightValue":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-6208,-464],"id":"1b1ccf05-1ea5-4741-a8e4-1de5cb547f5f","name":"Filter","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=1669694889"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-6384,-464],"id":"9f8a0fbc-c969-4529-881b-ba040355d79a","name":"Get row(s) in sheet1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageText":"={{ $('AI Agent1').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-816,-480],"id":"65403f66-31b3-4569-a85f-f2e9a9944429","name":"Cerrar interaccion","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bdffa525-49eb-4c99-9620-eeadae7c0b47","leftValue":"={{ $('Webhook1').item.json.body.data.key.fromMe }}","rightValue":"5492344475106","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6608,-448],"id":"efcd364f-9eff-48a9-8dc4-c82de518cd16","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6384,-256],"id":"4ae36ebe-bb22-494d-a9db-28cfb7886ee3","name":"No Operation, do nothing1"},{"parameters":{"operation":"delete","key":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2320,-480],"id":"bd163b84-6a81-4047-acd4-cf3246d6c90f","name":"Redis","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d5f82380-4858-4361-908e-98e45c98f092","name":"response","value":"={{ $('Redis10').item.json.mensajes.join() }}","type":"string"},{"id":"b3db797c-6f2b-4232-8e0c-021bc8e299ca","name":"phone","value":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2496,-480],"id":"43853202-446a-445d-8bf0-c8e90b44f2d1","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2496,-240],"id":"d55030c3-4412-4114-8780-cfda7b0b5572","name":"No Operation, do nothing2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3168,-480],"id":"2c25c5a4-66b9-49a6-824f-d22f3d55368e","name":"Wait","webhookId":"0a64e419-6904-4df8-a1c6-f00757e58bf3"},{"parameters":{"operation":"get","propertyName":"mensajes","key":"={{ $json['telefono_del _usuario'] }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2944,-480],"id":"f8af0670-1474-4d3b-a980-299f63cbeec0","name":"Redis10","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a313a41-eadc-4ada-bc2a-feff79845de9","leftValue":"={{ $json.mensajes.last() }}","rightValue":"={{ $('Edit Fields4').item.json.mensaje }}","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2704,-480],"id":"3e90b688-ca01-4aaf-aaf1-0c527968608f","name":"If3"},{"parameters":{"operation":"push","list":"={{ $json['telefono_del _usuario'] }}","messageData":"={{ $json.mensaje }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3408,-480],"id":"f595f2bc-074c-4ce8-aa28-d06097a83ac9","name":"Redis8","credentials":{"redis":{"id":"JkDXS2KTvvmyMLa8","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"93cd86dc-b693-4467-99a4-31301750634c","leftValue":"={{ $json.Modo }}","rightValue":"Bot","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5664,-464],"id":"882f114c-e1eb-4338-9c48-70b22cfad64e","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":612448841,"mode":"list","cachedResultName":"Modo ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=612448841"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5392,-480],"id":"95a0af94-0018-4a20-88f1-ea945b73545a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29e97cf6-389b-4d81-afde-3255a0ed8189","leftValue":"={{ $json.Activo }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5216,-480],"id":"a4ce8dc2-51a2-41b8-b42c-9bf6b5fc6404","name":"If4"},{"parameters":{"workflowId":{"__rl":true,"value":"aypPYrQTz74SVZ3Q","mode":"list","cachedResultName":"Agente ausencia Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"body_data_message_conversation":"={{ $('Webhook1').item.json.body.data.message.conversation }}","body_instance":"={{ $('Webhook1').item.json.body.instance }}","body_data_key_remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","id":"={{ $('Webhook1').item.json.body.data.key.id }}"},"matchingColumns":["body_data_message_conversation","Mensaje","body_data_key_remoteJid_split","body_instance","body_data_key_remoteJid"],"schema":[{"id":"body_data_message_conversation","displayName":"body_data_message_conversation","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_instance","displayName":"body_instance","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"body_data_key_remoteJid","displayName":"body_data_key_remoteJid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5056,-304],"name":"Call Agente ausencia lavadero","id":"08538649-0b44-4066-a947-b4639deb451d"},{"parameters":{"assignments":{"assignments":[{"id":"51fe4181-a754-4380-aa3b-a13fb5624925","name":"Mensaje","value":"={{ $('Webhook1').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5008,-480],"id":"cd6f77f9-9eef-4702-9cd0-dd8cae7f379b","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"WrZgbQDNnObH5KqN","mode":"list","cachedResultName":"Consultas y modificaciones Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.mensaje }}","id":"={{ $json.body.data.key.id }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5712,-864],"id":"c9e343af-5f1e-4e10-bcbd-caf1d05f69e1","name":"Execute Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"ca5bbd09-f06a-40d0-8757-8d74ab5950f2","name":"audiomessage_base64","value":"={{ $('Webhook1').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6480,-752],"id":"dc501c2c-23f1-4804-b51a-900b257662de","name":"Edit Fields6"},{"parameters":{"operation":"toBinary","sourceProperty":"audiomessage_base64","options":{"mimeType":"audio/mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-6304,-752],"id":"a0ec24bf-f084-4200-99ab-737194569393","name":"Convert to File2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-6112,-752],"id":"dee457a0-120a-48d2-8356-f31e47ed7cbf","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"902fff40-e636-4060-86fb-8e28bec0687a","leftValue":"={{ $json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6736,-848],"id":"84d4f9cb-1068-4672-a3b7-e163b2cb7d5b","name":"If6"},{"parameters":{"assignments":{"assignments":[{"id":"007bb66e-cc34-43e8-aae6-6e24a21c7225","name":"mensaje","value":"={{ $json.body.data.message.conversation }}{{ $json.text }}","type":"string"},{"id":"d4d314ea-94c3-4e0c-a183-e29075b2aed2","name":"body.data.key.id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5904,-864],"id":"88de4a58-8c56-4bb8-ba84-089d0bffb24a","name":"Edit Fields7"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-992,-480],"id":"8e013d54-f06d-4759-8054-b1724fb802f3","name":"Mercar mensajes como leidos","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Webhook1').item.json.body.instance }}","remoteJid":"={{ $('Webhook1').item.json.body.data.key.remoteJid }}","messageId":"={{ $('Webhook1').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6800,-448],"id":"5c842594-5882-4402-b028-719122f197d1","name":"Mercar mensajes como leidos2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"058581e6-358b-470f-ae9d-814a7ee89e56","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"5492344421918@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-7088,-448],"id":"579fcbb1-9a8c-48c2-81e6-750b13a6c871","name":"If7"},{"parameters":{"httpMethod":"POST","path":"fa4003ff-b3de-4cde-a095-69b9aa205ac6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7312,-448],"id":"f3d40be3-e119-468b-bdaa-3b869a8840b0","name":"Webhook1","webhookId":"fa4003ff-b3de-4cde-a095-69b9aa205ac6"},{"parameters":{"assignments":{"assignments":[{"id":"cadc56ac-6eb6-4144-bb1b-0bc885c7e345","name":"response","value":"={{ $json.text }}","type":"string"}]},"includeOtherFields":"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3136,-784],"id":"999a0e3f-37c0-4487-934b-163e185197ba","name":"Edit Fields9"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Herramienta para responder a preguntas especificas del usuario.","pineconeIndex":{"__rl":true,"value":"masajessaludables","mode":"list","cachedResultName":"masajessaludables"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-1712,160],"id":"eccf1a1f-c452-420e-9dff-449328dbfea1","name":"conocimiento","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"assignments":{"assignments":[{"id":"69ff679c-773a-4e82-b3c6-9bd684ba4892","name":"response","value":"={{ $json.response }}","type":"string"},{"id":"f4cdc99a-6e14-4a73-ad93-88452127b414","name":"key_mem","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid?.toString()?.replace('@', '_').replace('.', '_').replace('.', '_') }}","type":"string"},{"id":"c787649b-4ee5-47de-8aba-3776d44599ba","name":"telefono_del _usuario","value":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split ('@')[0] }}","type":"string"},{"id":"f1971b9a-85b3-489e-8f9a-7be11261e7a3","name":"id","value":"={{ $('Webhook1').item.json.body.data.key.id }}","type":"string"},{"id":"ca2c5a83-f023-49db-8286-b272ae83191f","name":"date_time","value":"={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toLocal() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,-544],"id":"fc765c45-774d-4128-8705-c44acb795723","name":"Edit Fields8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TInLSK5Vb1Ma8zpQVK07LvV6n0HSqffNurlq0zKq2i8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Modo":"Bot","Telefono":"={{ $('Webhook1').item.json.body.data.key.remoteJid.split('@')[0] }}"},"matchingColumns":["Telefono"],"schema":[{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5840,-336],"id":"7ba9b515-6f2a-47e3-a0ee-5a097c9eec49","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"bfXe2s3v1gqirQlY","name":"Google Sheets account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"G9LXGDAJ0Hdc1ivX","mode":"list","cachedResultName":"Comprobar disponibilidad masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"dia_solicitado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dia_solicitado', ``, 'string') }}"},"matchingColumns":["dia_solicitado"],"schema":[{"id":"dia_solicitado","displayName":"dia_solicitado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1392,-128],"id":"f2848745-95d8-4766-9cd2-9ce16e712d08","name":"comprobar_disponibilidad"},{"parameters":{"workflowId":{"__rl":true,"value":"E5DSBZkCmAZoDKgC","mode":"list","cachedResultName":"Agente citas Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefono del usuario":"={{ $('Edit Fields4').item.json['telefono_del _usuario'] }}","Nombre del usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_del_usuario', `Nombre del usuario`, 'string') }}","Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha en formato ISO sin zona horaria, ejemplo:\n2025-07-09T15:30:00`, 'string') }}","Servicio":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Servicio', `Servicio solicitado por el usuario`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefono del usuario","displayName":"Telefono del usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Nombre del usuario","displayName":"Nombre del usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"Servicio","displayName":"Servicio","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1168,-224],"id":"548ce0ed-6fdd-4281-b0b6-44e8d32cdb9a","name":"citas"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"comprobar_fecha":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"enviar_asesor":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AI Agent1":{"main":[[{"node":"Mercar mensajes como leidos","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"conocimiento","type":"ai_embedding","index":0}]]},"registrar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"buscar_usuario":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Transcribe a recording1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Redis8","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Append row in sheet","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Cerrar interaccion":{"main":[[{"node":"Evolution bot","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Redis":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Redis10","type":"main","index":0}]]},"Redis10":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"Redis8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Call Agente ausencia lavadero","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Mercar mensajes como leidos":{"main":[[{"node":"Cerrar interaccion","type":"main","index":0}]]},"Mercar mensajes como leidos2":{"main":[[{"node":"If2","type":"main","index":0}]]},"If7":{"main":[[{"node":"If6","type":"main","index":0}],[{"node":"Mercar mensajes como leidos2","type":"main","index":0}]]},"Webhook1":{"main":[[]]},"Edit Fields9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"conocimiento":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Edit Fields8":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"comprobar_disponibilidad":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"citas":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-13T20:05:27.000Z","id":32,"workflowId":"4HQJjLlvs0a9YRqR","versionId":"efa55f52-aa63-4b12-83c8-f632609a3f1b","event":"activated","userId":null}]}}