n8n-portfolio/01-Masajes/Agente_ausencia_Masajes.json
{"updatedAt":"2025-09-05T02:44:04.000Z","createdAt":"2025-08-28T20:02:25.639Z","id":"aypPYrQTz74SVZ3Q","name":"Agente ausencia Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"body_data_message_conversation","type":"any"},{"name":"body_instance","type":"any"},{"name":"body_data_key_remoteJid","type":"any"},{"name":"id","type":"any"}]}},"id":"0dea3138-9912-44e6-8a75-958939625143","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2832,1504]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2704,1728],"id":"2c4c3046-0b2c-4245-8370-b01261acbef3","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Start').item.json.body_instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Start').item.json.id }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2048,1536],"id":"dc44471f-b120-4539-a897-623cff45ed64","name":"Evolution bot2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $('Start').item.json.body_data_message_conversation }}","options":{"systemMessage":"=Eres Luz, asistente argentina del Masajes Saludables.\nSaluda si te saludan, despídete si se despiden.\nInforma siempre que el lavadero no estará en servicio en las fechas: {{ $json.body_data_message_conversation }}.\nSi preguntan otra cosa, recuerda amablemente que el lavadero está cerrado hasta después de esas fechas.\n\nReglas:\n-NO OFREZCAS CITAS. Decile al usuario que por favor se comunique despues de la fecha mencionada.\n-Debes ser extremadamente amable, calida.\n-Usa emojis\n-NO OFREZCAS INFORMACION\n-NO OFREZCAS APOYO CON OTRAS PREGUNTAS."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2592,1504],"id":"59834bae-4a8c-4464-a3c8-44a731fcf41e","name":"AI Agent1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Start').item.json.body_instance }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid }}","messageText":"={{ $json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2240,1504],"id":"a75d18cc-90e9-4fd2-a53d-ad83fccfbbeb","name":"Cerrar interaccion2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"}],"connections":{"Start":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Cerrar interaccion2","type":"main","index":0}]]},"Cerrar interaccion2":{"main":[[{"node":"Evolution bot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"body_data_message_conversation":"Hola","body_instance":"Prueba Chatbot","body_data_key_remoteJid":"5491155968711@s.whatsapp.net","id":"3A9D61ECED3A550CCEBF"}}]},"versionId":"952e2678-8c54-4b07-84d6-9ae27c543d38","activeVersionId":"952e2678-8c54-4b07-84d6-9ae27c543d38","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:02:25.645Z","createdAt":"2025-08-28T20:02:25.645Z","role":"workflow:owner","workflowId":"aypPYrQTz74SVZ3Q","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"952e2678-8c54-4b07-84d6-9ae27c543d38","workflowId":"aypPYrQTz74SVZ3Q","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"body_data_message_conversation","type":"any"},{"name":"body_instance","type":"any"},{"name":"body_data_key_remoteJid","type":"any"},{"name":"id","type":"any"}]}},"id":"0dea3138-9912-44e6-8a75-958939625143","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-2832,1504]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2704,1728],"id":"2c4c3046-0b2c-4245-8370-b01261acbef3","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"={{ $('Start').item.json.body_instance }}","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('Start').item.json.id }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid }}","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2048,1536],"id":"dc44471f-b120-4539-a897-623cff45ed64","name":"Evolution bot2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $('Start').item.json.body_data_message_conversation }}","options":{"systemMessage":"=Eres Luz, asistente argentina del Masajes Saludables.\nSaluda si te saludan, despídete si se despiden.\nInforma siempre que el lavadero no estará en servicio en las fechas: {{ $json.body_data_message_conversation }}.\nSi preguntan otra cosa, recuerda amablemente que el lavadero está cerrado hasta después de esas fechas.\n\nReglas:\n-NO OFREZCAS CITAS. Decile al usuario que por favor se comunique despues de la fecha mencionada.\n-Debes ser extremadamente amable, calida.\n-Usa emojis\n-NO OFREZCAS INFORMACION\n-NO OFREZCAS APOYO CON OTRAS PREGUNTAS."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-2592,1504],"id":"59834bae-4a8c-4464-a3c8-44a731fcf41e","name":"AI Agent1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Start').item.json.body_instance }}","remoteJid":"={{ $('Start').item.json.body_data_key_remoteJid }}","messageText":"={{ $json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-2240,1504],"id":"a75d18cc-90e9-4fd2-a53d-ad83fccfbbeb","name":"Cerrar interaccion2","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"}],"connections":{"Start":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Cerrar interaccion2","type":"main","index":0}]]},"Cerrar interaccion2":{"main":[[{"node":"Evolution bot2","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-05T02:44:04.000Z","id":37,"workflowId":"aypPYrQTz74SVZ3Q","versionId":"952e2678-8c54-4b07-84d6-9ae27c543d38","event":"activated","userId":null}]}}