n8n-portfolio/01-Masajes/Cancelar_cita_Masajes.json
{"updatedAt":"2025-09-04T18:07:55.000Z","createdAt":"2025-08-28T20:02:12.916Z","id":"VBz0sForQCMsANYc","name":"Cancelar cita Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T16:00:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"a13c4901-9a19-48bf-9c70-0d125282b7c2","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"d8410676-df6d-47a0-a311-0a79687800fb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"2e8d14b9-1fe3-4bb1-9d0e-06b06c2875cb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,272],"id":"9c8a4298-6114-4b34-84a1-8c47cfc41dc7","name":"buscar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[672,240],"id":"b4d63aa0-7c61-462e-9741-3178e50eebf8","name":"eliminar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"5a6dfe41-92b4-4adb-90b3-220355141678","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3035a65b-1a0b-4473-91cb-c1c1e94aa68a","activeVersionId":"3035a65b-1a0b-4473-91cb-c1c1e94aa68a","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:02:12.921Z","createdAt":"2025-08-28T20:02:12.921Z","role":"workflow:owner","workflowId":"VBz0sForQCMsANYc","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"3035a65b-1a0b-4473-91cb-c1c1e94aa68a","workflowId":"VBz0sForQCMsANYc","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T16:00:00\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"a13c4901-9a19-48bf-9c70-0d125282b7c2","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha cita: {{ $json.FechaOriginal }}\ntelefono:{{ $('When Executed by Another Workflow').item.json.Telefono }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y eliminacion de citas.\n\n# Tarea  \nTu tarea es eliminar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1. **Comprobar si la cita existe y coincide con el numero de telefono del usuario**: Usa la herramienta \"buscar_cita\".  \n\n2. Si coincide elimina la cita con \"eliminar_cita\".\n\n3. Si no coincide hazle saber al usuario que el numero no coincide con el de la cita.  \n\n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,0],"id":"d8410676-df6d-47a0-a311-0a79687800fb","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,224],"id":"2e8d14b9-1fe3-4bb1-9d0e-06b06c2875cb","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":1,"timeMin":"={{ $json.FechaOriginal }}","timeMax":"={{ $json.FechaMasUnaHora }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[512,272],"id":"9c8a4298-6114-4b34-84a1-8c47cfc41dc7","name":"buscar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"eventId":"={{ $fromAI(\"EventID\",\"event id de la cita actual\")}}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[672,240],"id":"b4d63aa0-7c61-462e-9741-3178e50eebf8","name":"eliminar_cita","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaOriginal = new Date($input.first().json.Fecha);\nfechaOriginal.setHours(fechaOriginal.getHours() + 1);\n\n// Formatear a 'YYYY-MM-DDTHH:mm:ss'\nconst fechaFormateada = fechaOriginal\n  .toISOString()\n  .substring(0, 19);\n\nreturn [\n  {\n    json: {\n      FechaOriginal: $input.first().json.Fecha,\n      FechaMasUnaHora: fechaFormateada,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"5a6dfe41-92b4-4adb-90b3-220355141678","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"buscar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-04T18:07:55.000Z","id":36,"workflowId":"VBz0sForQCMsANYc","versionId":"3035a65b-1a0b-4473-91cb-c1c1e94aa68a","event":"activated","userId":null}]}}