n8n-portfolio/01-Masajes/Comprobar_disponibilidad_Masajes.json
{"updatedAt":"2025-09-13T19:46:31.000Z","createdAt":"2025-09-10T22:57:00.589Z","id":"G9LXGDAJ0Hdc1ivX","name":"Comprobar disponibilidad masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dia_solicitado","type":"any"}]}},"id":"7391cf68-8265-48d6-b808-b0eb98cdfff9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-96,-112]},{"parameters":{"promptType":"define","text":"=Dia solicitado:  {{ $json.dia_solicitado }}","options":{"systemMessage":"=Eres asistente, tu unica tarea es obtener los horarios que estan ocupados y los horarios que no en el dia que se indico.\n\n##Herramientas disponibles\n\n- **citas_agendadas**: Usa esta herramienta para obtener las citas del dia solicitado\n\n- **think** (IMPORTANTE) \n  Usar esta herramienta SIEMPRE!. Resume mentalmente el problema y planifica la respuesta.\n \n\n## Instrucciones especificas\n\n-Debes dar en formato lista los horarios ocupados. \nEjemplo:\nHorarios ocupados: \n-11:00 a 12:00\n-12:00 a 13:00\nHorarios desocupados: \n-14:00 a 16:00... etc\n\nLos horarios en lo que se da cita son estos: (\"Horarios\")\nLunes y miercoles: 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Martes, jueves y viernes: 8:00, 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Sabados: 8:00, 9:30, 11:00, 13:00\"\n\n#Notas importantes\n-La fecha de hoy es: {{ $now }}\n-Teniendo en cuenta \"Horarios\" debes ordenar que horarios estan ocupados y cuales desocupados.\n-Formato estricto de respuesta: \"Horarios ocupados: \\n- 11:00 a 12:00\\n- 15:30 a 16:30\\n\\nHorarios desocupados:\\n- 8:00 a 9:30\\n- 9:30 a 11:00\\n- 14:00 a 15:30\\n- 17:00 a 18:30\\n- 18:30 en adelante\"\n-Los turnos son de una hora. Hay media hora de descanso entre cada turno.\nEjemplos: Turnos dia lunes y miercoles: 9:30 a 10:30, 11:00 a 12:00, 14:00 a 15:00, 15:30 a 16:30, 17:00 a 18:00 y 18:30 a 19:30.\n\nSon los horarios que te mencione en \"Horarios\" pero se les debe sumar unicamente una hora. O sea, los horarios que te di son cuando inicia el turno y para saber cuando termina se le suma una hora."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[144,-112],"id":"148071ba-1d5e-4fb4-b809-778ca97f2123","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,112],"id":"94270f05-0d6e-44d2-871e-d1209183a892","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[384,144],"id":"7f8e18cf-ca40-4d07-891f-c584ccacb838","name":"citas_agendadas","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Obtener el texto del nodo anterior\nconst input = $json[\"output\"];\n\n// Buscar horarios ocupados y desocupados con regex\nconst ocupadosMatch = input.match(/Horarios ocupados:\\s*([\\s\\S]*?)Horarios desocupados:/);\nconst libresMatch = input.match(/Horarios desocupados:\\s*([\\s\\S]*)/);\n\nconst ocupados = ocupadosMatch ? ocupadosMatch[1].trim().replace(/\\n/g, \" \") : \"N/A\";\nconst libres = libresMatch ? libresMatch[1].trim().replace(/\\n/g, \" \") : \"N/A\";\n\n// Retornar en el formato que pide n8n\nreturn [\n  {\n    json: {\n      resultado: `- Horarios ocupados: ${ocupados}\\n- Horarios libres: ${libres}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-112],"id":"87726a78-56a8-4e80-aed5-b0adb881c400","name":"Code"},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[240,224],"id":"85b9c02a-507d-47d0-9d50-b694b13e7cef","name":"Think"}],"connections":{"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"citas_agendadas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f27ac5a-525b-436f-92f3-3b57e3bd9bda","activeVersionId":"9f27ac5a-525b-436f-92f3-3b57e3bd9bda","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-09-10T22:57:00.595Z","createdAt":"2025-09-10T22:57:00.595Z","role":"workflow:owner","workflowId":"G9LXGDAJ0Hdc1ivX","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"9f27ac5a-525b-436f-92f3-3b57e3bd9bda","workflowId":"G9LXGDAJ0Hdc1ivX","nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"dia_solicitado","type":"any"}]}},"id":"7391cf68-8265-48d6-b808-b0eb98cdfff9","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-96,-112]},{"parameters":{"promptType":"define","text":"=Dia solicitado:  {{ $json.dia_solicitado }}","options":{"systemMessage":"=Eres asistente, tu unica tarea es obtener los horarios que estan ocupados y los horarios que no en el dia que se indico.\n\n##Herramientas disponibles\n\n- **citas_agendadas**: Usa esta herramienta para obtener las citas del dia solicitado\n\n- **think** (IMPORTANTE) \n  Usar esta herramienta SIEMPRE!. Resume mentalmente el problema y planifica la respuesta.\n \n\n## Instrucciones especificas\n\n-Debes dar en formato lista los horarios ocupados. \nEjemplo:\nHorarios ocupados: \n-11:00 a 12:00\n-12:00 a 13:00\nHorarios desocupados: \n-14:00 a 16:00... etc\n\nLos horarios en lo que se da cita son estos: (\"Horarios\")\nLunes y miercoles: 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Martes, jueves y viernes: 8:00, 9:30, 11:00, 14:00, 15:30, 17:00, 18:30.\n\n-Sabados: 8:00, 9:30, 11:00, 13:00\"\n\n#Notas importantes\n-La fecha de hoy es: {{ $now }}\n-Teniendo en cuenta \"Horarios\" debes ordenar que horarios estan ocupados y cuales desocupados.\n-Formato estricto de respuesta: \"Horarios ocupados: \\n- 11:00 a 12:00\\n- 15:30 a 16:30\\n\\nHorarios desocupados:\\n- 8:00 a 9:30\\n- 9:30 a 11:00\\n- 14:00 a 15:30\\n- 17:00 a 18:30\\n- 18:30 en adelante\"\n-Los turnos son de una hora. Hay media hora de descanso entre cada turno.\nEjemplos: Turnos dia lunes y miercoles: 9:30 a 10:30, 11:00 a 12:00, 14:00 a 15:00, 15:30 a 16:30, 17:00 a 18:00 y 18:30 a 19:30.\n\nSon los horarios que te mencione en \"Horarios\" pero se les debe sumar unicamente una hora. O sea, los horarios que te di son cuando inicia el turno y para saber cuando termina se le suma una hora."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[144,-112],"id":"148071ba-1d5e-4fb4-b809-778ca97f2123","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[48,112],"id":"94270f05-0d6e-44d2-871e-d1209183a892","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[384,144],"id":"7f8e18cf-ca40-4d07-891f-c584ccacb838","name":"citas_agendadas","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Obtener el texto del nodo anterior\nconst input = $json[\"output\"];\n\n// Buscar horarios ocupados y desocupados con regex\nconst ocupadosMatch = input.match(/Horarios ocupados:\\s*([\\s\\S]*?)Horarios desocupados:/);\nconst libresMatch = input.match(/Horarios desocupados:\\s*([\\s\\S]*)/);\n\nconst ocupados = ocupadosMatch ? ocupadosMatch[1].trim().replace(/\\n/g, \" \") : \"N/A\";\nconst libres = libresMatch ? libresMatch[1].trim().replace(/\\n/g, \" \") : \"N/A\";\n\n// Retornar en el formato que pide n8n\nreturn [\n  {\n    json: {\n      resultado: `- Horarios ocupados: ${ocupados}\\n- Horarios libres: ${libres}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-112],"id":"87726a78-56a8-4e80-aed5-b0adb881c400","name":"Code"},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[240,224],"id":"85b9c02a-507d-47d0-9d50-b694b13e7cef","name":"Think"}],"connections":{"Start":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"citas_agendadas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-13T19:46:31.000Z","id":42,"workflowId":"G9LXGDAJ0Hdc1ivX","versionId":"9f27ac5a-525b-436f-92f3-3b57e3bd9bda","event":"activated","userId":null}]}}