n8n-portfolio/01-Masajes/Comprobar_fecha_Masajes.json
{"updatedAt":"2025-09-24T18:28:45.000Z","createdAt":"2025-08-28T20:01:31.482Z","id":"VPehvHsKU7AMGTSC","name":"Comprobar fecha Masajes","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-09-03T17:00:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1696,144],"id":"c7cd6501-2c07-4cfb-ae44-d9958271695e","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Validar si la fecha es pasada\nconst fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Resetear horas para comparar solo fechas\nfechaActual.setHours(0, 0, 0, 0);\nfechaInput.setHours(0, 0, 0, 0);\n\nif (fechaInput < fechaActual) {\n  return [{\n    json: {\n      valida: false,\n      resultado: \"La fecha ingresada es pasada, por favor ingrese una fecha válida\",\n      fecha: fechaTexto\n    }\n  }];\n}\n\n// Si la fecha es válida, procesamos\nconst fechaOriginal = new Date($input.first().json.Fecha);\n\n// Formatear fecha y extraer componentes\nconst dd = String(fechaOriginal.getDate()).padStart(2, '0');\nconst mm = String(fechaOriginal.getMonth() + 1).padStart(2, '0');\nconst yyyy = fechaOriginal.getFullYear();\nconst HH = String(fechaOriginal.getHours()).padStart(2, '0');\nconst min = String(fechaOriginal.getMinutes()).padStart(2, '0');\n\n// Obtener día de la semana\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaOriginal.getDay()];\n\nreturn [{\n  json: {\n    valida: true,\n    fechaFormateada: `${dd}/${mm}/${yyyy} ${HH}:${min}`,\n    hora: `${HH}:${min}`,\n    diaSemana: diaSemana,\n    fechaOriginal: fechaTexto\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,144],"id":"ed15facc-922c-485c-b0c0-10342bfd5ab4","name":"Validar y Procesar Fecha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fecha-invalida","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,144],"id":"58608e30-4f24-402f-86f4-bcd887917a8c","name":"¿Fecha Válida?"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-error","name":"resultado","value":"={{ $json.resultado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,48],"id":"22055edf-e25d-479a-b143-afa37bbada56","name":"Retornar Error de Fecha"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-784,240],"id":"014fe303-c6d0-4309-ad6a-6644fb7db0b5","name":"Obtener Horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec85b976-d9ed-4985-a513-04bab017c148","name":"Lunes","value":"={{ $json.Lunes }}","type":"string"},{"id":"c02ca88b-a94f-45dd-9380-652fcc90772c","name":"Martes","value":"={{ $json.Martes }}","type":"string"},{"id":"0dfc14ed-adeb-4a6b-88ad-b0620c30d383","name":"Miercoles","value":"={{ $json.Miercoles }}","type":"string"},{"id":"bc2402d0-e4eb-4cc1-ba18-944bc6abea90","name":"Jueves ","value":"={{ $json['Jueves '] }}","type":"string"},{"id":"69954128-7ccd-447a-90b1-18d8a93cbe92","name":"Viernes","value":"={{ $json.Viernes }}","type":"string"},{"id":"347f1794-b796-4927-906d-f669deb3e625","name":"Sabado","value":"={{ $json.Sabado }}","type":"string"},{"id":"1ef345e3-6f3c-42a0-a7ca-c6d00a9c92e2","name":"Domingo","value":"={{ $json.Domingo }}","type":"string"},{"id":"5bed152b-b3a0-4701-84f1-9570093c2e0e","name":"fecha_solicitada","value":"={{ $('When Executed by Another Workflow').item.json.Fecha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,240],"id":"d2005c57-e00d-4f32-8e85-d64b9cb23fa6","name":"Edit Fields"},{"parameters":{"jsCode":"// Entrada: se espera que venga un campo fecha_solicitada y los horarios por día\nconst item = $json;\n\n// Obtener fecha solicitada\nconst fechaSolicitada = new Date(item.fecha_solicitada);\nif (isNaN(fechaSolicitada.getTime())) {\n  throw new Error(\"La fecha solicitada no es válida\");\n}\n\n// Mapear días en español\nconst diasSemana = [\n  \"Domingo\", \"Lunes\", \"Martes\", \"Miercoles\", \"Jueves\", \"Viernes\", \"Sabado\"\n];\n\nconst diaSemana = diasSemana[fechaSolicitada.getDay()]; // ej: \"Lunes\"\nconst horaSolicitada = fechaSolicitada.getHours() + fechaSolicitada.getMinutes() / 60;\n\n// Obtener horario del día correspondiente\nlet horarioDelDia = item[diaSemana];\nlet estaAbierto = false;\nlet mensaje = \"\";\n\n// Si no hay horario configurado para ese día\nif (!horarioDelDia || horarioDelDia.toLowerCase().includes(\"cerrado\")) {\n  mensaje = `El ${diaSemana} está cerrado.`;\n} else {\n  // Extraer rango de horario \"De 9:30 hs a 18:30 hs\"\n  const match = horarioDelDia.match(/De (\\d{1,2}):(\\d{2}) hs a (\\d{1,2}):(\\d{2}) hs/);\n  \n  if (match) {\n    const horaInicio = parseInt(match[1]) + parseInt(match[2]) / 60;\n    const horaFin = parseInt(match[3]) + parseInt(match[4]) / 60;\n\n    if (horaSolicitada >= horaInicio && horaSolicitada <= horaFin) {\n      estaAbierto = true;\n      mensaje = `El ${diaSemana} a las ${fechaSolicitada.toLocaleTimeString(\"es-AR\", {hour: '2-digit', minute:'2-digit'})} está disponible.`;\n    } else {\n      mensaje = `El ${diaSemana} está fuera de horario (${horarioDelDia}).`;\n    }\n  } else {\n    mensaje = `No se pudo interpretar el horario para ${diaSemana}.`;\n  }\n}\n\n// Salida para n8n\nreturn [{\n  json: {\n    diaConsultado: diaSemana,\n    fechaSolicitada: fechaSolicitada.toISOString(),\n    horaConsultada: fechaSolicitada.toLocaleTimeString(\"es-AR\", {hour: '2-digit', minute:'2-digit'}),\n    horarioDelDia,\n    estaAbierto,\n    mensaje\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,240],"id":"c3a4261e-43c5-4b59-9ca8-41b15e107b1f","name":"Verificar Horario"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-final","name":"resultado","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,240],"id":"9498caee-9d54-452f-968f-20cb363ed0bb","name":"Formatear Respuesta Final"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Validar y Procesar Fecha","type":"main","index":0}]]},"Validar y Procesar Fecha":{"main":[[{"node":"¿Fecha Válida?","type":"main","index":0}]]},"¿Fecha Válida?":{"main":[[{"node":"Retornar Error de Fecha","type":"main","index":0}],[{"node":"Obtener Horarios","type":"main","index":0}]]},"Obtener Horarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Verificar Horario","type":"main","index":0}]]},"Verificar Horario":{"main":[[{"node":"Formatear Respuesta Final","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Fecha":"2025-09-11T17:00:00"}}]},"versionId":"3340427d-057c-4c67-81f2-bd6d9a1c0d31","activeVersionId":"3340427d-057c-4c67-81f2-bd6d9a1c0d31","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:01:31.488Z","createdAt":"2025-08-28T20:01:31.488Z","role":"workflow:owner","workflowId":"VPehvHsKU7AMGTSC","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"3340427d-057c-4c67-81f2-bd6d9a1c0d31","workflowId":"VPehvHsKU7AMGTSC","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-09-03T17:00:00\" \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1696,144],"id":"c7cd6501-2c07-4cfb-ae44-d9958271695e","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Validar si la fecha es pasada\nconst fechaTexto = $input.first().json.Fecha;\nconst fechaInput = new Date(fechaTexto);\nconst fechaActual = new Date();\n\n// Resetear horas para comparar solo fechas\nfechaActual.setHours(0, 0, 0, 0);\nfechaInput.setHours(0, 0, 0, 0);\n\nif (fechaInput < fechaActual) {\n  return [{\n    json: {\n      valida: false,\n      resultado: \"La fecha ingresada es pasada, por favor ingrese una fecha válida\",\n      fecha: fechaTexto\n    }\n  }];\n}\n\n// Si la fecha es válida, procesamos\nconst fechaOriginal = new Date($input.first().json.Fecha);\n\n// Formatear fecha y extraer componentes\nconst dd = String(fechaOriginal.getDate()).padStart(2, '0');\nconst mm = String(fechaOriginal.getMonth() + 1).padStart(2, '0');\nconst yyyy = fechaOriginal.getFullYear();\nconst HH = String(fechaOriginal.getHours()).padStart(2, '0');\nconst min = String(fechaOriginal.getMinutes()).padStart(2, '0');\n\n// Obtener día de la semana\nconst diasSemana = [\"domingo\", \"lunes\", \"martes\", \"miércoles\", \"jueves\", \"viernes\", \"sábado\"];\nconst diaSemana = diasSemana[fechaOriginal.getDay()];\n\nreturn [{\n  json: {\n    valida: true,\n    fechaFormateada: `${dd}/${mm}/${yyyy} ${HH}:${min}`,\n    hora: `${HH}:${min}`,\n    diaSemana: diaSemana,\n    fechaOriginal: fechaTexto\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1392,144],"id":"ed15facc-922c-485c-b0c0-10342bfd5ab4","name":"Validar y Procesar Fecha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fecha-invalida","leftValue":"={{ $json.valida }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,144],"id":"58608e30-4f24-402f-86f4-bcd887917a8c","name":"¿Fecha Válida?"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-error","name":"resultado","value":"={{ $json.resultado }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-784,48],"id":"22055edf-e25d-479a-b143-afa37bbada56","name":"Retornar Error de Fecha"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-784,240],"id":"014fe303-c6d0-4309-ad6a-6644fb7db0b5","name":"Obtener Horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"assignments":{"assignments":[{"id":"ec85b976-d9ed-4985-a513-04bab017c148","name":"Lunes","value":"={{ $json.Lunes }}","type":"string"},{"id":"c02ca88b-a94f-45dd-9380-652fcc90772c","name":"Martes","value":"={{ $json.Martes }}","type":"string"},{"id":"0dfc14ed-adeb-4a6b-88ad-b0620c30d383","name":"Miercoles","value":"={{ $json.Miercoles }}","type":"string"},{"id":"bc2402d0-e4eb-4cc1-ba18-944bc6abea90","name":"Jueves ","value":"={{ $json['Jueves '] }}","type":"string"},{"id":"69954128-7ccd-447a-90b1-18d8a93cbe92","name":"Viernes","value":"={{ $json.Viernes }}","type":"string"},{"id":"347f1794-b796-4927-906d-f669deb3e625","name":"Sabado","value":"={{ $json.Sabado }}","type":"string"},{"id":"1ef345e3-6f3c-42a0-a7ca-c6d00a9c92e2","name":"Domingo","value":"={{ $json.Domingo }}","type":"string"},{"id":"5bed152b-b3a0-4701-84f1-9570093c2e0e","name":"fecha_solicitada","value":"={{ $('When Executed by Another Workflow').item.json.Fecha }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,240],"id":"d2005c57-e00d-4f32-8e85-d64b9cb23fa6","name":"Edit Fields"},{"parameters":{"jsCode":"// Entrada: se espera que venga un campo fecha_solicitada y los horarios por día\nconst item = $json;\n\n// Obtener fecha solicitada\nconst fechaSolicitada = new Date(item.fecha_solicitada);\nif (isNaN(fechaSolicitada.getTime())) {\n  throw new Error(\"La fecha solicitada no es válida\");\n}\n\n// Mapear días en español\nconst diasSemana = [\n  \"Domingo\", \"Lunes\", \"Martes\", \"Miercoles\", \"Jueves\", \"Viernes\", \"Sabado\"\n];\n\nconst diaSemana = diasSemana[fechaSolicitada.getDay()]; // ej: \"Lunes\"\nconst horaSolicitada = fechaSolicitada.getHours() + fechaSolicitada.getMinutes() / 60;\n\n// Obtener horario del día correspondiente\nlet horarioDelDia = item[diaSemana];\nlet estaAbierto = false;\nlet mensaje = \"\";\n\n// Si no hay horario configurado para ese día\nif (!horarioDelDia || horarioDelDia.toLowerCase().includes(\"cerrado\")) {\n  mensaje = `El ${diaSemana} está cerrado.`;\n} else {\n  // Extraer rango de horario \"De 9:30 hs a 18:30 hs\"\n  const match = horarioDelDia.match(/De (\\d{1,2}):(\\d{2}) hs a (\\d{1,2}):(\\d{2}) hs/);\n  \n  if (match) {\n    const horaInicio = parseInt(match[1]) + parseInt(match[2]) / 60;\n    const horaFin = parseInt(match[3]) + parseInt(match[4]) / 60;\n\n    if (horaSolicitada >= horaInicio && horaSolicitada <= horaFin) {\n      estaAbierto = true;\n      mensaje = `El ${diaSemana} a las ${fechaSolicitada.toLocaleTimeString(\"es-AR\", {hour: '2-digit', minute:'2-digit'})} está disponible.`;\n    } else {\n      mensaje = `El ${diaSemana} está fuera de horario (${horarioDelDia}).`;\n    }\n  } else {\n    mensaje = `No se pudo interpretar el horario para ${diaSemana}.`;\n  }\n}\n\n// Salida para n8n\nreturn [{\n  json: {\n    diaConsultado: diaSemana,\n    fechaSolicitada: fechaSolicitada.toISOString(),\n    horaConsultada: fechaSolicitada.toLocaleTimeString(\"es-AR\", {hour: '2-digit', minute:'2-digit'}),\n    horarioDelDia,\n    estaAbierto,\n    mensaje\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,240],"id":"c3a4261e-43c5-4b59-9ca8-41b15e107b1f","name":"Verificar Horario"},{"parameters":{"assignments":{"assignments":[{"id":"resultado-final","name":"resultado","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-112,240],"id":"9498caee-9d54-452f-968f-20cb363ed0bb","name":"Formatear Respuesta Final"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Validar y Procesar Fecha","type":"main","index":0}]]},"Validar y Procesar Fecha":{"main":[[{"node":"¿Fecha Válida?","type":"main","index":0}]]},"¿Fecha Válida?":{"main":[[{"node":"Retornar Error de Fecha","type":"main","index":0}],[{"node":"Obtener Horarios","type":"main","index":0}]]},"Obtener Horarios":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Verificar Horario","type":"main","index":0}]]},"Verificar Horario":{"main":[[{"node":"Formatear Respuesta Final","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-24T18:28:45.000Z","id":33,"workflowId":"VPehvHsKU7AMGTSC","versionId":"3340427d-057c-4c67-81f2-bd6d9a1c0d31","event":"activated","userId":null}]}}