n8n-portfolio/01-Masajes/Consultas_y_modificaciones_Masajes.json
{"updatedAt":"2025-09-05T16:00:09.000Z","createdAt":"2025-08-28T20:02:45.440Z","id":"WrZgbQDNnObH5KqN","name":"Consultas y modificaciones Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"mensaje\": \"hola como estas\",\n  \"id\": \"3A2ABC2F76365B55A7CE\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,0],"id":"35e5583e-e7e1-451e-8c5d-6e7994db75ad","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Mesnaje del usuario:  {{ $json.mensaje }}","options":{"systemMessage":"=Eres Luz, asistente Argentina personal de Mary. Tu tarea es modificar y/o consultar un excel.\n\nLa fecha de hoy es: {{ $now }}\n\nTu trabajo es interpretar el mensaje del usuario y decidir que herramienta usar para ayudarlo.\n\nHerramientas disponibles: \n\n **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. (DEBES USARLA SIEMPRE, SIN EXCEPCIONES)\n\n**actualizar_horarios**\nVas a usar esta herramienta cuando el usuario quiero modificar su horario de atencion. \nEjemplo de formato EXACTO: \"De 8:00 hs a 18:30 hs\" \nEjemplos de peticiones: \n-Che, el viernes trabajo de 8 a 14 nada mas. \n-Che, mañana trabajo hasta las 5 (aqui se entiende que el horario de apertura se queda igual y que va a trabajar hasta las 5 de la tarde)\n\n**consultar_horarios**\nVas a usar esta herramienta SIEMPRE que el usuario quiero modificar su horario de atencion. \nUnicamente para saber los horarios actuales por si el usuario solo proporciona un horario de cambio, ya sea el de apertura o cierre.\n\n **modificar_modo** \nVas a usar esta herramienta cuando el usuario quiera cambiar el modo de algun contacto. Las opciones de cambio son \"Humano\" o \"Bot.\"\n\n **modificar_modo_ocupado**\nVas a usar esta herramienta cuando el usuario quiera cambiar el modo de ocupado. En la parte de mensaje va de que fecha a que fecha va a estar inactivo el negocio y en la parte de activo va \"Si\" o \"No\".\nEjemplo: che, del martes 13 al jueves 15 no vamos a estar atendiendo.\n\n **consultar_clientes**\nVas a usar esta herramienta si el usuario te hace alguna pregunta sobre los clientes, como por ejemlplo: Cuantos clientes hay registrados? \nIMPORTANTE: si el usuario no pregunta por los clientes NO USES ESTA HERRAMIENTA\n\n **consultar_turnos**\nVas a usar esta herramienta si el usuario te pregunta sobre los turnos o citas que tiene agendadas, como por ejemplo: que tengo agendado para hoy? cuantos turnos tengo hoy? que hay para el viernes?\nIMPORTANTE: si el usuario no pregunta por los turnos NO USES ESTA HERRAMIENTA\n\n**Reglas**\n-Debes ser extremadamente amable, calida.\n-Usa emojis\n-Si el usuario quiere cambiar el horario de atencion y solo te proporciona el horario de cierre asume que le horario de apertura es el mismo.\n-Si el usuario quiere cambiar el horario siempre consulta los horarios antes.\n-Solo usa las herramientas necesarias."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,0],"id":"3f2ded16-fefc-45dd-823a-8f14b8909399","name":"AI Agent","notesInFlow":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,336],"id":"c25c94a4-1cb8-4817-b8ef-0690543abd70","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[224,416],"id":"24fb4b77-0ccf-4048-95fa-9c6b95199d7e","name":"Think"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_Q5zkVYdrpVh3FrQiKKrAvIbFOSH5VAGdICMuQV3CT8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre__using_to_match_', `Las mayusculas o minusculas no afectan!`, 'string') }}","Modo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Modo', `Cambia al valor que te indico el usuario`, 'string') }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[368,528],"id":"7d1ee37c-0c5d-4cf7-9160-f8eda29d94d1","name":"modificar_modo","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":351758704,"mode":"list","cachedResultName":"Modo ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_Q5zkVYdrpVh3FrQiKKrAvIbFOSH5VAGdICMuQV3CT8/edit#gid=351758704"},"columns":{"mappingMode":"defineBelow","value":{"Mensaje":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensaje', `De que fecha a que fecha va a estar inactivo el negocio`, 'string') }}","Activo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Activo', `Opciones: \n-\"Si\"\n-\"No\"`, 'string') }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Activo","displayName":"Activo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[544,512],"id":"c57bfee4-af3f-47ba-9927-a299a1f6211e","name":"modificar_modo_ocupado","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[448,640],"id":"f136640b-d9bd-4060-91e5-ea8b8da63706","name":"consultar_clientes","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[272,672],"id":"38e21abe-8888-42cd-8f0f-127ee850f2c7","name":"consultar_turnos","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,352],"id":"0eb56492-c0a2-4d17-8b08-469bdff87ce9","name":"Simple Memory"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"columns":{"mappingMode":"defineBelow","value":{"Lunes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lunes', `Si el usuario quiere modificar el horario del lunes`, 'string') }}","Martes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Martes', `Si el usuario quiere modificar el horario del martes`, 'string') }}","Miercoles":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Miercoles', `Si el usuario quiere modificar el horario del miercoles`, 'string') }}","Jueves ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jueves_', `Si el usuario quiere modificar el horario del jueves`, 'string') }}","Viernes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Viernes', `Si el usuario quiere modificar el horario del viernes`, 'string') }}","Sabado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sabado', `Si el usuario quiere modificar el horario del sabado`, 'string') }}","Domingo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Domingo', `Si el usuario quiere modificar el horario del domingo`, 'string') }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Lunes","displayName":"Lunes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Martes","displayName":"Martes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Miercoles","displayName":"Miercoles","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jueves ","displayName":"Jueves ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Viernes","displayName":"Viernes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sabado","displayName":"Sabado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domingo","displayName":"Domingo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[880,464],"id":"dc358162-764e-4c05-a3f1-701b2b5fb027","name":"actualizar_horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"Masajes saludables","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('When Executed by Another Workflow').item.json.id }}","remoteJid":"5492344421918@s.whatsapp.net","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1296,0],"id":"be30b065-d09b-4bf2-97e5-1370795f11b8","name":"Evolution bot1","credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"Masajes saludables","remoteJid":"5492344421918@s.whatsapp.net","messageId":"={{ $('When Executed by Another Workflow').item.json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[960,0],"id":"bbefbb9d-36fa-4595-945d-b06a59b27d09","name":"Mercar mensajes como leidos1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"Masajes saludables","remoteJid":"5492344421918@s.whatsapp.net","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1136,0],"id":"96155199-d4b3-4827-abdd-e901faacb695","name":"Cerrar interaccion1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[736,480],"id":"3d5463af-b1ef-42db-bb73-729c09100760","name":"consultar_horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"modificar_modo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Mercar mensajes como leidos1","type":"main","index":0}]]},"modificar_modo_ocupado":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_turnos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"actualizar_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mercar mensajes como leidos1":{"main":[[{"node":"Cerrar interaccion1","type":"main","index":0}]]},"Cerrar interaccion1":{"main":[[{"node":"Evolution bot1","type":"main","index":0}]]},"consultar_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"Que turnos tengo hoy?","id":"3AC353F04E7196EB3DAB"}}]},"versionId":"7fee4b6c-008b-43c9-8767-dc99b00aec3c","activeVersionId":"7fee4b6c-008b-43c9-8767-dc99b00aec3c","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:02:45.446Z","createdAt":"2025-08-28T20:02:45.446Z","role":"workflow:owner","workflowId":"WrZgbQDNnObH5KqN","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"7fee4b6c-008b-43c9-8767-dc99b00aec3c","workflowId":"WrZgbQDNnObH5KqN","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"mensaje\": \"hola como estas\",\n  \"id\": \"3A2ABC2F76365B55A7CE\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-208,0],"id":"35e5583e-e7e1-451e-8c5d-6e7994db75ad","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=Mesnaje del usuario:  {{ $json.mensaje }}","options":{"systemMessage":"=Eres Luz, asistente Argentina personal de Mary. Tu tarea es modificar y/o consultar un excel.\n\nLa fecha de hoy es: {{ $now }}\n\nTu trabajo es interpretar el mensaje del usuario y decidir que herramienta usar para ayudarlo.\n\nHerramientas disponibles: \n\n **think**  \n  Usar esta herramienta SIEMPRE. Resume mentalmente el problema y planifica la respuesta. (DEBES USARLA SIEMPRE, SIN EXCEPCIONES)\n\n**actualizar_horarios**\nVas a usar esta herramienta cuando el usuario quiero modificar su horario de atencion. \nEjemplo de formato EXACTO: \"De 8:00 hs a 18:30 hs\" \nEjemplos de peticiones: \n-Che, el viernes trabajo de 8 a 14 nada mas. \n-Che, mañana trabajo hasta las 5 (aqui se entiende que el horario de apertura se queda igual y que va a trabajar hasta las 5 de la tarde)\n\n**consultar_horarios**\nVas a usar esta herramienta SIEMPRE que el usuario quiero modificar su horario de atencion. \nUnicamente para saber los horarios actuales por si el usuario solo proporciona un horario de cambio, ya sea el de apertura o cierre.\n\n **modificar_modo** \nVas a usar esta herramienta cuando el usuario quiera cambiar el modo de algun contacto. Las opciones de cambio son \"Humano\" o \"Bot.\"\n\n **modificar_modo_ocupado**\nVas a usar esta herramienta cuando el usuario quiera cambiar el modo de ocupado. En la parte de mensaje va de que fecha a que fecha va a estar inactivo el negocio y en la parte de activo va \"Si\" o \"No\".\nEjemplo: che, del martes 13 al jueves 15 no vamos a estar atendiendo.\n\n **consultar_clientes**\nVas a usar esta herramienta si el usuario te hace alguna pregunta sobre los clientes, como por ejemlplo: Cuantos clientes hay registrados? \nIMPORTANTE: si el usuario no pregunta por los clientes NO USES ESTA HERRAMIENTA\n\n **consultar_turnos**\nVas a usar esta herramienta si el usuario te pregunta sobre los turnos o citas que tiene agendadas, como por ejemplo: que tengo agendado para hoy? cuantos turnos tengo hoy? que hay para el viernes?\nIMPORTANTE: si el usuario no pregunta por los turnos NO USES ESTA HERRAMIENTA\n\n**Reglas**\n-Debes ser extremadamente amable, calida.\n-Usa emojis\n-Si el usuario quiere cambiar el horario de atencion y solo te proporciona el horario de cierre asume que le horario de apertura es el mismo.\n-Si el usuario quiere cambiar el horario siempre consulta los horarios antes.\n-Solo usa las herramientas necesarias."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[208,0],"id":"3f2ded16-fefc-45dd-823a-8f14b8909399","name":"AI Agent","notesInFlow":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,336],"id":"c25c94a4-1cb8-4817-b8ef-0690543abd70","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"description":"Herramienta para reflexionar y planificar antes de responder. Úsala siempre para analizar el contexto, entender la intención del usuario y decidir los próximos pasos."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[224,416],"id":"24fb4b77-0ccf-4048-95fa-9c6b95199d7e","name":"Think"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1669694889,"mode":"list","cachedResultName":"Modo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_Q5zkVYdrpVh3FrQiKKrAvIbFOSH5VAGdICMuQV3CT8/edit#gid=1669694889"},"columns":{"mappingMode":"defineBelow","value":{"Nombre":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre__using_to_match_', `Las mayusculas o minusculas no afectan!`, 'string') }}","Modo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Modo', `Cambia al valor que te indico el usuario`, 'string') }}"},"matchingColumns":["Nombre"],"schema":[{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono","displayName":"Telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Modo","displayName":"Modo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[368,528],"id":"7d1ee37c-0c5d-4cf7-9160-f8eda29d94d1","name":"modificar_modo","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":351758704,"mode":"list","cachedResultName":"Modo ocupado","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_Q5zkVYdrpVh3FrQiKKrAvIbFOSH5VAGdICMuQV3CT8/edit#gid=351758704"},"columns":{"mappingMode":"defineBelow","value":{"Mensaje":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensaje', `De que fecha a que fecha va a estar inactivo el negocio`, 'string') }}","Activo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Activo', `Opciones: \n-\"Si\"\n-\"No\"`, 'string') }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Activo","displayName":"Activo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[544,512],"id":"c57bfee4-af3f-47ba-9927-a299a1f6211e","name":"modificar_modo_ocupado","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[448,640],"id":"f136640b-d9bd-4060-91e5-ea8b8da63706","name":"consultar_clientes","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[272,672],"id":"38e21abe-8888-42cd-8f0f-127ee850f2c7","name":"consultar_turnos","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,352],"id":"0eb56492-c0a2-4d17-8b08-469bdff87ce9","name":"Simple Memory"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"columns":{"mappingMode":"defineBelow","value":{"Lunes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lunes', `Si el usuario quiere modificar el horario del lunes`, 'string') }}","Martes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Martes', `Si el usuario quiere modificar el horario del martes`, 'string') }}","Miercoles":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Miercoles', `Si el usuario quiere modificar el horario del miercoles`, 'string') }}","Jueves ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Jueves_', `Si el usuario quiere modificar el horario del jueves`, 'string') }}","Viernes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Viernes', `Si el usuario quiere modificar el horario del viernes`, 'string') }}","Sabado":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sabado', `Si el usuario quiere modificar el horario del sabado`, 'string') }}","Domingo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Domingo', `Si el usuario quiere modificar el horario del domingo`, 'string') }}","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"Lunes","displayName":"Lunes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Martes","displayName":"Martes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Miercoles","displayName":"Miercoles","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Jueves ","displayName":"Jueves ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Viernes","displayName":"Viernes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sabado","displayName":"Sabado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Domingo","displayName":"Domingo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[880,464],"id":"dc358162-764e-4c05-a3f1-701b2b5fb027","name":"actualizar_horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"resource":"integrations-api","operation":"evolution-bot","instanceName":"Masajes saludables","resourceForEvolutionBot":"changeStatusEvolutionBot","evolutionBotId":"={{ $('When Executed by Another Workflow').item.json.id }}","remoteJid":"5492344421918@s.whatsapp.net","status":"closed"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1296,0],"id":"be30b065-d09b-4bf2-97e5-1370795f11b8","name":"Evolution bot1","credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"Masajes saludables","remoteJid":"5492344421918@s.whatsapp.net","messageId":"={{ $('When Executed by Another Workflow').item.json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[960,0],"id":"bbefbb9d-36fa-4595-945d-b06a59b27d09","name":"Mercar mensajes como leidos1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"messages-api","instanceName":"Masajes saludables","remoteJid":"5492344421918@s.whatsapp.net","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":5000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1136,0],"id":"96155199-d4b3-4827-abdd-e901faacb695","name":"Cerrar interaccion1","retryOnFail":true,"credentials":{"evolutionApi":{"id":"EbkDpUEJAfmshex7","name":"Masajes Saludables"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8","mode":"list","cachedResultName":"CRM Masajes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":64224949,"mode":"list","cachedResultName":"Horarios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RDppJbRbQtng2WGa84ZXHyS26gvuMDU05EsF-zNCuW8/edit#gid=64224949"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[736,480],"id":"3d5463af-b1ef-42db-bb73-729c09100760","name":"consultar_horarios","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"modificar_modo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Mercar mensajes como leidos1","type":"main","index":0}]]},"modificar_modo_ocupado":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_clientes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"consultar_turnos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"actualizar_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mercar mensajes como leidos1":{"main":[[{"node":"Cerrar interaccion1","type":"main","index":0}]]},"Cerrar interaccion1":{"main":[[{"node":"Evolution bot1","type":"main","index":0}]]},"consultar_horarios":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-05T16:00:09.000Z","id":38,"workflowId":"WrZgbQDNnObH5KqN","versionId":"7fee4b6c-008b-43c9-8767-dc99b00aec3c","event":"activated","userId":null}]}}