n8n-portfolio/01-Masajes/Embedding_Masajes.json
{"updatedAt":"2025-08-31T18:32:09.000Z","createdAt":"2025-08-28T20:01:13.894Z","id":"0jiiLnoYQlXnxecu","name":"Embedding Masajes","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"16UVdpz6zIwHRoLIQtddIYoZfNYyIpzqW","mode":"list","cachedResultName":"Base vectorial Masajes","cachedResultUrl":"https://drive.google.com/drive/folders/16UVdpz6zIwHRoLIQtddIYoZfNYyIpzqW"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"f64984bb-d69e-46ea-82b1-ca3c6eae572d","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"tKu400QvEJDpqEoy","name":"Google Drive account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"masajessaludables","mode":"list","cachedResultName":"masajessaludables"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.1,"position":[432,0],"id":"11e4547d-e761-42be-8bf5-e2aeb4251ac5","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"TXRQOUSCcSJlnehT","name":"lavadero"}}},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file","value":"={{ $('Google Drive Trigger').item.json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[592,208],"id":"b8da737f-8327-4886-ae21-c8b1e7d656fb","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[448,272],"id":"889e02d9-60d5-4b92-8db1-50eac7bc2582","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"chunkSize":500,"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[640,384],"id":"25cd4f39-5d45-4ce1-ad41-3c4cc0cad374","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"5ed3227a-eedf-4ceb-84f2-8737ac5a6d1d","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"tKu400QvEJDpqEoy","name":"Google Drive account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-24T14:15:58Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0010f584-a3cd-4275-b02b-077a1ce52303","activeVersionId":null,"versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2025-08-28T20:01:13.898Z","createdAt":"2025-08-28T20:01:13.898Z","role":"workflow:owner","workflowId":"0jiiLnoYQlXnxecu","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}