n8n-portfolio/01-Masajes/Entregar_horarios_Masajes.json
{"updatedAt":"2025-09-04T18:02:53.000Z","createdAt":"2025-08-28T20:01:43.212Z","id":"BlZD3yBrIyctjPW3","name":"Entregar horarios Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"68a5b410-06a0-413e-bc8e-c7eccd2f3517","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,96]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32],"id":"bd73d04a-d058-43e8-b99f-ac177458d321","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-32],"id":"94d0ef08-f942-472e-bbd4-39eea619055c","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 11:00 a 14:00\nconst horaInicio = 11;\nconst horaFin = 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-32],"id":"6353aef2-3f7e-45fa-a93e-5b7310656b8e","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,96],"id":"11c3ade1-b20f-4ce5-b988-0e839ab38214","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,288],"id":"b168f156-260b-4148-9c84-f8b32250b957","name":"Code3"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,288],"id":"a31dabb6-0f00-4fb0-aeb3-6e9d1abf619e","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 9:00 a 18:00\nconst horaInicio = 9;\nconst horaFin = 18;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,288],"id":"630a2391-539c-4480-9d61-c073c432e2d3","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,96],"id":"54f5b668-b292-45a4-b6aa-bbda5d17ebc7","name":"diaSemana"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,288],"id":"558219c1-b4be-417f-93d2-35a7a9943633","name":"Get many events1","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,-32],"id":"edabcc49-cde7-458f-aaa8-eb9b4f466f12","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe1ca89a-32c5-49db-8175-fb79a6ee7c4f","activeVersionId":"fe1ca89a-32c5-49db-8175-fb79a6ee7c4f","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:01:43.217Z","createdAt":"2025-08-28T20:01:43.217Z","role":"workflow:owner","workflowId":"BlZD3yBrIyctjPW3","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"fe1ca89a-32c5-49db-8175-fb79a6ee7c4f","workflowId":"BlZD3yBrIyctjPW3","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha\": \"2025-07-10T11:00:00\"\n}"},"id":"68a5b410-06a0-413e-bc8e-c7eccd2f3517","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-896,96]},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-32],"id":"bd73d04a-d058-43e8-b99f-ac177458d321","name":"Code"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-32],"id":"94d0ef08-f942-472e-bbd4-39eea619055c","name":"Code1"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 11:00 a 14:00\nconst horaInicio = 11;\nconst horaFin = 14;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-32],"id":"6353aef2-3f7e-45fa-a93e-5b7310656b8e","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d872215-e563-42b1-8f10-472b30a0232a","leftValue":"={{ $json.diaSemana }}","rightValue":"domingo","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-464,96],"id":"11c3ade1-b20f-4ce5-b988-0e839ab38214","name":"If"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const fechaBase = new Date(item.json.fecha);\n\n  const año = fechaBase.getFullYear();\n  const mes = fechaBase.getMonth(); // Recuerda: enero = 0\n  const dia = fechaBase.getDate();\n\n  // Crear fecha de inicio (08:00:00)\n  const fechaInicio = new Date(año, mes, dia, 8, 0, 0);\n\n  // Crear fecha de fin (18:00:00)\n  const fechaFin = new Date(año, mes, dia, 18, 0, 0);\n\n  // Función para formatear sin la \"Z\"\n  const formatear = (date) => {\n    const pad = (n) => n.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.fechaInicio = formatear(fechaInicio);\n  item.json.fechaFin = formatear(fechaFin);\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,288],"id":"b168f156-260b-4148-9c84-f8b32250b957","name":"Code3"},{"parameters":{"jsCode":"const salida = [];\n\nfor (const item of $input.all()) {\n  const dateTimeString = item.json.start.dateTime;\n\n  // Extraer solo la hora en texto sin conversión de zona horaria\n  const horaFormateada = dateTimeString.split(\"T\")[1].substring(0,5); // Ej: \"11:00\"\n\n  salida.push(horaFormateada);\n}\n\n// Ordenar alfabéticamente (funciona bien con formato HH:mm)\nsalida.sort();\n\nreturn [\n  {\n    json: {\n      horasOcupadas: salida\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,288],"id":"a31dabb6-0f00-4fb0-aeb3-6e9d1abf619e","name":"Code4"},{"parameters":{"jsCode":"// Horas ocupadas que vienen del input\nconst horasOcupadas = $input.first().json.horasOcupadas;\n\n// Convertir a Set para búsquedas rápidas\nconst ocupadasSet = new Set(horasOcupadas);\n\n// Definir rango de atención: 9:00 a 18:00\nconst horaInicio = 9;\nconst horaFin = 18;\n\n// Generar todas las horas válidas dentro del rango\nconst horasDisponibles = [];\n\nfor (let hora = horaInicio; hora < horaFin; hora++) {\n  const horaStr = hora.toString().padStart(2, '0') + ':00';\n\n  if (!ocupadasSet.has(horaStr)) {\n    horasDisponibles.push(horaStr);\n  }\n}\n\nreturn [\n  {\n    json: {\n      horasDisponibles\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,288],"id":"630a2391-539c-4480-9d61-c073c432e2d3","name":"Code5"},{"parameters":{"jsCode":"const fechaTexto = $input.first().json.Fecha;\n\n// Crear objeto Date\nconst fecha = new Date(fechaTexto);\n\n// Obtener el día (0 = domingo, 1 = lunes, etc.)\nconst dias = ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'];\nconst diaSemana = dias[fecha.getDay()];\n\nreturn [\n  {\n    json: {\n      fecha: fechaTexto,\n      diaSemana\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,96],"id":"54f5b668-b292-45a4-b6aa-bbda5d17ebc7","name":"diaSemana"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":15,"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,288],"id":"558219c1-b4be-417f-93d2-35a7a9943633","name":"Get many events1","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ $json.fechaInicio }}","timeMax":"={{ $json.fechaFin }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[32,-32],"id":"edabcc49-cde7-458f-aaa8-eb9b4f466f12","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"diaSemana","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Get many events1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Code5","type":"main","index":0}]]},"diaSemana":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many events1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-04T18:02:53.000Z","id":34,"workflowId":"BlZD3yBrIyctjPW3","versionId":"fe1ca89a-32c5-49db-8175-fb79a6ee7c4f","event":"activated","userId":null}]}}