n8n-portfolio/01-Masajes/Modificar_cita_Masajes.json
{"updatedAt":"2025-09-04T18:07:03.000Z","createdAt":"2025-08-28T20:04:42.069Z","id":"Xpa7JyfXIRG1IHlh","name":"Modificar cita Masajes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"78ee854a-f704-4f79-ad52-00ce56ca5cd1","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"fbb97645-1fe7-4f36-8b88-a3e9fed28c71","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,352],"id":"59224bdc-f468-44c6-81c2-006d8055e50d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"VPehvHsKU7AMGTSC","mode":"list","cachedResultName":"Comprobar fecha Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,384],"id":"c10add01-1e3e-4d02-b5ea-9c78ecac0f25","name":"comprobar_nueva_fecha"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,432],"id":"68a705b2-cef1-42d5-a190-60ae7495c008","name":"buscar_id","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ $json['Fecha nueva original'] }}-03:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-03:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[768,432],"id":"0e5bded9-65a5-4b78-8938-803878c43b3d","name":"comprobar_disponibilidad_nueva_fecha","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"BlZD3yBrIyctjPW3","mode":"list","cachedResultName":"Entregar horarios Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"a8905730-d4f5-4d96-83bd-822b910bf57f","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,384],"id":"ebbf77e6-acec-4742-aa12-e8ee8d7685ea","name":"crear_cita_nueva","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,304],"id":"f0d1d04f-3b09-4fc1-ae4b-2a44581b31c9","name":"eliminar_cita_actual","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"64d54c81-90d1-4608-969d-a1bae9f43c35","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a8c78d4f-2b6c-46a0-b541-48e1ed2f1887","activeVersionId":"a8c78d4f-2b6c-46a0-b541-48e1ed2f1887","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-08-28T20:04:42.077Z","createdAt":"2025-08-28T20:04:42.077Z","role":"workflow:owner","workflowId":"Xpa7JyfXIRG1IHlh","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T14:55:17.361Z","createdAt":"2026-02-10T14:55:17.361Z","versionId":"a8c78d4f-2b6c-46a0-b541-48e1ed2f1887","workflowId":"Xpa7JyfXIRG1IHlh","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"Fecha actual\": \"2025-07-10T11:00:00\",\n  \"Fecha nueva\": \"2025-07-11T11:00:00\",\n  \"Nombre\": \"Diego Vasquez\",\n  \"Telefono\":\"+56954675214\"\n}"},"id":"78ee854a-f704-4f79-ad52-00ce56ca5cd1","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,0]},{"parameters":{"promptType":"define","text":"=fecha actual: {{ $json['Fecha actual original'] }}\nfecha nueva: {{ $json['Fecha nueva original'] }}","options":{"systemMessage":"=# Rol  \nEres un agente virtual especializado en la gestión y modificación de citas. Tienes experiencia en validar, reprogramar y eliminar citas de manera eficiente, asegurando que los cambios cumplan con los requisitos establecidos.  \n\n# Tarea  \nTu tarea es modificar citas según las solicitudes de los usuarios, siguiendo un proceso estructurado. Para ello, debes:  \n\n1.Validar la nueva fecha: Asegurar que la nueva fecha solicitada está dentro del horario de atención permitido utilizando la herramienta \"comprobar_nueva_fecha\".  \n\n2.Buscar id cita actual con \"buscar_id\".\n\n3.Comprobar la disponibilidad de la nueva fecha: Usar la herramienta \"comprobar_disponibilidad_nuevafecha\". Si no hay disponibilidad, ofrecer horarios alternativos mediante la herramienta \"ofrecer_horarios_nueva_fecha\".  \n\n4.Crear la nueva cita: Si la nueva fecha es válida, proceder a agendar la nueva cita con la herramienta \"crear_cita_nueva\"\n\n\n5.Eliminar la cita actual: Una vez creada la nueva cita, eliminar la cita original usando la herramienta \"eliminar_cita_actual\"  \n\n\n#Formato respuesta:\n{\n\t\"respuesta\": \"La modificación de su cita se ha realizado exitosamente para el:\"\n\n}\n\n# Detalles Específicos  \n- Si en algún punto del proceso una validación falla, informar al usuario con una respuesta clara y específica sobre el motivo del rechazo.  \n- Utilizar las herramientas en el orden establecido para garantizar la correcta modificación de la cita.  \n- En caso de que la fecha actual no exista o no corresponda al usuario, informar que la cita no pudo ser encontrada.  \n- Si la nueva fecha está fuera del horario permitido, indicar los horarios disponibles.    \n- Confirmar al usuario cada paso exitoso, asegurando claridad en el proceso.  \n\n# Notas  \n- La fecha de hoy es {{ $now }}  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,0],"id":"fbb97645-1fe7-4f36-8b88-a3e9fed28c71","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,352],"id":"59224bdc-f468-44c6-81c2-006d8055e50d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"BmzJUAXMsDxj5nvQ","name":"OpenAi account"}}},{"parameters":{"name":"comprobar_nueva_fecha","description":"Comprueba si la nueva fecha de la cita corresponde a los horarios de atencion.","workflowId":{"__rl":true,"value":"VPehvHsKU7AMGTSC","mode":"list","cachedResultName":"Comprobar fecha Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[480,384],"id":"c10add01-1e3e-4d02-b5ea-9c78ecac0f25","name":"comprobar_nueva_fecha"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"limit":1,"timeMin":"={{ $json['Fecha actual original'] }}","timeMax":"={{ $json['Fecha actual +1h'] }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[624,432],"id":"68a705b2-cef1-42d5-a190-60ae7495c008","name":"buscar_id","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"timeMin":"={{ $json['Fecha nueva original'] }}-03:00","timeMax":"={{ $json['Fecha nueva +1h'] }}-03:00","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[768,432],"id":"0e5bded9-65a5-4b78-8938-803878c43b3d","name":"comprobar_disponibilidad_nueva_fecha","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"name":"ofrecer_horarios_nueva_fecha","description":"Eres la herramienta encargada de ofrecer horarios alternativos de la fecha nueva.","workflowId":{"__rl":true,"value":"BlZD3yBrIyctjPW3","mode":"list","cachedResultName":"Entregar horarios Masajes"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json['Fecha nueva original'] }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[944,432],"id":"a8905730-d4f5-4d96-83bd-822b910bf57f","name":"ofrecer_horarios_nueva_fecha"},{"parameters":{"calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"start":"={{ $json['Fecha nueva original'] }}","end":"={{ $json['Fecha nueva +1h'] }}","additionalFields":{"summary":"=Cita: {{ $('When Executed by Another Workflow').item.json.Nombre }} {{ $('When Executed by Another Workflow').item.json.Telefono }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1104,384],"id":"ebbf77e6-acec-4742-aa12-e8ee8d7685ea","name":"crear_cita_nueva","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"1bb70e732267c5a5a212564aef3fa85b1bfdcf9418d56535aad7d2a8464fecce@group.calendar.google.com","mode":"list","cachedResultName":"Masajes Saludables"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `Event id de la cita actual`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1248,304],"id":"f0d1d04f-3b09-4fc1-ae4b-2a44581b31c9","name":"eliminar_cita_actual","credentials":{"googleCalendarOAuth2Api":{"id":"eGCzDWfm9jmqvzUg","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const fechaActualTexto = $input.first().json['Fecha actual'];\nconst fechaNuevaTexto = $input.first().json['Fecha nueva'];\n\n// Función para sumar 1 hora y mantener formato YYYY-MM-DDTHH:mm:ss\nfunction sumarUnaHora(fechaTexto) {\n  const fecha = new Date(fechaTexto);\n  fecha.setHours(fecha.getHours() + 1);\n  return fecha.toISOString().substring(0, 19);\n}\n\nconst fechaActualMasUna = sumarUnaHora(fechaActualTexto);\nconst fechaNuevaMasUna = sumarUnaHora(fechaNuevaTexto);\n\nreturn [\n  {\n    json: {\n      \"Fecha actual original\": fechaActualTexto,\n      \"Fecha actual +1h\": fechaActualMasUna,\n      \"Fecha nueva original\": fechaNuevaTexto,\n      \"Fecha nueva +1h\": fechaNuevaMasUna\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"id":"64d54c81-90d1-4608-969d-a1bae9f43c35","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"comprobar_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"buscar_id":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"comprobar_disponibilidad_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ofrecer_horarios_nueva_fecha":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"crear_cita_nueva":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"eliminar_cita_actual":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-09-04T18:07:03.000Z","id":39,"workflowId":"Xpa7JyfXIRG1IHlh","versionId":"a8c78d4f-2b6c-46a0-b541-48e1ed2f1887","event":"activated","userId":null}]}}