n8n-portfolio/03-Lead-Generation/1-Lead_Scraper_Calificador_v2.json
{"updatedAt":"2026-05-19T21:06:16.134Z","createdAt":"2026-05-19T21:02:01.188Z","id":"ja5qxzj00U1BUqfK","name":"1 - Lead Scraper + Calificador v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"apify-leads","responseMode":"responseNode","options":{}},"id":"dd000001-0001-0001-0001-000000000001","name":"Recibir JSON de Apify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"2e5534d2-5bfe-4ce7-a971-6b0c7585585b"},{"parameters":{"jsCode":"// El JSON de Apify viene en el body del webhook\n// Puede ser un array directo o estar dentro de body\nconst raw = $json.body || $json;\nconst results = Array.isArray(raw) ? raw : [raw];\n\nconst SCORE_MINIMO = 7;\nconst places = [];\n\nfor (const place of results) {\n  if (!place.title || place.permanentlyClosed) continue;\n\n  // Construir direccion desde street + city\n  const direccion = [place.street, place.city, place.state, place.countryCode]\n    .filter(Boolean).join(', ');\n\n  // Extraer email\n  const email = (place.emails || [])[0]?.email\n    || (place.emails || [])[0]\n    || '';\n\n  places.push({\n    json: {\n      place_id:  place.placeId || place.title,\n      nombre:    place.title || '',\n      tipo:      place.categoryName || (place.categories||[])[0] || '',\n      direccion: direccion || place.address || '',\n      telefono:  (place.phone||place.phoneUnformatted||'').replace(/\\s/g,''),\n      website:   place.website || '',\n      email:     email,\n      rating:    place.totalScore || 0,\n      reviews:   place.reviewsCount || 0,\n      maps_url:  place.url || '',\n      fuente:    'Apify/Google Maps',\n      scoreMinimo: SCORE_MINIMO\n    }\n  });\n}\n\nreturn places;"},"id":"dd000001-0001-0001-0001-000000000002","name":"Extraer Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"const prev = $input.item.json;\nconst texto = $json.message?.content || $json.choices?.[0]?.message?.content || $json.content || '{}';\n\nlet cal;\ntry {\n  const match = texto.match(/\\{[\\s\\S]*\\}/);\n  cal = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  cal = { score: 0, motivo: 'Error', canal_recomendado: 'email', problema_principal: '' };\n}\n\nreturn [{\n  json: {\n    ...prev,\n    score:              cal.score || 0,\n    motivo_score:       cal.motivo || '',\n    canal_recomendado:  cal.canal_recomendado || 'email',\n    problema_principal: cal.problema_principal || '',\n    status:             'calificado',\n    fecha_creado:       new Date().toISOString().split('T')[0]\n  }\n}];"},"id":"dd000001-0001-0001-0001-000000000004","name":"Parsear Calificacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"score-check","leftValue":"={{ $json.score }}","rightValue":"={{ $json.scoreMinimo }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"dd000001-0001-0001-0001-000000000005","name":"Score suficiente","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"CONECTAR_Y_SELECCIONAR_SHEET","mode":"list"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"place_id":"={{ $json.place_id }}","nombre":"={{ $json.nombre }}","tipo":"={{ $json.tipo }}","direccion":"={{ $json.direccion }}","telefono":"={{ $json.telefono }}","email":"={{ $json.email }}","website":"={{ $json.website }}","rating":"={{ $json.rating }}","reviews":"={{ $json.reviews }}","maps_url":"={{ $json.maps_url }}","fuente":"={{ $json.fuente }}","score":"={{ $json.score }}","motivo_score":"={{ $json.motivo_score }}","problema_principal":"={{ $json.problema_principal }}","canal_recomendado":"={{ $json.canal_recomendado }}","status":"calificado","fecha_creado":"={{ $json.fecha_creado }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"dd000001-0001-0001-0001-000000000006","name":"Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1344,208],"credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"respondWith":"text","responseBody":"OK - {{ $('Extraer Leads').all().length }} leads procesados","options":{}},"id":"dd000001-0001-0001-0001-000000000007","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1344,400]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"=Eres un experto en ventas B2B de sistemas de automatizacion para negocios en Mexico. Vendemos:\n- Chatbots de atencion al cliente por WhatsApp\n- Sistemas de reservas y citas automatizadas\n- Seguimiento automatico de leads por WhatsApp y email\n- Notificaciones y recordatorios automaticos\n\nAnaliza este negocio y decide si es buen prospecto:\n\n- Nombre: {{ $json.nombre }}\n- Tipo: {{ $json.tipo }}\n- Direccion: {{ $json.direccion }}\n- Telefono: {{ $json.telefono }}\n- Email: {{ $json.email }}\n- Website: {{ $json.website }}\n- Rating Google: {{ $json.rating }}/5 ({{ $json.reviews }} resenas)\n\nCriterios:\n1. Volumen de clientes (resenas como indicador)\n2. Potencial de automatizacion segun su rubro\n3. Presencia digital (website = mas receptivo a tecnologia)\n4. Contactabilidad (tiene email o telefono)\n\nResponde UNICAMENTE con JSON valido:\n{\"score\":(1-10),\"motivo\":\"max 15 palabras\",\"canal_recomendado\":\"email o whatsapp\",\"problema_principal\":\"problema especifico automatizable en 10 palabras\"}\n"}]},"builtInTools":{},"options":{"maxTokens":300,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[656,304],"id":"10ccb875-b91d-491c-9a3a-5b2541d2bd02","name":"Message a model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}}],"connections":{"Recibir JSON de Apify":{"main":[[{"node":"Extraer Leads","type":"main","index":0}]]},"Extraer Leads":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Parsear Calificacion":{"main":[[{"node":"Score suficiente","type":"main","index":0}]]},"Score suficiente":{"main":[[{"node":"Guardar en Google Sheets","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Parsear Calificacion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"172970e8-1f2a-4f45-8263-7801aa492899","activeVersionId":"172970e8-1f2a-4f45-8263-7801aa492899","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-05-19T21:02:01.193Z","createdAt":"2026-05-19T21:02:01.193Z","role":"workflow:owner","workflowId":"ja5qxzj00U1BUqfK","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-19T21:11:50.000Z","createdAt":"2026-05-19T21:06:16.135Z","versionId":"172970e8-1f2a-4f45-8263-7801aa492899","workflowId":"ja5qxzj00U1BUqfK","nodes":[{"parameters":{"httpMethod":"POST","path":"apify-leads","responseMode":"responseNode","options":{}},"id":"dd000001-0001-0001-0001-000000000001","name":"Recibir JSON de Apify","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"webhookId":"2e5534d2-5bfe-4ce7-a971-6b0c7585585b"},{"parameters":{"jsCode":"// El JSON de Apify viene en el body del webhook\n// Puede ser un array directo o estar dentro de body\nconst raw = $json.body || $json;\nconst results = Array.isArray(raw) ? raw : [raw];\n\nconst SCORE_MINIMO = 7;\nconst places = [];\n\nfor (const place of results) {\n  if (!place.title || place.permanentlyClosed) continue;\n\n  // Construir direccion desde street + city\n  const direccion = [place.street, place.city, place.state, place.countryCode]\n    .filter(Boolean).join(', ');\n\n  // Extraer email\n  const email = (place.emails || [])[0]?.email\n    || (place.emails || [])[0]\n    || '';\n\n  places.push({\n    json: {\n      place_id:  place.placeId || place.title,\n      nombre:    place.title || '',\n      tipo:      place.categoryName || (place.categories||[])[0] || '',\n      direccion: direccion || place.address || '',\n      telefono:  (place.phone||place.phoneUnformatted||'').replace(/\\s/g,''),\n      website:   place.website || '',\n      email:     email,\n      rating:    place.totalScore || 0,\n      reviews:   place.reviewsCount || 0,\n      maps_url:  place.url || '',\n      fuente:    'Apify/Google Maps',\n      scoreMinimo: SCORE_MINIMO\n    }\n  });\n}\n\nreturn places;"},"id":"dd000001-0001-0001-0001-000000000002","name":"Extraer Leads","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304]},{"parameters":{"jsCode":"const prev = $input.item.json;\nconst texto = $json.message?.content || $json.choices?.[0]?.message?.content || $json.content || '{}';\n\nlet cal;\ntry {\n  const match = texto.match(/\\{[\\s\\S]*\\}/);\n  cal = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  cal = { score: 0, motivo: 'Error', canal_recomendado: 'email', problema_principal: '' };\n}\n\nreturn [{\n  json: {\n    ...prev,\n    score:              cal.score || 0,\n    motivo_score:       cal.motivo || '',\n    canal_recomendado:  cal.canal_recomendado || 'email',\n    problema_principal: cal.problema_principal || '',\n    status:             'calificado',\n    fecha_creado:       new Date().toISOString().split('T')[0]\n  }\n}];"},"id":"dd000001-0001-0001-0001-000000000004","name":"Parsear Calificacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"score-check","leftValue":"={{ $json.score }}","rightValue":"={{ $json.scoreMinimo }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"dd000001-0001-0001-0001-000000000005","name":"Score suficiente","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"CONECTAR_Y_SELECCIONAR_SHEET","mode":"list"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"place_id":"={{ $json.place_id }}","nombre":"={{ $json.nombre }}","tipo":"={{ $json.tipo }}","direccion":"={{ $json.direccion }}","telefono":"={{ $json.telefono }}","email":"={{ $json.email }}","website":"={{ $json.website }}","rating":"={{ $json.rating }}","reviews":"={{ $json.reviews }}","maps_url":"={{ $json.maps_url }}","fuente":"={{ $json.fuente }}","score":"={{ $json.score }}","motivo_score":"={{ $json.motivo_score }}","problema_principal":"={{ $json.problema_principal }}","canal_recomendado":"={{ $json.canal_recomendado }}","status":"calificado","fecha_creado":"={{ $json.fecha_creado }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"dd000001-0001-0001-0001-000000000006","name":"Guardar en Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1344,208],"credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"respondWith":"text","responseBody":"OK - {{ $('Extraer Leads').all().length }} leads procesados","options":{}},"id":"dd000001-0001-0001-0001-000000000007","name":"Responder OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1344,400]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"=Eres un experto en ventas B2B de sistemas de automatizacion para negocios en Mexico. Vendemos:\n- Chatbots de atencion al cliente por WhatsApp\n- Sistemas de reservas y citas automatizadas\n- Seguimiento automatico de leads por WhatsApp y email\n- Notificaciones y recordatorios automaticos\n\nAnaliza este negocio y decide si es buen prospecto:\n\n- Nombre: {{ $json.nombre }}\n- Tipo: {{ $json.tipo }}\n- Direccion: {{ $json.direccion }}\n- Telefono: {{ $json.telefono }}\n- Email: {{ $json.email }}\n- Website: {{ $json.website }}\n- Rating Google: {{ $json.rating }}/5 ({{ $json.reviews }} resenas)\n\nCriterios:\n1. Volumen de clientes (resenas como indicador)\n2. Potencial de automatizacion segun su rubro\n3. Presencia digital (website = mas receptivo a tecnologia)\n4. Contactabilidad (tiene email o telefono)\n\nResponde UNICAMENTE con JSON valido:\n{\"score\":(1-10),\"motivo\":\"max 15 palabras\",\"canal_recomendado\":\"email o whatsapp\",\"problema_principal\":\"problema especifico automatizable en 10 palabras\"}\n"}]},"builtInTools":{},"options":{"maxTokens":300,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[656,304],"id":"10ccb875-b91d-491c-9a3a-5b2541d2bd02","name":"Message a model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}}],"connections":{"Recibir JSON de Apify":{"main":[[{"node":"Extraer Leads","type":"main","index":0}]]},"Extraer Leads":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Parsear Calificacion":{"main":[[{"node":"Score suficiente","type":"main","index":0}]]},"Score suficiente":{"main":[[{"node":"Guardar en Google Sheets","type":"main","index":0}],[{"node":"Responder OK","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Parsear Calificacion","type":"main","index":0}]]}},"authors":"Matias Di Benedetto","name":"Version 172970e8","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-05-19T21:11:50.443Z","id":46,"workflowId":"ja5qxzj00U1BUqfK","versionId":"172970e8-1f2a-4f45-8263-7801aa492899","event":"activated","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033"}]}}