n8n-portfolio/03-Lead-Generation/2-Redactor_de_Mensajes_con_IA.json
{"updatedAt":"2026-05-19T20:30:10.000Z","createdAt":"2026-05-19T19:53:27.194Z","id":"d3HcyvvKJYWfoMnMfmdLZ","name":"2 - Redactor de Mensajes con IA","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"9e7b4fff-2f96-4ab1-b9f1-1ac43a9a44c2","name":"Cada 2 horas","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-880,112]},{"parameters":{"jsCode":"return [{\n  json: {\n    anthropicApiKey: 'REEMPLAZAR_CON_TU_ANTHROPIC_API_KEY',\n    googleSheetsId:  'REEMPLAZAR_CON_ID_DE_TU_GOOGLE_SHEET',\n    // Quién eres tú / tu empresa (para personalizar los mensajes)\n    vendedor_nombre:  'REEMPLAZAR_CON_TU_NOMBRE',\n    vendedor_empresa: 'REEMPLAZAR_CON_NOMBRE_DE_TU_EMPRESA',\n    vendedor_telefono: 'REEMPLAZAR_CON_TU_TELEFONO'\n  }\n}];"},"id":"5b182919-ef35-4bce-942d-f1c860758b6f","name":"Configuración","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,112]},{"parameters":{"operation":"getAll","documentId":{"__rl":true,"value":"={{ $json.googleSheetsId }}","mode":"id"}},"id":"de4d8899-d896-4591-9e0f-3a9d2d0a5785","name":"Obtener Leads sin Mensajes","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-leads","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"cc39d243-164e-4436-b0a9-99e4aa2fa9f4","name":"¿Hay leads para procesar?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"options":{}},"id":"c26e7a52-7840-4781-9af6-d8253cb3e46c","name":"Procesar de a 1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('Configuración').item.json.anthropicApiKey }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Eres un experto en ventas consultivas. Escribe una secuencia de 3 mensajes de seguimiento para este prospecto.\\n\\nDATO DEL NEGOCIO:\\n- Nombre: {{ $json.nombre }}\\n- Tipo: {{ $json.tipo }}\\n- Dirección: {{ $json.direccion }}\\n- Teléfono: {{ $json.telefono }}\\n- Website: {{ $json.website || 'Sin website' }}\\n- Rating Google: {{ $json.rating }}/5 ({{ $json.reviews }} reseñas)\\n- Problema detectado: {{ $json.problema_principal }}\\n- Canal recomendado: {{ $json.canal_recomendado }}\\n\\nQUIÉN CONTACTA:\\n- Nombre: {{ $('Configuración').item.json.vendedor_nombre }}\\n- Empresa: {{ $('Configuración').item.json.vendedor_empresa }}\\n- Teléfono: {{ $('Configuración').item.json.vendedor_telefono }}\\n\\nPRODUCTO: Sistemas de automatización personalizados para negocios (automatización de reservas, seguimiento de clientes, notificaciones automáticas, gestión de pedidos, respuestas automáticas, etc.)\\n\\nESTRATEGIA DE MENSAJES:\\n- Mensaje 1 (Día 1): Presentación + menciona el problema específico de su negocio + invitación a conversar (NO vendas todavía)\\n- Mensaje 2 (Día 4): Caso de éxito de un negocio similar + valor concreto en números + pregunta de seguimiento\\n- Mensaje 3 (Día 9): Cierre suave con urgencia real + oferta de llamada de 15 min + instrucción clara\\n\\nREGLAS:\\n- Tono: profesional pero cercano, nada de spam\\n- Personaliza SIEMPRE mencionando su negocio específico\\n- Email: puede ser más largo (3-5 párrafos)\\n- WhatsApp: máximo 3-4 líneas, informal, con emoji\\n- NO uses frases genéricas como 'espero que estés bien'\\n\\nResponde ÚNICAMENTE con JSON válido:\\n{\\n  \\\"email_msg1_asunto\\\": \\\"...\\\",\\n  \\\"email_msg1_cuerpo\\\": \\\"...\\\",\\n  \\\"email_msg2_asunto\\\": \\\"...\\\",\\n  \\\"email_msg2_cuerpo\\\": \\\"...\\\",\\n  \\\"email_msg3_asunto\\\": \\\"...\\\",\\n  \\\"email_msg3_cuerpo\\\": \\\"...\\\",\\n  \\\"whatsapp_msg1\\\": \\\"...\\\",\\n  \\\"whatsapp_msg2\\\": \\\"...\\\",\\n  \\\"whatsapp_msg3\\\": \\\"...\\\"\\n}\"\n  }]\n}","options":{}},"id":"b6f7eefc-27f2-4bc1-af1d-33d0ff0dca86","name":"Redactar Mensajes con IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0]},{"parameters":{"jsCode":"const lead = $('Procesar de a 1').item.json;\nconst responseText = $json.content?.[0]?.text || '{}';\n\nlet mensajes;\ntry {\n  const match = responseText.match(/\\{[\\s\\S]*\\}/);\n  mensajes = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  mensajes = {};\n}\n\nreturn [{\n  json: {\n    // Identificador para actualizar la fila correcta\n    row_number:          lead.row_number,\n    place_id:            lead.place_id,\n    // Mensajes generados\n    email_msg1_asunto:   mensajes.email_msg1_asunto || '',\n    email_msg1_cuerpo:   mensajes.email_msg1_cuerpo || '',\n    email_msg2_asunto:   mensajes.email_msg2_asunto || '',\n    email_msg2_cuerpo:   mensajes.email_msg2_cuerpo || '',\n    email_msg3_asunto:   mensajes.email_msg3_asunto || '',\n    email_msg3_cuerpo:   mensajes.email_msg3_cuerpo || '',\n    whatsapp_msg1:       mensajes.whatsapp_msg1 || '',\n    whatsapp_msg2:       mensajes.whatsapp_msg2 || '',\n    whatsapp_msg3:       mensajes.whatsapp_msg3 || '',\n    status:              'listo_para_enviar',\n    googleSheetsId:      $('Configuración').item.json.googleSheetsId\n  }\n}];"},"id":"a3a93010-2208-4357-ac4b-ffd45293d0b8","name":"Parsear Mensajes","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $json.googleSheetsId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"email_msg1_asunto":"={{ $json.email_msg1_asunto }}","email_msg1_cuerpo":"={{ $json.email_msg1_cuerpo }}","email_msg2_asunto":"={{ $json.email_msg2_asunto }}","email_msg2_cuerpo":"={{ $json.email_msg2_cuerpo }}","email_msg3_asunto":"={{ $json.email_msg3_asunto }}","email_msg3_cuerpo":"={{ $json.email_msg3_cuerpo }}","whatsapp_msg1":"={{ $json.whatsapp_msg1 }}","whatsapp_msg2":"={{ $json.whatsapp_msg2 }}","whatsapp_msg3":"={{ $json.whatsapp_msg3 }}","status":"listo_para_enviar"},"matchingColumns":["row_number"],"schema":[]},"options":{}},"id":"6b3125ca-fc33-4fce-b76a-fca4b4328e84","name":"Guardar Mensajes en Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[672,0]}],"connections":{"Cada 2 horas":{"main":[[{"node":"Configuración","type":"main","index":0}]]},"Configuración":{"main":[[{"node":"Obtener Leads sin Mensajes","type":"main","index":0}]]},"Obtener Leads sin Mensajes":{"main":[[{"node":"¿Hay leads para procesar?","type":"main","index":0}]]},"¿Hay leads para procesar?":{"main":[[{"node":"Procesar de a 1","type":"main","index":0}]]},"Procesar de a 1":{"main":[[{"node":"Redactar Mensajes con IA","type":"main","index":0}]]},"Redactar Mensajes con IA":{"main":[[{"node":"Parsear Mensajes","type":"main","index":0}]]},"Parsear Mensajes":{"main":[[{"node":"Guardar Mensajes en Sheet","type":"main","index":0}]]},"Guardar Mensajes en Sheet":{"main":[[{"node":"Procesar de a 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0c5f7067-2340-4e14-aad4-fae5e4617cee","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-05-19T19:53:27.198Z","createdAt":"2026-05-19T19:53:27.198Z","role":"workflow:owner","workflowId":"d3HcyvvKJYWfoMnMfmdLZ","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[{"updatedAt":"2026-05-19T19:52:53.522Z","createdAt":"2026-05-19T19:52:53.522Z","id":"APM881zQu80Ze9Os","name":"ventas-automatizadas"}],"activeVersion":null}