n8n-portfolio/03-Lead-Generation/3-Secuencia_de_Envio.json
{"updatedAt":"2026-05-19T20:11:26.810Z","createdAt":"2026-05-19T20:10:16.263Z","id":"eAIOkrUmoIRmGhdb","name":"3 - Secuencia de Envio","description":null,"active":false,"isArchived":false,"nodes":[{"id":"aa000001-0001-0001-0001-000000000001","name":"Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1-5"}]}}},{"id":"aa000001-0001-0001-0001-000000000002","name":"Configuracion","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"return [{json:{googleSheetsId:'REEMPLAZAR_ID_SHEET',evolutionApiUrl:'REEMPLAZAR_URL_EVOLUTION',evolutionApiKey:'REEMPLAZAR_KEY_EVOLUTION',evolutionInstance:'REEMPLAZAR_INSTANCIA',diasEntreMsg1yMsg2:3,diasEntreMsg2yMsg3:5}}];"}},{"id":"aa000001-0001-0001-0001-000000000003","name":"Obtener Leads","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[680,300],"parameters":{"operation":"getAll","documentId":{"__rl":true,"value":"={{ $json.googleSheetsId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"options":{}}},{"id":"aa000001-0001-0001-0001-000000000004","name":"Filtrar por Timing","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"const cfg=$('Configuracion').item.json;\nconst hoy=new Date();\nconst out=[];\nfor(const item of $input.all()){\n  const l=item.json;\n  if(l.status==='listo_para_enviar'&&(l.email||l.telefono)){\n    out.push({json:{...l,mensaje_a_enviar:'msg1',config:cfg}});\n  }else if(l.status==='msg1_enviado'&&l.fecha_msg1){\n    if(Math.floor((hoy-new Date(l.fecha_msg1))/86400000)>=cfg.diasEntreMsg1yMsg2)\n      out.push({json:{...l,mensaje_a_enviar:'msg2',config:cfg}});\n  }else if(l.status==='msg2_enviado'&&l.fecha_msg2){\n    if(Math.floor((hoy-new Date(l.fecha_msg2))/86400000)>=cfg.diasEntreMsg2yMsg3)\n      out.push({json:{...l,mensaje_a_enviar:'msg3',config:cfg}});\n  }\n}\nreturn out;"}},{"id":"aa000001-0001-0001-0001-000000000005","name":"Procesar de a 1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1120,300],"parameters":{"batchSize":1,"options":{}}},{"id":"aa000001-0001-0001-0001-000000000006","name":"Preparar Contenido","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300],"parameters":{"jsCode":"const l=$json;\nconst m=l.mensaje_a_enviar;\nreturn [{json:{...l,\n  email_asunto:m==='msg1'?l.email_msg1_asunto:m==='msg2'?l.email_msg2_asunto:l.email_msg3_asunto,\n  email_cuerpo:m==='msg1'?l.email_msg1_cuerpo:m==='msg2'?l.email_msg2_cuerpo:l.email_msg3_cuerpo,\n  wa_texto:m==='msg1'?l.whatsapp_msg1:m==='msg2'?l.whatsapp_msg2:l.whatsapp_msg3,\n  nuevo_status:m==='msg1'?'msg1_enviado':m==='msg2'?'msg2_enviado':'msg3_enviado',\n  fecha_hoy:new Date().toISOString().split('T')[0]\n}}];"}},{"id":"aa000001-0001-0001-0001-000000000007","name":"Enviar Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1560,300],"parameters":{"sendTo":"={{ $json.email }}","subject":"={{ $json.email_asunto }}","message":"={{ $json.email_cuerpo }}","options":{}}},{"id":"aa000001-0001-0001-0001-000000000008","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300],"parameters":{"method":"POST","url":"={{ $json.config.evolutionApiUrl + '/message/sendText/' + $json.config.evolutionInstance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.config.evolutionApiKey }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.telefono }}"},{"name":"text","value":"={{ $json.wa_texto }}"}]},"options":{}}},{"id":"aa000001-0001-0001-0001-000000000009","name":"Actualizar Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2000,300],"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $json.config.googleSheetsId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Leads","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"status":"={{ $json.nuevo_status }}","fecha_msg1":"={{ $json.mensaje_a_enviar==='msg1'?$json.fecha_hoy:($json.fecha_msg1||'') }}","fecha_msg2":"={{ $json.mensaje_a_enviar==='msg2'?$json.fecha_hoy:($json.fecha_msg2||'') }}","fecha_msg3":"={{ $json.mensaje_a_enviar==='msg3'?$json.fecha_hoy:($json.fecha_msg3||'') }}"},"matchingColumns":["row_number"],"schema":[]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"Configuracion","type":"main","index":0}]]},"Configuracion":{"main":[[{"node":"Obtener Leads","type":"main","index":0}]]},"Obtener Leads":{"main":[[{"node":"Filtrar por Timing","type":"main","index":0}]]},"Filtrar por Timing":{"main":[[{"node":"Procesar de a 1","type":"main","index":0}]]},"Procesar de a 1":{"main":[[{"node":"Preparar Contenido","type":"main","index":0}]]},"Preparar Contenido":{"main":[[{"node":"Enviar Email","type":"main","index":0}]]},"Enviar Email":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Actualizar Sheet","type":"main","index":0}]]},"Actualizar Sheet":{"main":[[{"node":"Procesar de a 1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9b9381f0-6d42-4781-b4b0-0b490c3cfe41","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-05-19T20:10:16.280Z","createdAt":"2026-05-19T20:10:16.280Z","role":"workflow:owner","workflowId":"eAIOkrUmoIRmGhdb","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":null}