n8n-portfolio/03-Lead-Generation/Lead_Qualifier.json
{"updatedAt":"2026-06-02T11:48:20.582Z","createdAt":"2026-06-02T11:48:20.582Z","id":"XILMtBnVwfDVuVEYzWBYk","name":"Lead Qualifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"7f913c54-5a46-4c2a-b8b1-70e72f91405c","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-656,128],"webhookId":"lead-qualifier-tg","credentials":{"telegramApi":{"id":"NEeaVOOOgzcD7Ako","name":"orbyn"}}},{"parameters":{"jsCode":"// ── Parse AI response & prepare all downstream data in one pass ──\nconst aiResponse = $input.first().json;\nconst telegramMsg = $('Telegram Trigger').first().json;\n\n// ── Extract Telegram context ──\nconst chatId    = telegramMsg.message.chat.id;\nconst messageId = telegramMsg.message.message_id;\nconst leadText  = telegramMsg.message.text || '';\nconst sender    = [\n  telegramMsg.message.from?.first_name || '',\n  telegramMsg.message.from?.last_name  || ''\n].join(' ').trim() || 'Desconocido';\n\n// ── Extraer texto crudo del LLM (compatible con todas las versiones) ──\n// \"Message a Model\" (nueva):   output[0].content[0].text\n// Intermedia:                  content[0].text\n// \"Chat Complete\" (antigua):   message.content\nconst raw = aiResponse.output?.[0]?.content?.[0]?.text\n         ?? aiResponse.content?.[0]?.text\n         ?? aiResponse.message?.content\n         ?? '';\n\n// ── Parse JSON del LLM (con fallback) ──\nlet parsed;\ntry {\n  const cleaned = raw\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n\n  if (typeof parsed.qualified !== 'boolean' || !parsed.decision || !parsed.reasoning) {\n    throw new Error('Faltan claves en la respuesta del LLM');\n  }\n} catch (e) {\n  parsed = {\n    qualified : false,\n    decision  : 'ERROR_PARSE',\n    reasoning : 'No pude analizar la respuesta. Error: ' + e.message + ' | Raw: ' + raw.slice(0, 100)\n  };\n}\n\n// ── Construir respuesta de Telegram ──\nconst emoji     = parsed.qualified ? '✅' : '❌';\nconst badge     = parsed.qualified ? '🟢 CUALIFICADO' : '🔴 NO CUALIFICADO';\nconst replyText = `${emoji} *${badge}*\\n\\n${parsed.reasoning}\\n\\n_— Lead Qualifier Bot_`;\n\nconst timestamp = new Date().toLocaleString('es-ES', { timeZone: 'Europe/Madrid' });\n\nreturn [{\n  json: {\n    chatId,\n    messageId,\n    leadText,\n    sender,\n    qualified : parsed.qualified,\n    decision  : parsed.decision,\n    reasoning : parsed.reasoning,\n    replyText,\n    timestamp\n  }\n}];\n"},"id":"91d465b9-c023-4d98-b61e-bc92bb77cbb4","name":"Parse & Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,128]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.replyText }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown","reply_to_message_id":"={{ $json.messageId }}"}},"id":"c93f8cc0-9791-4e7a-9ccc-5196206ea3b0","name":"Reply on Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"a93d0ddf-98d4-43f4-b478-7562ee5747de","credentials":{"telegramApi":{"id":"NEeaVOOOgzcD7Ako","name":"orbyn"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.timestamp }}","Remitente":"={{ $json.sender }}","Lead (text recib)":"={{ $json.leadText }}","decision ":"={{ $json.decision }}","Razonamiento":"={{ $json.reasoning }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remitente","displayName":"Remitente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead (text recib)","displayName":"Lead (text recib)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"decision ","displayName":"decision ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Razonamiento","displayName":"Razonamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5be1d29e-b0dd-4ec4-bb5a-4b57f2b370b9","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[0,240],"credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Eres un agente experto en cualificación de leads para una empresa que vende servicios de automatización e IA.\n\nTu tarea: analizar el texto libre de un lead y decidir si encaja con el siguiente ICP:\n- Tipo de empresa: SERVICIOS o CONSULTORÍA\n- Tamaño: mínimo 5 empleados\n- Ubicación: ESPAÑA o LATINOAMÉRICA\n- Interés declarado o implícito en AUTOMATIZACIÓN o INTELIGENCIA ARTIFICIAL\n\nReglas:\n1. Si falta información sobre un criterio, indícalo en el razonamiento pero evalúa el resto.\n2. El beneficio de la duda solo si al menos 3 de 4 criterios se cumplen claramente.\n3. Sé específico: menciona qué criterios cumple y cuáles no.\n\nResponde ÚNICAMENTE con JSON válido, sin texto adicional fuera del JSON:\n{\"qualified\": true, \"decision\": \"CUALIFICADO\", \"reasoning\": \"Empresa de consultoría con 15 empleados en Madrid. Cumple todos los criterios del ICP.\"}\n\nO si no cumple:\n{\"qualified\": false, \"decision\": \"NO CUALIFICADO\", \"reasoning\": \"Solo 2 empleados, por debajo del mínimo de 5.\"}\n"},{"content":"=={{ $json.message.text }}"}]},"builtInTools":{},"options":{"maxTokens":400,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-512,128],"id":"9ea92cd1-449c-4743-a5bf-670a61b89b6a","name":"Message a model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}}],"connections":{"Parse & Prepare":{"main":[[{"node":"Reply on Telegram","type":"main","index":0},{"node":"Log to Google Sheets","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Parse & Prepare","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"bf3b737b-f5c0-488d-aaa9-ea60c5d1c546","activeVersionId":"bf3b737b-f5c0-488d-aaa9-ea60c5d1c546","versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2026-06-02T11:48:20.586Z","createdAt":"2026-06-02T11:48:20.586Z","role":"workflow:owner","workflowId":"XILMtBnVwfDVuVEYzWBYk","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[{"updatedAt":"2026-05-27T16:56:20.244Z","createdAt":"2026-05-27T16:56:20.244Z","id":"Cv6Gum7jjg4tnqAl","name":"telegram"},{"updatedAt":"2026-05-27T16:56:20.246Z","createdAt":"2026-05-27T16:56:20.246Z","id":"VJjM8ZK7WYUy9iDW","name":"orbyn"},{"updatedAt":"2026-05-27T16:56:20.224Z","createdAt":"2026-05-27T16:56:20.224Z","id":"haBmNrpAltGHOH8W","name":"leads"}],"activeVersion":{"updatedAt":"2026-06-02T11:50:38.000Z","createdAt":"2026-06-02T11:48:20.587Z","versionId":"bf3b737b-f5c0-488d-aaa9-ea60c5d1c546","workflowId":"XILMtBnVwfDVuVEYzWBYk","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"7f913c54-5a46-4c2a-b8b1-70e72f91405c","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-656,128],"webhookId":"lead-qualifier-tg","credentials":{"telegramApi":{"id":"NEeaVOOOgzcD7Ako","name":"orbyn"}}},{"parameters":{"jsCode":"// ── Parse AI response & prepare all downstream data in one pass ──\nconst aiResponse = $input.first().json;\nconst telegramMsg = $('Telegram Trigger').first().json;\n\n// ── Extract Telegram context ──\nconst chatId    = telegramMsg.message.chat.id;\nconst messageId = telegramMsg.message.message_id;\nconst leadText  = telegramMsg.message.text || '';\nconst sender    = [\n  telegramMsg.message.from?.first_name || '',\n  telegramMsg.message.from?.last_name  || ''\n].join(' ').trim() || 'Desconocido';\n\n// ── Extraer texto crudo del LLM (compatible con todas las versiones) ──\n// \"Message a Model\" (nueva):   output[0].content[0].text\n// Intermedia:                  content[0].text\n// \"Chat Complete\" (antigua):   message.content\nconst raw = aiResponse.output?.[0]?.content?.[0]?.text\n         ?? aiResponse.content?.[0]?.text\n         ?? aiResponse.message?.content\n         ?? '';\n\n// ── Parse JSON del LLM (con fallback) ──\nlet parsed;\ntry {\n  const cleaned = raw\n    .replace(/```json\\n?/gi, '')\n    .replace(/```\\n?/gi, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n\n  if (typeof parsed.qualified !== 'boolean' || !parsed.decision || !parsed.reasoning) {\n    throw new Error('Faltan claves en la respuesta del LLM');\n  }\n} catch (e) {\n  parsed = {\n    qualified : false,\n    decision  : 'ERROR_PARSE',\n    reasoning : 'No pude analizar la respuesta. Error: ' + e.message + ' | Raw: ' + raw.slice(0, 100)\n  };\n}\n\n// ── Construir respuesta de Telegram ──\nconst emoji     = parsed.qualified ? '✅' : '❌';\nconst badge     = parsed.qualified ? '🟢 CUALIFICADO' : '🔴 NO CUALIFICADO';\nconst replyText = `${emoji} *${badge}*\\n\\n${parsed.reasoning}\\n\\n_— Lead Qualifier Bot_`;\n\nconst timestamp = new Date().toLocaleString('es-ES', { timeZone: 'Europe/Madrid' });\n\nreturn [{\n  json: {\n    chatId,\n    messageId,\n    leadText,\n    sender,\n    qualified : parsed.qualified,\n    decision  : parsed.decision,\n    reasoning : parsed.reasoning,\n    replyText,\n    timestamp\n  }\n}];\n"},"id":"91d465b9-c023-4d98-b61e-bc92bb77cbb4","name":"Parse & Prepare","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,128]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.replyText }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown","reply_to_message_id":"={{ $json.messageId }}"}},"id":"c93f8cc0-9791-4e7a-9ccc-5196206ea3b0","name":"Reply on Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"a93d0ddf-98d4-43f4-b478-7562ee5747de","credentials":{"telegramApi":{"id":"NEeaVOOOgzcD7Ako","name":"orbyn"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19M-rb1Fi1veusVrdR6lu-m4rtnkW7JRhc80Dmcvwcbw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.timestamp }}","Remitente":"={{ $json.sender }}","Lead (text recib)":"={{ $json.leadText }}","decision ":"={{ $json.decision }}","Razonamiento":"={{ $json.reasoning }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remitente","displayName":"Remitente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lead (text recib)","displayName":"Lead (text recib)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"decision ","displayName":"decision ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Razonamiento","displayName":"Razonamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5be1d29e-b0dd-4ec4-bb5a-4b57f2b370b9","name":"Log to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[0,240],"credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"role":"system","content":"=Eres un agente experto en cualificación de leads para una empresa que vende servicios de automatización e IA.\n\nTu tarea: analizar el texto libre de un lead y decidir si encaja con el siguiente ICP:\n- Tipo de empresa: SERVICIOS o CONSULTORÍA\n- Tamaño: mínimo 5 empleados\n- Ubicación: ESPAÑA o LATINOAMÉRICA\n- Interés declarado o implícito en AUTOMATIZACIÓN o INTELIGENCIA ARTIFICIAL\n\nReglas:\n1. Si falta información sobre un criterio, indícalo en el razonamiento pero evalúa el resto.\n2. El beneficio de la duda solo si al menos 3 de 4 criterios se cumplen claramente.\n3. Sé específico: menciona qué criterios cumple y cuáles no.\n\nResponde ÚNICAMENTE con JSON válido, sin texto adicional fuera del JSON:\n{\"qualified\": true, \"decision\": \"CUALIFICADO\", \"reasoning\": \"Empresa de consultoría con 15 empleados en Madrid. Cumple todos los criterios del ICP.\"}\n\nO si no cumple:\n{\"qualified\": false, \"decision\": \"NO CUALIFICADO\", \"reasoning\": \"Solo 2 empleados, por debajo del mínimo de 5.\"}\n"},{"content":"=={{ $json.message.text }}"}]},"builtInTools":{},"options":{"maxTokens":400,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-512,128],"id":"9ea92cd1-449c-4743-a5bf-670a61b89b6a","name":"Message a model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}}],"connections":{"Parse & Prepare":{"main":[[{"node":"Reply on Telegram","type":"main","index":0},{"node":"Log to Google Sheets","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Parse & Prepare","type":"main","index":0}]]}},"authors":"Matias Di Benedetto","name":"Version bf3b737b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-06-02T11:50:38.671Z","id":47,"workflowId":"XILMtBnVwfDVuVEYzWBYk","versionId":"bf3b737b-f5c0-488d-aaa9-ea60c5d1c546","event":"activated","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033"}]}}