n8n-portfolio/05-Gastos-Personales/Gastos_personales.json
{"updatedAt":"2026-02-10T15:19:12.318Z","createdAt":"2026-02-03T14:35:30.547Z","id":"SZmRFLHJSklCgsuj","name":"Gastos personales","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"d14b2f89-c2c5-47cc-80e3-be3dc62070fe","name":"Telegram Trigger","webhookId":"52e0395a-3769-4c0a-8ee4-b2260c691caf","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"73057376-124d-435f-9d2f-0da44960abdd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ffb401c-5784-4708-a508-9b86259dc395","leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f146cb1f-487e-48ff-bd31-de49032ec454","leftValue":"={{ $json.message.photo[0].width }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Foto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[304,-16],"id":"16cf4ca6-0f74-4bac-aec7-a3777b440898","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[784,0],"id":"df79b1b3-9f3f-4ee6-986e-2efae53e699f","name":"Get a file","webhookId":"c2099cde-89ea-4807-9abc-0002417c2767","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1072,0],"id":"ee42f000-7961-4310-8144-68b0be9f806c","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[656,272],"id":"14c5ab94-c83b-4dbd-98dc-f46803569304","name":"Get a file1","webhookId":"c2099cde-89ea-4807-9abc-0002417c2767","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1232,272],"id":"b9359509-36e8-4e5a-ae60-5349078198d8","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1200,448],"id":"f6c3bbfa-7544-4ae3-ae7a-b9372bad1e5f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[864,272],"id":"c942ecf5-c5cf-43a6-8758-a79ad787a3c6","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1040,272],"id":"10a44310-4632-4f2c-a679-57599006fd11","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"48e2775c-f1ef-49ac-95f6-3761209c96c4","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-240],"id":"e5ff953b-a147-45a8-b985-842acdb43d93","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $json.Mensaje }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que recibe registros de egresos escritos en lenguaje natural. \nTu tarea es extraer la información y devolverla SOLO como un objeto JSON válido con los siguientes campos:\n\n{\n  \"Tipo\": \"Ingreso o Egreso\",\n  \"Fecha\": \"YYYY-MM-DD\",\n  \"Concepto\": \"Categoría general (Supermercado, Hijos, Sueldo, Renta, etc.)\",\n  \"Detalle\": \"Descripción breve de para qué fue la transacción\",\n  \"Monto\": número,\n  \"Mes\": \"MMM-YY\"\n}\n\nReglas:\n- Si el mensaje no especifica una fecha, usar la fecha de hoy: {{ $now.setLocale('es').toFormat(\"d 'de' MMMM 'de' yyyy\") }}\n- Si el mensaje menciona \"ayer\", \"hoy\" o \"mañana\", calcular la fecha correcta en base a la fecha actual.\n- El campo \"Mes\" siempre debe estar en formato \"MMM-YY\" basado en la fecha..\n- El campo \"Monto\" siempre debe ser un número sin símbolos de moneda.\n- NO agregues explicaciones, solo devuelve el JSON.\n\nEjemplo 1:\nEntrada: \"Hoy gasté 1500 en el supermercado con la Visa.\"\nSalida:\n{\n  \"Fecha\": \"2025-08-16\",\n  \"Concepto\": \"Supermercado\",\n  \"Detalle\": \"Compra en supermercado\",\n  \"Monto\": 1500,\n  \"Mes\": \"Ago-25\"\n}\n\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2048,-464],"id":"0da7be9a-c4af-48dd-ac58-e59807fc1a9e","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2000,-256],"id":"55c84198-f131-4845-a874-ebe7acbe2195","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Fecha\": \"YYYY-MM-DD\",\n  \"Concepto\": \"Supermercado, hijos, sueldo, etc.\",\n  \"Detalle\": \"Texto libre\",\n  \"Monto\": 0,\n  \"Mes\": \"MMM-YY\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2176,-272],"id":"f90e66a8-70ae-4d00-b6b3-3b326103a23b","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Sheet4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.output.Fecha }}","Concepto":"={{ $json.output.Concepto }}","Monto":"={{ $json.output.Monto }}","Mes":"={{ $json.output.Mes }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Concepto","displayName":"Concepto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalle ","displayName":"Detalle ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Monto","displayName":"Monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mes","displayName":"Mes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2384,-464],"id":"8ffe30ea-0403-4bdc-a872-4f61151e729c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"assignments":{"assignments":[{"id":"78a6f3df-925d-4341-a12e-b7f900db4377","name":"Mensaje","value":"={{ $json.text }}","type":"string"},{"id":"51d49126-a7e0-4794-8b53-3debe2fa2782","name":"ID","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,0],"id":"5570eb41-a006-4976-b7be-91d12a049631","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2672,272],"id":"ad174542-2927-46d9-892f-e753c3949e15","name":"Send a text message","webhookId":"b789addb-6788-4f4f-a157-76f80700b024","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.Mensaje }}","options":{"systemMessage":"=## Rol del agente\nEres un agente personal de control de gastos conectado a Telegram y a un Excel.  \nTu único objetivo es **registrar, actualizar o eliminar gastos** de forma ordenada y correcta.\n\n---\n\n##  Reglas generales (OBLIGATORIAS)\n\n- Responde **siempre en español**\n- Tono **breve, rápido y casual**\n- **Nunca confirmes antes de guardar**\n- **Nunca inventes datos**\n- Si falta información, **pregunta solo lo que falta**\n- Todos los montos son **egresos** (números positivos)\n- Solo registra datos en el Excel, **no análisis ni consejos**\n\n---\n\n##  Estructura del Excel (FIJA)\n\nLas columnas son exactamente:\n\n- Fecha  \n- Concepto  \n- Detalle  \n- Monto  \n- Mes  \n\n---\n\n##  Manejo de Fecha y Mes (CRÍTICO)\n\n- La **fecha SIEMPRE** se obtiene con este código (no se pregunta al usuario):{{ $now.setLocale('es').toFormat(\"d 'de' MMMM 'de' yyyy\") }}\n- En el Excel, la fecha se guarda como:\n  - **día / primeras 3 letras del mes**\n  - Ejemplo: `26/Ene`\n\n- El **Mes** se guarda como texto completo:\n  - Ejemplo: `Enero`, `Febrero`, etc.\n\n---\n\n##  Entrada del usuario (texto, audio o imagen)\n\n- Si es **texto**: interpreta directamente los datos.\n- Si es **audio**: interpreta la transcripción ya entregada.\n- Si es **imagen**: interpreta los datos extraídos por la IA previa.\n- Nunca menciones cómo se procesó el audio o la imagen.\n\n---\n## Clasificación automática del Concepto (OBLIGATORIA)\n\nCuando el usuario NO diga explícitamente el concepto, el agente DEBE inferirlo\nsegún palabras clave del mensaje.\n\nUsar SIEMPRE una de estas categorías fijas como Concepto:\n\n- Supermercado\n- Salidas\n- Escuela\n- Transporte\n- Servicios\n- Salud\n- Renta\n- Otros\n\n### Reglas de asignación\n\n- Oxxo, 7-eleven, Kiosco, Tienda, Super, Walmart, Soriana, Chedraui  \n  → Concepto = Supermercado\n\n- Bar, Antro, Cerveza, Alcohol, Restaurante, Comida fuera, Cena, Café  \n  → Concepto = Salidas\n\n- Colegiatura, Útiles, Escuela, Universidad, Copias, Impresión, Curso  \n  → Concepto = Escuela\n\n- Uber, Didi, Taxi, Camión, Metro, Gasolina, Estacionamiento  \n  → Concepto = Transporte\n\n- Luz, Agua, Internet, Teléfono, Gas  \n  → Concepto = Servicios\n\n- Doctor, Farmacia, Medicinas, Hospital  \n  → Concepto = Salud\n\n- Renta, Alquiler  \n  → Concepto = Renta\n\n- Si no encaja claramente en ninguna categoría  \n  → Concepto = Otros\n\n\n##  Proceso interno (Think)\n\nAntes de actuar:\n1. Identifica si el usuario quiere:\n   - Registrar un gasto\n   - Actualizar un gasto\n   - Eliminar un gasto\n   - Consultar columnas\n2. Verifica si tienes:\n   - Concepto\n   - Detalle\n   - Monto\n3. Si falta algo, **pregunta al usuario todos los datos faltantes**\n4. Cuando todo esté claro, ejecuta la herramienta correcta\n\n Usa **Think siempre**, pero **nunca muestres su contenido**.\n\n---\n\n##  Uso de herramientas\n\n### 1️⃣ Obtener_columnas\nUsa **solo si el usuario pregunta por las columnas o la estructura del Excel**.\n\n---\n\n### 2️⃣ Anotar_o_actualizar\nUsa cuando:\n- El usuario envía un gasto nuevo\n- El usuario corrige un gasto existente\n\nDebes enviar siempre:\n- Fecha (formato correcto)\n- Concepto\n- Detalle\n- Monto\n- Mes\n\n---\n\n### 3️⃣ Eliminar_columnas\nUsa cuando el usuario quiere borrar un gasto.\n\nIdentificación del gasto:\n- Fecha + Concepto\n- Si es necesario, añade Detalle\n- Si no es claro, pide más precisión\n\n---\n\n### 4️⃣ Calculator\nUsa solo si:\n- Hay que hacer cálculos antes de guardar\n- Facilita el proceso\n\n---\n\n## Respuestas al usuario\n\n- Sé corto y claro  \n- Ejemplos válidos:\n  - “Listo, gasto registrado.”\n  - “¿Cuál fue el monto?”\n  - “Ese gasto ya quedó corregido.”\n  - “Necesito el concepto para guardarlo.”\n\n---\n\n## 🚫 Prohibiciones\n\n- No confirmes antes de escribir\n- No expliques tu razonamiento\n- No hagas análisis de gastos\n- No cambies el formato del Excel\n- No inventes montos, conceptos o detalles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1920,352],"id":"f86dabc6-9439-4f9f-9fda-2fe478b05303","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1840,560],"id":"a81359d0-b950-43b8-8d7a-53400d9e1956","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1984,544],"id":"56a3db2d-04db-47d4-9c9b-d834be1eadd3","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bE30S5dRJDT1uYKB","name":"Muestra"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2160,608],"id":"1db4f4d5-2109-448e-9c13-e13376228d37","name":"Obtener_columnas","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha del gasto`, 'string') }}","Concepto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Concepto', ``, 'string') }}","Detalle ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Detalle_', ``, 'string') }}","Monto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Monto', ``, 'string') }}","Mes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mes', ``, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Concepto","displayName":"Concepto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalle ","displayName":"Detalle ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Monto","displayName":"Monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mes","displayName":"Mes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2432,544],"id":"651372b2-8589-4e9e-b984-8fddd244f289","name":"Anotar_o_actualizar","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2288,592],"id":"63b408ab-a47e-4a03-962c-7456976fd8d7","name":"Eliminar_columnas","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2560,496],"id":"d2fec4f8-2480-42b6-b329-83603fa1fafb","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2064,736],"id":"4049a0ac-2705-4415-bb97-2e63085a6ce5","name":"Think"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Obtener_columnas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Anotar_o_actualizar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Eliminar_columnas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2fdbf364-cae3-49a4-9508-c05afe266518","activeVersionId":"2fdbf364-cae3-49a4-9508-c05afe266518","versionCounter":45,"triggerCount":1,"shared":[{"updatedAt":"2026-02-03T14:35:30.555Z","createdAt":"2026-02-03T14:35:30.555Z","role":"workflow:owner","workflowId":"SZmRFLHJSklCgsuj","projectId":"704rfNtT6WUmOEeL","project":{"updatedAt":"2025-07-08T17:55:19.517Z","createdAt":"2025-07-08T17:54:18.120Z","id":"704rfNtT6WUmOEeL","name":"Matias Di Benedetto <matiasdibe23@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectRelations":[{"updatedAt":"2025-07-08T17:54:18.120Z","createdAt":"2025-07-08T17:54:18.120Z","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","projectId":"704rfNtT6WUmOEeL","user":{"updatedAt":"2026-06-06T21:50:53.000Z","createdAt":"2025-07-08T17:54:17.578Z","id":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033","email":"matiasdibe23@gmail.com","firstName":"Matias","lastName":"Di Benedetto","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-08T17:55:26.731Z","personalization_survey_n8n_version":"1.102.0"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"TGF1I5CtgnDX1erq","userActivatedAt":1753366493359,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutGoogleSheets":true,"preBuiltAgentsCallout":true,"preBuiltAgentsModalCallout":true},"npsSurvey":{"responded":true,"lastShownAt":1770735016907}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-06-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-10T15:20:29.000Z","createdAt":"2026-02-10T15:19:03.640Z","versionId":"2fdbf364-cae3-49a4-9508-c05afe266518","workflowId":"SZmRFLHJSklCgsuj","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"d14b2f89-c2c5-47cc-80e3-be3dc62070fe","name":"Telegram Trigger","webhookId":"52e0395a-3769-4c0a-8ee4-b2260c691caf","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"73057376-124d-435f-9d2f-0da44960abdd"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6ffb401c-5784-4708-a508-9b86259dc395","leftValue":"={{ $json.message.voice.mime_type }}","rightValue":"audio/ogg","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f146cb1f-487e-48ff-bd31-de49032ec454","leftValue":"={{ $json.message.photo[0].width }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Foto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[304,-16],"id":"16cf4ca6-0f74-4bac-aec7-a3777b440898","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[784,0],"id":"df79b1b3-9f3f-4ee6-986e-2efae53e699f","name":"Get a file","webhookId":"c2099cde-89ea-4807-9abc-0002417c2767","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1072,0],"id":"ee42f000-7961-4310-8144-68b0be9f806c","name":"Transcribe a recording","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[656,272],"id":"14c5ab94-c83b-4dbd-98dc-f46803569304","name":"Get a file1","webhookId":"c2099cde-89ea-4807-9abc-0002417c2767","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"promptType":"define","text":"**\"Eres un experto en visión computarizada y tu tarea es analizar y describir la imagen que te proporciono.\nGenera una descripción clara, objetiva y detallada de la imagen, incluyendo:\n\nElementos principales que aparecen.\n\nColores, formas y estilo visual.\n\nContexto o posible función de la imagen (si es deducible).\n\nSi hay personas, objetos o escenarios, descríbelos de forma neutral.\nNO inventes información que no esté en la imagen.\"**","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[1232,272],"id":"b9359509-36e8-4e5a-ae60-5349078198d8","name":"Describir imagen"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1200,448],"id":"f6c3bbfa-7544-4ae3-ae7a-b9372bad1e5f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[864,272],"id":"c942ecf5-c5cf-43a6-8758-a79ad787a3c6","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1040,272],"id":"10a44310-4632-4f2c-a679-57599006fd11","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"48e2775c-f1ef-49ac-95f6-3761209c96c4","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,-240],"id":"e5ff953b-a147-45a8-b985-842acdb43d93","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $json.Mensaje }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un asistente que recibe registros de egresos escritos en lenguaje natural. \nTu tarea es extraer la información y devolverla SOLO como un objeto JSON válido con los siguientes campos:\n\n{\n  \"Tipo\": \"Ingreso o Egreso\",\n  \"Fecha\": \"YYYY-MM-DD\",\n  \"Concepto\": \"Categoría general (Supermercado, Hijos, Sueldo, Renta, etc.)\",\n  \"Detalle\": \"Descripción breve de para qué fue la transacción\",\n  \"Monto\": número,\n  \"Mes\": \"MMM-YY\"\n}\n\nReglas:\n- Si el mensaje no especifica una fecha, usar la fecha de hoy: {{ $now.setLocale('es').toFormat(\"d 'de' MMMM 'de' yyyy\") }}\n- Si el mensaje menciona \"ayer\", \"hoy\" o \"mañana\", calcular la fecha correcta en base a la fecha actual.\n- El campo \"Mes\" siempre debe estar en formato \"MMM-YY\" basado en la fecha..\n- El campo \"Monto\" siempre debe ser un número sin símbolos de moneda.\n- NO agregues explicaciones, solo devuelve el JSON.\n\nEjemplo 1:\nEntrada: \"Hoy gasté 1500 en el supermercado con la Visa.\"\nSalida:\n{\n  \"Fecha\": \"2025-08-16\",\n  \"Concepto\": \"Supermercado\",\n  \"Detalle\": \"Compra en supermercado\",\n  \"Monto\": 1500,\n  \"Mes\": \"Ago-25\"\n}\n\n"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2048,-464],"id":"0da7be9a-c4af-48dd-ac58-e59807fc1a9e","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2000,-256],"id":"55c84198-f131-4845-a874-ebe7acbe2195","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"jsonSchemaExample":"{\n  \"Fecha\": \"YYYY-MM-DD\",\n  \"Concepto\": \"Supermercado, hijos, sueldo, etc.\",\n  \"Detalle\": \"Texto libre\",\n  \"Monto\": 0,\n  \"Mes\": \"MMM-YY\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2176,-272],"id":"f90e66a8-70ae-4d00-b6b3-3b326103a23b","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Sheet4","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $json.output.Fecha }}","Concepto":"={{ $json.output.Concepto }}","Monto":"={{ $json.output.Monto }}","Mes":"={{ $json.output.Mes }}"},"matchingColumns":[],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Concepto","displayName":"Concepto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalle ","displayName":"Detalle ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Monto","displayName":"Monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mes","displayName":"Mes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2384,-464],"id":"8ffe30ea-0403-4bdc-a872-4f61151e729c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"assignments":{"assignments":[{"id":"78a6f3df-925d-4341-a12e-b7f900db4377","name":"Mensaje","value":"={{ $json.text }}","type":"string"},{"id":"51d49126-a7e0-4794-8b53-3debe2fa2782","name":"ID","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1744,0],"id":"5570eb41-a006-4976-b7be-91d12a049631","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2672,272],"id":"ad174542-2927-46d9-892f-e753c3949e15","name":"Send a text message","webhookId":"b789addb-6788-4f4f-a157-76f80700b024","credentials":{"telegramApi":{"id":"9ENWazlj7HVy26Ah","name":"Gastos Matias"}}},{"parameters":{"promptType":"define","text":"=Mensaje del usuario: {{ $json.Mensaje }}","options":{"systemMessage":"=## Rol del agente\nEres un agente personal de control de gastos conectado a Telegram y a un Excel.  \nTu único objetivo es **registrar, actualizar o eliminar gastos** de forma ordenada y correcta.\n\n---\n\n##  Reglas generales (OBLIGATORIAS)\n\n- Responde **siempre en español**\n- Tono **breve, rápido y casual**\n- **Nunca confirmes antes de guardar**\n- **Nunca inventes datos**\n- Si falta información, **pregunta solo lo que falta**\n- Todos los montos son **egresos** (números positivos)\n- Solo registra datos en el Excel, **no análisis ni consejos**\n\n---\n\n##  Estructura del Excel (FIJA)\n\nLas columnas son exactamente:\n\n- Fecha  \n- Concepto  \n- Detalle  \n- Monto  \n- Mes  \n\n---\n\n##  Manejo de Fecha y Mes (CRÍTICO)\n\n- La **fecha SIEMPRE** se obtiene con este código (no se pregunta al usuario):{{ $now.setLocale('es').toFormat(\"d 'de' MMMM 'de' yyyy\") }}\n- En el Excel, la fecha se guarda como:\n  - **día / primeras 3 letras del mes**\n  - Ejemplo: `26/Ene`\n\n- El **Mes** se guarda como texto completo:\n  - Ejemplo: `Enero`, `Febrero`, etc.\n\n---\n\n##  Entrada del usuario (texto, audio o imagen)\n\n- Si es **texto**: interpreta directamente los datos.\n- Si es **audio**: interpreta la transcripción ya entregada.\n- Si es **imagen**: interpreta los datos extraídos por la IA previa.\n- Nunca menciones cómo se procesó el audio o la imagen.\n\n---\n## Clasificación automática del Concepto (OBLIGATORIA)\n\nCuando el usuario NO diga explícitamente el concepto, el agente DEBE inferirlo\nsegún palabras clave del mensaje.\n\nUsar SIEMPRE una de estas categorías fijas como Concepto:\n\n- Supermercado\n- Salidas\n- Escuela\n- Transporte\n- Servicios\n- Salud\n- Renta\n- Otros\n\n### Reglas de asignación\n\n- Oxxo, 7-eleven, Kiosco, Tienda, Super, Walmart, Soriana, Chedraui  \n  → Concepto = Supermercado\n\n- Bar, Antro, Cerveza, Alcohol, Restaurante, Comida fuera, Cena, Café  \n  → Concepto = Salidas\n\n- Colegiatura, Útiles, Escuela, Universidad, Copias, Impresión, Curso  \n  → Concepto = Escuela\n\n- Uber, Didi, Taxi, Camión, Metro, Gasolina, Estacionamiento  \n  → Concepto = Transporte\n\n- Luz, Agua, Internet, Teléfono, Gas  \n  → Concepto = Servicios\n\n- Doctor, Farmacia, Medicinas, Hospital  \n  → Concepto = Salud\n\n- Renta, Alquiler  \n  → Concepto = Renta\n\n- Si no encaja claramente en ninguna categoría  \n  → Concepto = Otros\n\n\n##  Proceso interno (Think)\n\nAntes de actuar:\n1. Identifica si el usuario quiere:\n   - Registrar un gasto\n   - Actualizar un gasto\n   - Eliminar un gasto\n   - Consultar columnas\n2. Verifica si tienes:\n   - Concepto\n   - Detalle\n   - Monto\n3. Si falta algo, **pregunta al usuario todos los datos faltantes**\n4. Cuando todo esté claro, ejecuta la herramienta correcta\n\n Usa **Think siempre**, pero **nunca muestres su contenido**.\n\n---\n\n##  Uso de herramientas\n\n### 1️⃣ Obtener_columnas\nUsa **solo si el usuario pregunta por las columnas o la estructura del Excel**.\n\n---\n\n### 2️⃣ Anotar_o_actualizar\nUsa cuando:\n- El usuario envía un gasto nuevo\n- El usuario corrige un gasto existente\n\nDebes enviar siempre:\n- Fecha (formato correcto)\n- Concepto\n- Detalle\n- Monto\n- Mes\n\n---\n\n### 3️⃣ Eliminar_columnas\nUsa cuando el usuario quiere borrar un gasto.\n\nIdentificación del gasto:\n- Fecha + Concepto\n- Si es necesario, añade Detalle\n- Si no es claro, pide más precisión\n\n---\n\n### 4️⃣ Calculator\nUsa solo si:\n- Hay que hacer cálculos antes de guardar\n- Facilita el proceso\n\n---\n\n## Respuestas al usuario\n\n- Sé corto y claro  \n- Ejemplos válidos:\n  - “Listo, gasto registrado.”\n  - “¿Cuál fue el monto?”\n  - “Ese gasto ya quedó corregido.”\n  - “Necesito el concepto para guardarlo.”\n\n---\n\n## 🚫 Prohibiciones\n\n- No confirmes antes de escribir\n- No expliques tu razonamiento\n- No hagas análisis de gastos\n- No cambies el formato del Excel\n- No inventes montos, conceptos o detalles"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1920,352],"id":"f86dabc6-9439-4f9f-9fda-2fe478b05303","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1840,560],"id":"a81359d0-b950-43b8-8d7a-53400d9e1956","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"dx8KLrXf4CadNerQ","name":"Prueba chatbot"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":2},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1984,544],"id":"56a3db2d-04db-47d4-9c9b-d834be1eadd3","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"bE30S5dRJDT1uYKB","name":"Muestra"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2160,608],"id":"1db4f4d5-2109-448e-9c13-e13376228d37","name":"Obtener_columnas","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `Fecha del gasto`, 'string') }}","Concepto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Concepto', ``, 'string') }}","Detalle ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Detalle_', ``, 'string') }}","Monto":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Monto', ``, 'string') }}","Mes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mes', ``, 'string') }}"},"matchingColumns":["Fecha"],"schema":[{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Concepto","displayName":"Concepto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalle ","displayName":"Detalle ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Monto","displayName":"Monto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mes","displayName":"Mes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":false}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2432,544],"id":"651372b2-8589-4e9e-b984-8fddd244f289","name":"Anotar_o_actualizar","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8","mode":"list","cachedResultName":"Proyección de Gastos 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":572197834,"mode":"list","cachedResultName":"Gastos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-hMQ8p5fMmtwX8cMrHBlRBl6dNzxuBmz-oW5EX_rsg8/edit#gid=572197834"},"startIndex":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Row_Number', ``, 'number') }}","numberToDelete":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number_of_Rows_to_Delete', ``, 'number') }}"},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2288,592],"id":"63b408ab-a47e-4a03-962c-7456976fd8d7","name":"Eliminar_columnas","credentials":{"googleSheetsOAuth2Api":{"id":"5PpdrAquLcNma0EH","name":"n8n-total"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2560,496],"id":"d2fec4f8-2480-42b6-b329-83603fa1fafb","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2064,736],"id":"4049a0ac-2705-4415-bb97-2e63085a6ce5","name":"Think"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Get a file1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Describir imagen","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Describir imagen","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Edit Fields1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Describir imagen":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Append row in sheet":{"main":[[]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Obtener_columnas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Anotar_o_actualizar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Eliminar_columnas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"Matias Di Benedetto","name":"gastos_personales_1.00.00","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-10T15:20:29.413Z","id":45,"workflowId":"SZmRFLHJSklCgsuj","versionId":"2fdbf364-cae3-49a4-9508-c05afe266518","event":"activated","userId":"42ca1209-ffc1-48a0-bf1e-9b2ff7cfb033"}]}}